<app-header-top></app-header-top>
<app-left-sidebar></app-left-sidebar>
<div class="page">
  <app-page-topbar></app-page-topbar>
  <div class="section-body mt-3" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-md-12">

            <div  [ngSwitch]="firstRole">
              <ng-container *ngSwitchCase="'ADMIN'">
                <app-view-admin-delivery-request-widget [delivery]="delivery"></app-view-admin-delivery-request-widget>
              </ng-container>
              <ng-container *ngSwitchCase="'DRIVER'">
                <app-view-driver-delivery-request-widget [delivery]="delivery"></app-view-driver-delivery-request-widget>
              </ng-container>
              <ng-container *ngSwitchCase="'VENDOR'">
                <app-view-delivery-request-widget [delivery]="delivery"></app-view-delivery-request-widget>
              </ng-container>
            </div>
        </div>

        <div class="row clearfix col-lg-4 " >
        <div class="col-md-12"  *ngIf="delivery">

          <div class="card">
            <div class="card-body">
              <ul class="new_timeline mt-3">
                <li>
                  <div class="bullet {{delivery.status == 'PENDING' ? 'green' : 'inactive'}}"></div>
                  <div class="time">{{delivery.dateCreated | date:'dd MMM, yyyy hh:mm a'}}</div>
                  <div class="desc">
                    <h3>Delivery Request</h3>
                  </div>
                </li>
                <li class="">
                  <div class="bullet {{delivery.status == 'DRIVER_ASSIGNED' && delivery.driver ? 'green' : 'inactive'}}"></div>
                  <div class="time">{{ driverAssignedDate  ? (driverAssignedDate | date:'dd MMM, yyyy hh:mm a') : ''}}</div>
<!--
                  <div class="time" *ngIf="delivery.lastUpdated">{{delivery.lastUpdated | date:'hh:mm a'}}</div>
-->
                  <div class="desc">
                    <h3>Assign Driver</h3>
                    <h4 >{{delivery.driver  ? delivery.driver.name : ''}}</h4>
                  </div>
                </li>
                <li>
                  <div class="bullet {{delivery.status == 'IN_TRANSIT' ? 'green' : 'inactive'}}"></div>
                  <div class="time">{{inTransitDate   ? (inTransitDate | date:'dd MMM, yyyy hh:mm a') : ''}}</div>
                  <div class="desc">
                    <h3>Delivery In-transit
                    </h3>
                  </div>
                </li>
                <li>
                  <div class="bullet {{delivery.status == 'DELIVERED' ? 'green' : 'inactive'}}"></div>
                  <div class="time">{{deliveredDate ? (deliveredDate | date:'dd MMM, yyyy hh:mm a') : ''}}</div>
                  <div class="desc">
                    <h3>Item Delivered</h3>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

