<body>    
  <div id="layoutDefault">
    <div id="layoutDefault_content">
      <main>


        <!--NAV STARTS-->
        <nav class="navbar navbar-marketing navbar-expand-lg bg-black navbar-dark fixed-top">
          <div class="container">
              <a class="navbar-brand text-white" href=""><img height="" src="../../../assets/images/NaytifBox_logoS1_w_500px_PNG.png" alt=""> </a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto mr-lg-5">
                        <li class="nav-item"><a class="nav-link active" href="">Home </a></li>
                      <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                      <li class="nav-item"><a class="nav-link" href="https://medium.com/@naytifbox">Blog</a></li>
                      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                  </ul>
                  <a class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white" href="/register">Signup<i class="fa fa-arrow-right ml-1"></i></a>
              </div>
          </div>
        </nav>

        <div class="section-body mt-15" >
          <div class="container">
            <div class="row" style="margin-bottom: 2rem;">
              <div class="col-lg-8 col-md-12">
                  <app-view-delivery-request-widget [delivery]="delivery"></app-view-delivery-request-widget>
              </div>

              <div class="row clearfix col-lg-4 " >
                <div class="col-md-12"  *ngIf="delivery">
                  <div class="card rounded-0">
                    <div class="card-body">
                      <ul class="new_timeline mt-3">
                        <li>
                          <div class="bullet {{delivery.status == 'PENDING' ? 'green' : 'inactive'}}"></div>
                          <div class="time">{{delivery.dateCreated | date:'dd MMM, yyyy hh:mm a'}}</div>
                          <div class="desc">
                            <h3>Delivery Request</h3>
                          </div>
                        </li>
                        <li class="">
                          <div class="bullet {{delivery.status == 'DRIVER_ASSIGNED' && delivery.driver ? 'green' : 'inactive'}}"></div>
                          <div class="time">{{ driverAssignedDate ? (driverAssignedDate | date:'dd MMM, yyyy hh:mm a') : ''}}</div>
        <!--
                          <div class="time" *ngIf="delivery.lastUpdated">{{delivery.lastUpdated | date:'hh:mm a'}}</div>
        -->
                          <div class="desc">
                            <h3>Assign Driver</h3>
                          </div>
                        </li>
                        <li>
                          <div class="bullet {{delivery.status == 'IN_TRANSIT' ? 'green' : 'inactive'}}"></div>
                          <div class="time">{{inTransitDate  ? (inTransitDate | date:'dd MMM, yyyy hh:mm a') : ''}}</div>
                          <div class="desc">
                            <h3>Delivery In-transit
                            </h3>
                          </div>
                        </li>
                        <li>
                          <div class="bullet {{delivery.status == 'DELIVERED' ? 'green' : 'inactive'}}"></div>
                          <div class="time">{{deliveredDate ? (deliveredDate | date:'dd MMM, yyyy hh:mm a') : ''}}</div>
                          <div class="desc">
                            <h3>Item Delivered</h3>
                          </div>
                        </li>
        
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="message" > 
              {{message}}
            </div>
          </div>
        </div>
      </main>
    </div>


    <!--FOOTER STARTS-->
    <div id="layoutDefault_footer" style="margin-top: 4rem;">
      <footer class="footer pt-10 pb-5 mt-auto bg-black footer-light">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3">
                      <div class="footer-brand"><img style="height: 5rem; width: 5rem;" src="../assets/images/NaytifBox_logoIcon_250px_PNG.png"></div>
                      <div class="mb-3" style="margin-top: 2rem;">Ready | Send | Done</div>
                  </div>
                  <div class="col-lg-9">
                      <div class="row">
                          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                              <div class="text-uppercase-expanded text-xs mb-4 text-yellow">About</div>
                              <ul class="list-unstyled mb-0">
                                  <li class="mb-2"><a href="/pricing">Pricing</a></li>
                                  <li class="mb-2"><a href="/faqs">FAQs</a></li>
                                  <li class="mb-2"><a href="/terms">Terms</a></li>
                                  <li class="mb-2"><a href="/shipping-policy">Shipping policy</a></li>
                              </ul>
                          </div>
                          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                              <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Company</div>
                              <ul class="list-unstyled mb-0">
                                  <li class="mb-2"><a href="/partner">Become a partner</a></li>
                                  <li class="mb-2"><a href="https://medium.com/@naytifbox">Blog</a></li>
                              </ul>
                          </div>
                          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                              <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Contact us</div>
                              <ul class="list-unstyled mb-0">
                                  <li class="mb-2">080-923-777-74</li>
                                  <li class="mb-2">hello@naytifbox.com</li>
                              </ul>
                              <div class="icon-list-social mb-5 bold text-yellow" style="display: block;">
                                  <a class="icon-list-social-link" href="https://instagram.com/naytifbox.ng" target="_blank"><i class="fa fa-instagram"></i></a>
                                  <a class="icon-list-social-link" href="https://wa.me/2348092377774" target="_blank"><i class="fa fa-whatsapp"></i></a>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
              <hr class="my-5" />
              <div class="row align-items-center">
                  <div class="col-md-6 small">Copyright &copy; NaytifBox 2020</div>
              </div>
          </div>
      </footer>
    </div>
  </div>
</body>
