<app-header-top></app-header-top>
<app-left-sidebar></app-left-sidebar>
<div class="page">
  <app-page-topbar></app-page-topbar>
  <div class="section-body" *ngIf="user">
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-md-12">
          <div class="card card-profile">
            <div class="card-body row clearfix" > 
                
                <div class="col-lg-2">
                    <div class="avatar avatar-pink" data-toggle="tooltip" data-placement="top" title="" data-original-title="Avatar Name">
                        <span>GH</span>
                      </div>
                    <span>{{user.name || ''}}</span>
                    
                </div>
                <div class="col-lg-4">
                    <span>Username: {{user.email || ''}}</span>
                    <br>
                    <span>Role: DRIVER</span>
                </div>
                <div class="col-lg-4">
                    <span>Last Location: {{lastLocation||'Nil'}}</span>
                    <br>
                    <span>Date :</span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-body  py-4">
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-12">
          <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-timeline-tab" data-toggle="pill" href="#pills-timeline" role="tab" aria-controls="pills-timeline" aria-selected="true">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" id="pills-blog-tab" data-toggle="pill" href="#pills-blog" role="tab" aria-controls="pills-blog" aria-selected="true">Settings</a>
            </li> -->
          </ul>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="tab-content" id="pills-tabContent">
           
            <div class="tab-pane fade show active" id="pills-timeline" role="tabpanel" aria-labelledby="pills-timeline-tab">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Activity</h3>
             
                </div>
                <div class="card-body">
                  <agm-map [latitude]="driver.latitude" [longitude]="driver.longitude" [mapTypeControl]="true">

                    <agm-marker [latitude]="driver.latitude" [longitude]="driver.longitude">
                    </agm-marker>
                    <agm-polyline  [strokeColor]="'#2196f3'">
                        <ng-container *ngFor="let i of latlng">
                        <agm-polyline-point  [latitude]="i.latitude" [longitude]="i.longitude">
                        </agm-polyline-point>
                    </ng-container>
                    </agm-polyline>
                  </agm-map>
                    <!-- <div #gmap style="width:100%;height:300px"></div> -->
                 
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Edit Profile</h3>
                  
                </div>
                <div class="card-body">
                  <div class="row clearfix">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" disabled="" placeholder="Company" value="Epic Theme">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                      <div class="form-group">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" placeholder="Username" value="michael23">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="form-group">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control" placeholder="Email">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="form-group">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" placeholder="Company" value="Jane">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="form-group">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" value="Pearson">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control" placeholder="Home Address" value="455 S. Airport St. Moncks Corner">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="form-group">
                        <label class="form-label">City</label>
                        <input type="text" class="form-control" placeholder="City" value="New York">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                      <div class="form-group">
                        <label class="form-label">Postal Code</label>
                        <input type="number" class="form-control" placeholder="ZIP Code">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="form-label">Country</label>
                        <select class="form-control custom-select">
                          <option value="">USA</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group mb-0">
                        <label class="form-label">About Me</label>
                        <textarea rows="5" class="form-control" placeholder="Here can be your description">Oh so, your weak rhyme You doubt I'll bother, reading into it I'll probably won't, left to my own devices But that's the difference in our opinions.</textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-right">
                  <button type="submit" class="btn btn-primary">Update Profile</button>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-blog" role="tabpanel" aria-labelledby="pills-blog-tab">
              <div class="card">
                <div class="card-body">
                  <div class="new_post">
                    <div class="form-group">
                      <textarea rows="4" class="form-control no-resize" placeholder="Please type what you want..."></textarea>
                    </div>
                    <div class="mt-4 text-right">
                      <button class="btn btn-warning mr-1"><i class="icon-link"></i></button>
                      <button class="btn btn-warning mr-1"><i class="icon-camera"></i></button>
                      <button class="btn btn-primary mr-1">Post</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card blog_single_post">
                <div class="img-post">
                  <img class="d-block img-fluid" src="{{url}}assets/images/gallery/6.jpg" alt="First slide">
                </div>
                <div class="card-body">
                  <h4><a href="#">All photographs are accurate</a></h4>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
                </div>
                <div class="footer">
                  <div class="actions">
                    <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue Reading</a>
                  </div>
                  <ul class="stats list-unstyled">
                    <li><a href="javascript:void(0);">General</a></li>
                    <li><a href="javascript:void(0);" class="icon-heart"> 28</a></li>
                    <li><a href="javascript:void(0);" class="icon-bubbles"> 128</a></li>
                  </ul>
                </div>
                <ul class="list-group card-list-group">
                  <li class="list-group-item py-5">
                    <div class="media">
                      <img class="media-object avatar avatar-md mr-4" src="{{url}}assets/images/xs/avatar3.jpg"  alt=""/>
                      <div class="media-body">
                        <div class="media-heading">
                          <small class="float-right text-muted">4 min</small>
                          <h5>Peter Richards</h5>
                        </div>
                        <div>
                          Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
                          justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes,
                          nascetur ridiculus mus.
                        </div>
                        <ul class="media-list">
                          <li class="media mt-4">
                            <img class="media-object avatar mr-4" src="{{url}}assets/images/xs/avatar1.jpg" alt=""/>
                            <div class="media-body">
                              <strong>Debra Beck: </strong>
                              Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus
                              auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="card blog_single_post">
                <div class="img-post">
                  <img class="d-block img-fluid" src="{{url}}assets/images/gallery/4.jpg" alt="First slide">
                </div>
                <div class="card-body">
                  <h4><a href="#">All photographs are accurate</a></h4>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
                </div>
                <div class="footer">
                  <div class="actions">
                    <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue Reading</a>
                  </div>
                  <ul class="stats list-unstyled">
                    <li><a href="javascript:void(0);">General</a></li>
                    <li><a href="javascript:void(0);" class="icon-heart"> 28</a></li>
                    <li><a href="javascript:void(0);" class="icon-bubbles"> 128</a></li>
                  </ul>
                </div>
                <ul class="list-group card-list-group">
                  <li class="list-group-item py-5">
                    <div class="media">
                      <img class="media-object avatar avatar-md mr-4" src="{{url}}assets/images/xs/avatar7.jpg" alt="" />
                      <div class="media-body">
                        <div class="media-heading">
                          <small class="float-right text-muted">12 min</small>
                          <h5>Peter Richards</h5>
                        </div>
                        <div>
                          Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis
                          parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item py-5">
                    <div class="media">
                      <img class="media-object avatar avatar-md mr-4" src="{{url}}assets/images/xs/avatar6.jpg" alt="" />
                      <div class="media-body">
                        <div class="media-heading">
                          <small class="float-right text-muted">34 min</small>
                          <h5>Peter Richards</h5>
                        </div>
                        <div>
                          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
                          venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                        </div>
                        <ul class="media-list">
                          <li class="media mt-4">
                            <img class="media-object avatar mr-4" src="{{url}}assets/images/xs/avatar5.jpg" alt="" />
                            <div class="media-body">
                              <strong>Wayne Holland: </strong>
                              Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus
                              auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="widgets1">
                <div class="icon">
                  <i class="icon-trophy text-success font-30"></i>
                </div>
                <div class="details">
                  <h6 class="mb-0 font600">Total Deliveries</h6>
                  <span class="mb-0">NGN96K +</span>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="card">
            <div class="card-body">
              <div class="widgets1">
                <div class="icon">
                  <i class="icon-heart text-warning font-30"></i>
                </div>
                <div class="details">
                  <h6 class="mb-0 font600">Total </h6>
                  <span class="mb-0">6,270</span>
                </div>
              </div>
            </div>
          </div> -->
          <div class="card">
            <div class="card-body">
              <div class="widgets1">
                <div class="icon">
                  <i class="icon-handbag text-danger font-30"></i>
                </div>
                <div class="details">
                  <h6 class="mb-0 font600">Delivered</h6>
                  <span class="mb-0">720 Delivered</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="widgets1">
                <div class="icon">
                  <i class="icon-bubbles text-primary font-30"></i>
                </div>
                <div class="details">
                  <h6 class="mb-0 font600">In Transit</h6>
                  <span class="mb-0">614 In Transit</span>
                </div>
              </div>
            </div>
          </div>
       
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

