<div class="homepage-body" data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">Naytif<span>Box</span></a>
      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav nav ml-auto">
          <li class="nav-item"><a href="#home-section" class="nav-link"><span>Home</span></a></li>
          <li class="nav-item"><a href="#sv-pills-1" class="nav-link"><span>Get etimate</span></a></li>
          <li class="nav-item"><a href="/login" class="nav-link"><span>Login</span></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="home-section" class="hero">
    <h3 class="vr"></h3>
  <div class="home-slider js-fullheight owl-carousel">
    <div class="slider-item js-fullheight">
        <div class="overlay"></div>
      <div class="container-fluid p-0">
        <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
            <div class="one-third order-md-last img js-fullheight" style="background-image:url(assets/images/NaytifBox_Logo/NaytifBox-bg1.jpeg);">
                <div class="overlay"></div>
            </div>
          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          <div class="text">
              <span class="subheading">Ready | Send | Done</span>
              <h1 class="mb-4 mt-3">Achieve more with a fast, safe, and affordable logistics <span>Partner</span></h1>
              <p>Manage your pickup, dropoff and sent requests with ease.</p>

              <div id="locationField">
                  <input type="text" id="autocomplete" onFocus="geolocate()" placeholder="Enter pickup address"/>
                  <div class="input-container">
                      <input type="text" id="autocomplete2" onFocus="geolocate()" placeholder="Enter delivery address"><a href="#myModal"><i style="font-size: 3.3rem;" class="fas fa-chevron-right fa-3x" data-toggle="modal" data-target="#myModal"></i></a>
                      
                  </div>
                  <div id="estimate_result" style="color: #ffb53e; display: none;">
                      <span><i class="fas fa-motorcycle"></i> &emsp;</span>Same day from N800.00  |  Express from N1,200.00
                  </div>
                  <p style="font-size: 1rem;"><strong><i class="fas fa-map-signs"></i> Kindly enter addresses with street names for best results</strong></p>
              </div>
          </div>
          </div>
          </div>
      </div>
    </div> 
  </div>
</section>

<section id="request-modal">
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title"><strong style="color: #ffb53e;">Pickup: </strong>This is my pickup address</p>
                    <p class="modal-title"><strong style="color: #ffb53e;">Delivery: </strong>This is my delivery address</p>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="font-size: small;">
                    <p>You are almost done- enter the following deatils</p>
                    <input type="text" placeholder="Sender's full name" style="width: 47%;"> <input type="text" placeholder="Sender's phone number" style="width: 47%;">
                    <hr>
                    <input type="text" placeholder="Receiver's full name" style="width: 47%;"> <input type="text" placeholder="Receiver's phone number" style="width: 47%;">
                    <hr>
                    <div>
                        <form autocomplete="off" action="#">
                            <div class="autocompleteInput">
                                <input id="myInput" type="text" name="myCountry" placeholder="What are you sending?" style="width: 100%;">
                            </div>
                            <div>
                                <textarea style="width: 100%; height: 6rem; padding: 1rem;" placeholder="You can write a specific note about your delivery here"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" style="background-color: #000000; color: #ffffff; cursor: none;"><i class="fas fa-clock"></i> Drop-off 11:35 </button>
                    <button type="button" class="btn" style="background-color: #000000; color: #ffffff; cursor: none;"><i class="far fa-credit-card"></i>  NGN 1,200.00</button>
                    <button type="button" class="btn btn-primary" style="width: 30%;">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</section>	

<section class="ftco-section ftco-no-pb ftco-no-pt ftco-services bg-light" id="services-section">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-4 ftco-animate py-5 nav-link-wrap" style="background-color: #000000;">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link px-4 active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true"><span class="mr-3"><i class="fas fa-calculator"></i></span> Get an estimate</a>

            <a class="nav-link px-4" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false"><span class="mr-3"><i class="fas fa-motorcycle"></i></span> Placing a request</a>
            
            <a class="nav-link px-4" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false"><span class="mr-3"><i class="fas fa-dolly"></i></span> Pickups and dropoffs</a>

            <a class="nav-link px-4" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false"><span class="mr-3"><i class="fas fa-utensils"></i></span> Register as vendor</a>

            <a class="nav-link px-4" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false"><span class="mr-3"><i class="fas fa-handshake"></i></span> Become a partner</a>
            
            <a class="nav-link px-4" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-6" role="tab" aria-controls="v-pills-6" aria-selected="false"><span class="mr-3"><i class="fas fa-file-alt"></i></span> Shipping policy</a>

            <a class="nav-link px-4" id="v-pills-7-tab" data-toggle="pill" href="#v-pills-7" role="tab" aria-controls="v-pills-7" aria-selected="false"><span class="mr-3"><i class="fas fa-question-circle"></i></span> FAQs</a>

          </div>
        </div>
        <div class="col-md-8 ftco-animate p-4 p-md-5 d-flex align-items-center">
          
          <div class="tab-content pl-md-5" id="v-pills-tabContent">

            <div class="tab-pane fade show active py-5" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
              <!--<span class="icon mb-3 d-block flaticon-ideas"></span>-->
              <h2 class="mb-4">Get an estimate</h2>
              <p>Estimate how much you need to pay for your delivery.</p>
              <form id="locationField">
                  <input type="text" id="estimateAutocompletePickUp" onFocus="geolocate()" placeholder="Enter pickup address">
                  <div class="input-container">
                  <input type="text" id="estimateAutocompleteDelivery" onFocus="geolocate()" placeholder="Enter delivery address"><a onclick="myEstimate()"><i style="font-size: 3.3rem;" class="fa fa-chevron-right fa-3x"></i></a>
                  </div>
                  <div id="estimate_result" style="color: #ffb53e; display: none;">
                      <span><i class="fa fa-motorcycle"></i> &emsp;</span>Same day from N800.00  |  Express from N1,200.00
                  </div>
                  <p><strong><i class="fa fa-map-signs"></i> Estimates are only valid for Abuja addresses</strong></p>
              </form>
            </div>

            <div class="tab-pane fade py-5" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
              <!--<span class="icon mb-3 d-block flaticon-flasks"></span>-->
              <h2 class="mb-4">Placing a request</h2>
              <p>We are constantly finding better ways to make efficient deliveries. You can choose a delivery package that meets your current needs.</p>
              <table style="width:100%">
                  <tr>
                    <th style="text-align: center;"><i class="fas fa-people-carry"></i></th>
                    <th>SAMEDAY DELIVERY</th>
                    <th>EXPRESS DELIVERY</th> 
                  </tr>
                  <tr>
                    <td>Delivery Time</td>
                    <td>The receiver receives the item(s) within 6 - 24hours from pickup time</td>
                    <td>The receiver recieves the item(s) within 30mins - 2hours from pickup</td>
                  </tr>
                  <tr>
                      <td>Price</td>
                      <td>Starts from N300- cash or bank transfer</td>
                      <td>Starts from N500- cash or bank transfer</td>
                  </tr>
                  <tr>
                      <td>Order Channels</td>
                      <td>Request order online, WhatsApp and walk-in</td>
                      <td>NaytifBox Call order, online, WhatsApp, and walk-in</td>
                  </tr>
              </table>
                <br>
                  <a style="background-color: #ffb53e;" href="#" class="btn btn-primary px-4 py-3">Call Now</a>&emsp;<a style="background-color: #000000;" href="#" class="btn btn-primary px-4 py-3">WhatsApp</a>
          </div>
            

            <div class="tab-pane fade py-5" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
              <!--<span class="icon mb-3 d-block flaticon-analysis"></span>-->
              <h2 class="mb-4">Pickup</h2>
              <p>Pick up your sent or ordered items at our office. We will notify you by text to confirm your item is ready for pickup. If you are not sure of the delivery status, enter your Tracking ID below</p>
              <div class="input-container">
                  <input type="text" id="fname" name="fname" placeholder="Enter tracking ID"><i class="fas fa-chevron-right fa-3x"></i>
              </div>
              <br>				
              <h2 class="mb-4">Dropoff</h2>
              <p>Drop off your delivery items at our office. We serve as a central dispatch center for destinations within and outside Abuja. Whenever you can, please stop-by.</p>
              
              <a style="background-color: #ffb53e;" href="#" class="btn btn-primary px-4 py-3">Locate us</a>
            </div>
            

            <div class="tab-pane fade py-5" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
              <!--<span class="icon mb-3 d-block flaticon-web-design"></span>-->
              <h2 class="mb-4">NaytifBox Business Account</h2>
              <p>Manage all your orders effortlessly. Enjoy amazing discounts, payment schedule plans, swift and custom services with the NaytifBox business and vendor account.</p>

              <table style="width:100%; align: center;">
                  <tr> 
                    <th style="text-align: center; background-color: #31de79;"><i class="fas fa-utensils"></i></th>
                    <th style="text-align: center; background-color: #31de79;"><i class="fas fa-tshirt"></i></th>
                    <th style="text-align: center; background-color: #31de79;"><i class="fas fa-briefcase"></i></th>
                    <th style="text-align: center; background-color: #31de79;"><i class="fas fa-mobile-alt"></i></th>
                    <th style="text-align: center; background-color: #31de79;"><i class="fas fa-archive"></i></th>
                    <th style="text-align: center; background-color: #31de79;"><i class="fas fa-birthday-cake"></i></th>
                    <th style="text-align: center; background-color: #31de79;"><i class="fas fa-wine-bottle"></i></th>
                    <th style="text-align: center; background-color: #31de79;"><i class="fas fa-prescription-bottle-alt"></i></th>
                  </tr>
              </table>
              <br>
              <p>Fill the form below to get started.</p>
              <form>
                  <input type="text" id="fname" name="fname" placeholder="What's your business name?">
                  <input type="text" id="fname" name="fname" placeholder="Email address">
                  <div class="input-container">
                      <input type="text" id="fname" name="fname" placeholder="Phone number"><i style="" class="fas fa-chevron-right fa-3x"></i>
                  </div>
                  <p><strong>*We are currently accepting only vendors within Abuja.</strong></p>
              </form>
            </div>
            
            <div class="tab-pane fade py-5" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab">
              <!--<span class="icon mb-3 d-block flaticon-innovation"></span>-->
              <h2 class="mb-4">Become a partner</h2>
              <p>Be a NaytifBox partner, earn extra cash, and help us create more jobs.</p>
              <h4 class="mb-4" style="color: #606060;">Step One</h4>
              <p>Fill out the NaytifBox partners' form. We will contact you within 12hours <br> <a href="#" class="btn btn-primary px-4 py-3">Partners' form</a></p>
              <br>
              <h4 class="mb-4" style="color: #606060;">Step Two</h4>
              <p>Your application has been approved- place your motorcycle or truck on the NaytifBox fleet network.<br>Your application was not approved- we will like to see you apply again and better.</p>
              <br>
              <h4 class="mb-4" style="color: #606060;">Step Three</h4>
              <p>Start earning <i style="color: #ffb53e;" class="fas fa-smile fa-2x"></i></p>
            </div>

            <div class="tab-pane fade py-5" id="v-pills-6" role="tabpanel" aria-labelledby="v-pills-4-tab">
              <!--<span class="icon mb-3 d-block flaticon-web-design"></span>-->
              <h2 class="mb-4">Shipping policy</h2>
              <p>NaytifBox adheres to the UPU(Universal Postal Union) list of items not permitted and admitted, and will make changes to the list as updated by the UPU. The items listed below refer to items which NaytifBox does not ship.</p>
              <ol id="ship-policy-a">
                  <li><a href="http://www.upu.int/uploads/tx_sbdownloader/listCustomsNarcoticDrugsUnderInternationalControlEn.pdf">Narcotic drugs under international control (Relevant to Article 19.2 of the UPU Convention – Prohibitions in all categories of items)</a></li>
                  <li><a href="http://www.upu.int/uploads/tx_sbdownloader/listCustomsPsychotropicSubstancesUnderInternationalControlEn.pdf">Psychotropic substances under international control (Relevant to Article 19.2 of the UPU Convention – Prohibitions in all categories of items)</a></li>
                  <li><a href="http://www.upu.int/uploads/tx_sbdownloader/descriptionCustomsClassesOfDangerousGoodsEn.pdf">Definition of 9 classes of dangerous goods (Relevant to Article 19.3 of the UPU Convention – Dangerous Goods)</a></li>
                  <li>Archives - Historical information about prohibited articles (2007 List of prohibited articles)
                      <ul>
                          <li><a href="http://www.upu.int/uploads/tx_sbdownloader/descriptionCustomsProhibitedArticlesEn.pdf">General information about the prohibited articles</a></li>
                          <li><a href="http://www.upu.int/uploads/tx_sbdownloader/listCustomsProhibitedArticlesEn.pdf">List of prohibited articles</a></li>
                      </ul>
                  </li>
              </ol>

            </div> 
           
            <div class="tab-pane fade py-5" id="v-pills-7" role="tabpanel" aria-labelledby="v-pills-6-tab">
              <!--<span class="icon mb-3 d-block flaticon-idea"></span>-->
              <h2 class="mb-4">FAQs</h2>
              
              <div class="faq-div" style="">
                  <input class="faq-input" type="text" id="fname" name="fname" value="How does NaytifBox works?" disabled>
                  <div>
                      <p style="padding: 5px;">It’s easy. Enter your preferred pickup location, pick a time, select package size, enter sender and receiver's details, then submit the order. A Naytif rider shows up at pickup location, picks up your item(s) and delivers it. Oya!</p>					
                  </div>
              </div>

              <div class="faq-div" style="">
                  <input class="faq-input" type="text" id="fname" name="fname" value="How do I pay?" disabled>
                  <div>
                      <p style="padding: 5px;">All payments are before pickup or at pickup location- you can choose to pay cash, debit card or bank transfer. The same applies to Dropoff transactions.</p>					
                  </div>
              </div>

              <div class="faq-div">
                  <input class="faq-input" type="text" id="fname" name="fname" value="How does NaytifBox calculate prices?" disabled>
                  <div>
                      <p style="padding: 5px;">The pricing model is based on distance speed, activity traffic as at the time of request, and the type of request i.e. Express, Same Day or Dropoff. No wahala!.</p>					
                  </div>
              </div>

              <div class="faq-div" style="">
                  <input class="faq-input" type="text" id="fname" name="fname" value="Does NaytifBox do Night deliveries?" disabled>
                  <div>
                      <p style="padding: 5px;">Yes, we do. But, only on weekends- 9am - 6am. We are open on weekdays from 9am - 8pm. Don't forget- you can schedule your pickups.</p>					
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section-2 img" style="background-image: url(assets/images/NaytifBox_Logo/image3.png);">
      <div class="container">
          <div class="row d-md-flex justify-content-end">
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-12">
                          <a href="#" class="services-wrap ftco-animate">
                              <div class="icon d-flex justify-content-center align-items-center">
                                  <span class="ion-ios-arrow-back"></span>
                                  <span class="ion-ios-arrow-forward"></span>
                              </div>
                              <h2>Last Mile Deliveries</h2>
                              <p>Just tell us the pickup address- we will go all the way out for your success.</p>
                          </a>
                          <a href="#" class="services-wrap ftco-animate">
                              <div class="icon d-flex justify-content-center align-items-center">
                                  <span class="ion-ios-arrow-back"></span>
                                  <span class="ion-ios-arrow-forward"></span>
                              </div>
                              <h2>Dropoff and Errand Services</h2>
                              <p>Always remember- we are constantly finding better ways to serve you efficinetly.</p>
                          </a>
                          <a href="#" class="services-wrap ftco-animate">
                              <div class="icon d-flex justify-content-center align-items-center">
                                  <span class="ion-ios-arrow-back"></span>
                                  <span class="ion-ios-arrow-forward"></span>
                              </div>
                              <h2>Vendor and Business Accounts</h2>
                              <p>Whatever the size of your business, explore all the possibilities- let us be your growth partner.</p>
                          </a>
                          <a href="#" class="services-wrap ftco-animate">
                              <div class="icon d-flex justify-content-center align-items-center">
                                  <span class="ion-ios-arrow-back"></span>
                                  <span class="ion-ios-arrow-forward"></span>
                              </div>
                              <h2>24/7 Help &amp; Support</h2>
                              <p>We are always a phone call, IG chat, email, text or a visit away- we want to answer your questions and we love feedbacks!</p>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <a class="ftco-heading-2"><img style="height: 100px; width: 35%; margin-left: 2rem;" src="assets/images/NaytifBox_Logo/NaytifBox_logoIcon_250px_PNG.png"></a>
            <br>
            <div><strong>Ready | Send | Done</strong></div>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">About</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Pricing</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Company</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Become a rider</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Become a partner</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">Sentosa park, Apo Legislative Quarters- Zone A, Abuja, Nigeria.</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+234 8072377777 </span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">hello@naytifbox.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p>
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> NaytifBox
          </p>
        </div>
      </div>
    </div>
  </footer>
 
</div>
