<div class="section-body">
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          Copyright © 2019 Naytif Technologies.
        </div>
      </div>
    </div>
  </footer>
</div>
