<body>    
  <div id="layoutDefault">
    <div id="layoutDefault_content">
      <main>
        <!--NAV STARTS-->
        <nav class="navbar navbar-marketing navbar-expand-lg bg-black navbar-dark fixed-top">
          <div class="container">
            <a class="navbar-brand text-white" href=""><img height="" src="../../../assets/images/NaytifBox_logoS1_w_500px_PNG.png" alt=""> </a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-lg-5" *ngIf="!isLoggedIn()">
                    <li class="nav-item"><a class="nav-link" href="">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://medium.com/@naytifbox">Blog</a></li>
                    <li class="nav-item" ><a class="nav-link" href="/login">Login</a></li>
                </ul>
                <ul class="navbar-nav ml-auto mr-lg-5" *ngIf="isLoggedIn()">
                  <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                  <li class="nav-item"><a class="nav-link" href="/delivery-requests">Delivery Requests</a></li>
                </ul>
                <a class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white"  *ngIf="!isLoggedIn()" href="/register">Signup<i class="fa fa-arrow-right ml-1"></i></a>
            </div>
        </div>
        </nav>

        <div class="container">
        <div class="card">
          <div class="card-status bg-green"></div>
          <div class="card-body text-center">
            <div class="card-category" *ngIf="!message">Confirming Payment <i class="fa fa-spinner fa-spin"></i></div>
          <div *ngIf="message">
            <div class="card-category"  *ngIf="message">
          <div *ngIf="success">   
            <div class="container" style="display: block; margin-top: 7rem; margin-bottom: 2rem; position: relative; text-align: center;">
              <h1 class="text-green" style="margin-bottom: 1rem;">Payment Successful</h1>
              <div class="card rounded-0 text-dark col-lg-6 mb-5" style="position: relative; margin-left: auto; margin-right: auto; height: 20rem; background-image: url(../assets/images/payment_success.svg); background-size: cover; background-repeat: no-repeat; background-position: center;">
              </div>
              <!-- <a class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white" href="{{goBackLink}}">Try Again</a> -->
            </div>  
          </div>
          <div *ngIf="!success">   
            <div class="container" style="display: block; margin-top: 7rem; margin-bottom: 2rem; position: relative; text-align: center;">
              <h1 class="text-danger" style="margin-bottom: 1rem;">Payment Failed</h1>
              <div class="card rounded-0 text-dark col-lg-6 mb-5" style="position: relative; margin-left: auto; margin-right: auto; height: 20rem; background-image: url(../assets/images/payment_failed.svg); background-size: cover; background-repeat: no-repeat; background-position: center;">
              </div>
              <!-- <a class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white" href="{{goBackLink}}">Try Again</a> -->
            </div>  
          </div>
            <p class="text-yellow">{{message}}</p>
          </div>
            <!-- <p>Your Tracking ID is <b>{{trackingId}}</b></p>
            <div class="text-center mt-6">
              <a [routerLink]="['/delivery-requests', trackingId]" class="btn btn-block btn-success">Order Details</a>
            </div> -->
            </div>
          </div>
        </div>
        </div>
      </main>
    </div>
  </div>

  <!--FOOTER STARTS-->
  <div id="layoutDefault_footer">
    <footer class="footer pt-10 pb-5 mt-auto bg-black footer-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-brand"><img style="height: 5rem; width: 5rem;" src="../assets/images/NaytifBox_logoIcon_250px_PNG.png"></div>
                    <div class="mb-3" style="margin-top: 2rem;">Ready | Send | Done</div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                            <div class="text-uppercase-expanded text-xs mb-4 text-yellow">About</div>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><a href="/pricing">Pricing</a></li>
                                <li class="mb-2"><a href="/faqs">FAQs</a></li>
                                <li class="mb-2"><a href="/terms">Terms</a></li>
                                <li class="mb-2"><a href="/shipping-policy">Shipping policy</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                            <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Company</div>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><a href="/partner">Become a partner</a></li>
                                <li class="mb-2"><a href="https://medium.com/@naytifbox">Blog</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                            <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Contact us</div>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2">080-923-777-74</li>
                                <li class="mb-2">hello@naytifbox.com</li>
                            </ul>
                            <div class="icon-list-social mb-5 bold text-yellow" style="display: block;">
                                <a class="icon-list-social-link" href="https://instagram.com/naytifbox.ng" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a class="icon-list-social-link" href="https://wa.me/2348092377774" target="_blank"><i class="fa fa-whatsapp"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-5" />
            <div class="row align-items-center">
                <div class="col-md-6 small">Copyright &copy; NaytifBox 2020</div>
            </div>
        </div>
    </footer>
  </div>

</body>

     
