 
 
 <!--NAV STARTS-->
 <nav class="navbar navbar-marketing navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand text-white" href="#">Naytif<span style="color: #ffb53e;">Box</span></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-lg-5">
                <li class="nav-item"><a class="nav-link" href="">Home </a></li>
                <li class="nav-item"><a class="nav-link" href="#">Get Estimate </a></li>
                <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
            </ul>
            <a class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white" href="register">Signup<i class="fa fa-arrow-right ml-1"></i></a>
        </div>
    </div>
</nav>

<div class="auth">
  <div class="auth_left">
    <div class="card">
      <div class="text-center mb-2">
        <!--<a class="header-brand" href="javascript:void(0);"><i class="fe fe-command brand-logo"></i></a>-->
      </div>
      <div class="card-body">
        <div class="card-title">Login to your account</div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{errorMessage}}
        </div>
        <!--<div class="form-group">
          <select class="custom-select">
            <option>HR Dashboard</option>
            <option>Project Dashboard</option>
            <option>Job Portal</option>
          </select>
        </div>-->
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter username" name="username" [(ngModel)]="form.username" #username="ngModel"
                 required />
          <div *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Password<a href="/forgot-password" class="float-right small">I forgot password</a></label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"  name="password" [(ngModel)]="form.password" #password="ngModel"
                 required minlength="6" />
          <div *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
       <!-- <div class="form-group">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" />
            <span class="custom-control-label">Remember me</span>
          </label>
        </div>-->
        <div class="form-footer">
          <button class="btn btn-primary btn-block" >Sign in <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i></button>
        </div>
        </form>
      </div>
      <div class="text-center text-muted">
        Don't have account yet? <a routerLink="/register">Sign up</a>
      </div>
    </div>
  </div>
  <div class="auth_right">
    <div class="carousel slide" data-ride="carousel" data-interval="3000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;" xml:space="preserve" height="5%">
<style type="text/css">
	.st0{fill:#F9A819;}
</style>
<g>
	<g>
		<path d="M299.1,569.3h15.4v79.2H298l-32.3-56.5h-0.2v56.5H250v-79.2h17.4l31.4,55.2h0.2V569.3z"/>
		<path d="M376.7,637.1c0,3.5,0.3,5.8,1,6.9c0.7,1.2,1.5,1.9,2.4,2.2v2.3h-16.7c-0.2-0.7-0.4-1.2-0.6-1.8c-0.1-0.5-0.3-1-0.4-1.5
			c-0.1-0.5-0.2-1-0.3-1.6c-0.1-0.6-0.1-1.3-0.2-2.1c-0.9,0.9-1.9,1.8-3,2.9c-1.1,1-2.4,2-3.9,2.8c-1.5,0.8-3.2,1.5-5.2,2
			c-1.9,0.6-4.2,0.8-6.9,0.8c-2.2,0-4.4-0.3-6.5-0.9c-2.1-0.6-4-1.6-5.7-3c-1.7-1.4-3.1-3.2-4.1-5.4c-1-2.2-1.5-4.8-1.5-7.8
			c0-2.9,0.4-5.4,1.3-7.6c0.8-2.2,2-4,3.6-5.6c1.5-1.5,3.4-2.8,5.5-3.7c2.1-0.9,4.4-1.6,6.8-1.9l13.9-2.1c1.2-0.1,2.4-0.5,3.6-1.2
			c1.2-0.6,1.8-1.8,1.8-3.5c0-1.6-0.3-2.9-1-3.8c-0.7-0.9-1.5-1.6-2.5-2c-1-0.4-2.1-0.7-3.3-0.8s-2.3-0.2-3.3-0.2
			c-1.9,0-3.5,0.3-4.7,0.8c-1.2,0.5-2.2,1.2-2.8,2c-0.7,0.8-1.1,1.7-1.4,2.6c-0.3,1-0.5,1.9-0.6,2.8h-14.9c0.4-4.5,1.5-8.1,3.1-10.8
			c1.7-2.7,3.7-4.8,6.1-6.2c2.4-1.4,5.1-2.4,8.1-2.8c2.9-0.4,5.9-0.7,8.9-0.7c2.1,0,4.4,0.2,7.1,0.6c2.7,0.4,5.2,1.2,7.7,2.4
			c2.4,1.2,4.5,2.9,6.1,5.2c1.7,2.2,2.5,5.2,2.5,8.8V637.1z M361.6,620c-0.8,0.6-1.9,1.1-3.4,1.7c-1.5,0.5-3.8,1-7.1,1.5
			c-1.5,0.2-2.8,0.5-4.1,0.9c-1.3,0.4-2.4,0.9-3.3,1.5c-1,0.6-1.7,1.5-2.3,2.5c-0.6,1-0.8,2.4-0.8,4c0,1.3,0.2,2.4,0.7,3.4
			c0.5,0.9,1.1,1.7,1.8,2.2c0.7,0.6,1.5,0.9,2.3,1.2c0.8,0.2,1.6,0.3,2.4,0.3c1.7,0,3.4-0.3,5-0.8c1.7-0.6,3.1-1.3,4.4-2.3
			c1.3-1,2.3-2.2,3.1-3.6c0.8-1.4,1.2-3,1.2-4.8V620z"/>
		<path d="M420.4,647.6c-1.8,5.4-3.4,9.8-4.7,13c-1.3,3.2-2.8,5.7-4.3,7.4c-1.5,1.7-3.4,2.8-5.5,3.4c-2.1,0.5-4.8,0.8-8.2,0.8
			c-1,0-2.2,0-3.4-0.1c-1.3,0-2.4-0.1-3.5-0.2v-12.4c0.4,0.1,0.8,0.1,1.3,0.2c0.5,0,1,0.1,1.7,0.1c1.4,0,2.6-0.1,3.8-0.2
			c1.1-0.1,2.1-0.5,2.9-1.2c0.8-0.6,1.5-1.5,2.1-2.7c0.6-1.2,1.1-2.8,1.4-4.7l-21.6-61.1h17.2l12.6,43.2h0.2l12-43.2h16.3
			L420.4,647.6z"/>
		<path d="M467,589.9h9.6v11H467v31.9c0,0.9,0,1.6,0.1,2.2c0.1,0.6,0.3,1.1,0.7,1.4c0.4,0.4,1,0.6,1.9,0.8c0.9,0.2,2.1,0.3,3.6,0.3
			c0.5,0,1,0,1.5-0.1c0.5,0,1.1-0.1,1.7-0.2V649c-1.3,0.1-2.5,0.1-3.6,0.2c-1.2,0-2.4,0.1-3.6,0.1h-2c-3.3,0-6-0.3-8.1-0.9
			c-2.1-0.6-3.7-1.5-4.8-2.6c-1.1-1.1-1.9-2.4-2.3-4c-0.4-1.5-0.6-3.3-0.6-5.2v-35.6h-7.9v-11h7.9V574H467V589.9z"/>
		<path d="M502.3,582.9h-15.4v-14.3h15.4V582.9z M502.3,589.9v58.7h-15.4v-58.7H502.3z"/>
		<path d="M534.9,648.5h-15.4v-47.7H511v-11h8.5v-4.7c0-6.1,1.5-10.4,4.6-13c3.1-2.5,7.3-3.8,12.6-3.8c2.3,0,4,0,5.2,0.1
			c1.2,0,2.1,0.1,2.8,0.2V581h-4.3c-1.3,0-2.4,0.1-3.1,0.3c-0.7,0.2-1.3,0.6-1.6,1.1c-0.3,0.5-0.5,1.2-0.6,2c-0.1,0.8-0.1,1.9-0.1,3
			v2.3h10v11h-10V648.5z"/>
		<path d="M555,569.3h38.5c4.9,0,8.9,0.7,12,2c3.2,1.4,5.6,3.1,7.4,5.1c1.8,2,3.1,4.2,3.8,6.6c0.7,2.4,1.1,4.6,1.1,6.6
			c0,2.9-0.3,5.2-1,7.1c-0.7,1.9-1.5,3.4-2.5,4.6c-1,1.2-2.1,2.2-3.2,2.8c-1.1,0.7-2.1,1.2-2.9,1.7c2.4,0.9,4.4,2,6,3.4
			c1.6,1.4,2.8,2.9,3.8,4.6c0.9,1.7,1.6,3.5,1.9,5.3c0.4,1.9,0.6,3.8,0.6,5.8c0,3.2-0.6,6.2-1.8,9c-1.2,2.8-2.9,5.3-5,7.3
			c-1.1,1.1-2.3,2.1-3.5,3c-1.3,0.9-2.8,1.6-4.6,2.3c-1.8,0.6-4.1,1.1-6.8,1.4c-2.7,0.3-6,0.5-10.1,0.5H555V569.3z M570.9,600.3
			h19.4c3.3,0,6.1-0.7,8.3-2c2.2-1.4,3.4-3.6,3.4-6.8c0-3.3-1.1-5.6-3.3-6.7c-2.2-1.2-5.1-1.8-8.9-1.8h-19V600.3z M570.9,634.9h20.3
			c4,0,7.2-0.9,9.4-2.8c2.2-1.8,3.3-4.8,3.3-8.8c0-1.8-0.3-3.3-1-4.5c-0.7-1.2-1.6-2.2-2.7-3c-1.1-0.8-2.4-1.3-3.8-1.7
			c-1.4-0.3-2.9-0.5-4.4-0.5h-21.1V634.9z"/>
		<path d="M690,619.2c0,5.3-0.8,9.9-2.5,13.8c-1.7,3.9-3.9,7.1-6.6,9.7c-2.8,2.5-5.9,4.4-9.5,5.6c-3.6,1.2-7.4,1.8-11.4,1.8
			c-4,0-7.8-0.6-11.4-1.8c-3.6-1.2-6.8-3.1-9.5-5.6c-2.8-2.5-5-5.8-6.6-9.7c-1.7-3.9-2.5-8.5-2.5-13.8c0-5.3,0.8-9.9,2.5-13.7
			s3.9-7.1,6.6-9.6c2.8-2.5,5.9-4.4,9.5-5.7c3.6-1.2,7.4-1.9,11.4-1.9c4,0,7.8,0.6,11.4,1.9c3.6,1.3,6.8,3.1,9.5,5.7
			c2.8,2.5,5,5.7,6.6,9.6S690,613.9,690,619.2z M674.1,619.2c0-1.8-0.2-3.8-0.6-5.9c-0.4-2.1-1-4-2-5.8c-1-1.8-2.4-3.2-4.3-4.4
			c-1.9-1.2-4.3-1.8-7.2-1.8c-3,0-5.4,0.6-7.3,1.8c-1.8,1.2-3.3,2.6-4.2,4.4c-1,1.8-1.7,3.7-2,5.8c-0.4,2.1-0.6,4.1-0.6,5.9
			c0,1.9,0.2,3.9,0.6,6c0.4,2.1,1,4,2,5.8c1,1.8,2.4,3.2,4.2,4.4c1.8,1.1,4.3,1.7,7.3,1.7c2.9,0,5.3-0.6,7.2-1.7
			c1.9-1.1,3.3-2.6,4.3-4.4c1-1.8,1.7-3.7,2-5.8C673.9,623.1,674.1,621.1,674.1,619.2z"/>
		<path d="M750,648.5h-19.1l-10.1-17.6l-10.1,17.6H692l20-29.9l-19.2-28.8h18.8l9.9,17.1l9.7-17.1h18.2L730,618.7L750,648.5z"/>
	</g>
	<path class="st0" d="M563.4,361.5l-53.7-31c-6-3.5-13.4-3.5-19.4,0l-53.7,31c-6,3.5-9.7,9.9-9.7,16.8v62c0,6.9,3.7,13.4,9.7,16.8
		l53.7,31c6,3.5,13.4,3.5,19.4,0l53.7-31c6-3.5,9.7-9.9,9.7-16.8v-62C573.2,371.4,569.5,364.9,563.4,361.5z M555.5,430.7
		c0,6.6-3.5,12.7-9.2,16l-37.1,21.4c-5.7,3.3-12.7,3.3-18.4,0l-8.6-5v-61.5l-0.1-1.5l0.4-22.5c0,0-17.8,9.9-18.2,10.1
		c-0.8,0.4-2.8,1.9-2.8,7.5l0.2,12.6l-0.4,43.3l-7.6-4.4c-5.7-3.3-9.2-9.4-9.2-16v-42.8c0-6.6,3.5-12.7,9.2-16l37.1-21.4
		c5.7-3.3,12.7-3.3,18.4,0l1.6,0.9c0.4,1.1,0.5,2.6,0,4.7l-4.2,18.5c0,0-1.6,6.2,3.4,3.3l22.9-13.8l13.5,7.8c5.7,3.3,9.2,9.4,9.2,16
		V430.7z"/>
</g>
</svg>

        </div>

      </div>
    </div>
  </div>
</div>

<!--<script src="../assets/bundles/lib.vendor.bundle.js"></script>
<script src="../assets/js/core.js"></script>-->
