<div id="layoutDefault">
  <div id="layoutDefault_content">
      <main class="bg-white overlay overlay-dark overlay-0" style='background-image: url("assets/images/login-banner.jpg"); height: 100vh; display: flex; flex-direction: column; background-size: cover; overflow: hidden;'>
          <nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-dark">
              <div class="container">
                  <a class="navbar-brand text-white" href=""><img height="" src="assets/images/NaytifBox_logoS1_w_500px_PNG.png" alt=""> </a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto mr-lg-5">
                          <li class="nav-item"><a class="nav-link" href="">Home </a></li>
                          <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://medium.com/@naytifbox">Blog</a></li>
                          <li class="nav-item active"><a class="nav-link" href="/login">Login</a></li>
                      </ul>
                      <a class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white active" href="/register">Signup<i class="fa fa-arrow-right ml-1"></i></a>
                  </div>
              </div>
          </nav>
          <header class="page-header" style="height: 100%; margin-bottom: 0;">
            <div class="page-header-content">
                <div class="container">
                    <div class="row justify-content-center align-items-center text-center">
                        <div class="col-lg-6">
                            <div class="text-white strong display-4 pb-4">Welcome back</div>
                            <div *ngIf="errorMessage" class="alert alert-yellow">
                              {{errorMessage}}
                            </div>
                            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>                  
                                <div class="form-group" style="margin-bottom: 0;">
                                    <input type="text" style="width: 80%;" placeholder="Enter username" aria-describedby="emailHelp" name="username" [(ngModel)]="form.username" #username="ngModel" required>
                                    <div *ngIf="f.submitted && username.invalid">
                                        <div class="text-white" *ngIf="username.errors.required"><strong>* Username is required</strong></div>
                                    </div>
                                </div>
                                <div class="form-group">                      
                                    <input type="password" id="exampleInputPassword1" style="width: 80%;" placeholder="Password" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6">
                                    <div *ngIf="f.submitted && password.invalid">
                                        <div class="text-white" *ngIf="password.errors.required"><strong>* Password is required</strong></div>
                                        <div class="text-white" *ngIf="password.errors.minlength"><strong>* Password must be at least 6 characters</strong></div>
                                    </div>                        
                                    <p class="text-white strong" style="font-size: 1rem;">Don't have an account? <span ><a href="/register" class="text-yellow">Register</a></span>  |  <span ><a href="forgot-password" class="text-yellow">Reset password</a></span></p>
                                </div>
                                <button class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white">Login<i class="fa fa-arrow-right ml-1" *ngIf="isLoading"></i></button>
                                <!-- <a class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white">Login<i class="fa fa-arrow-right ml-1" *ngIf="isLoading"></i></a> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
      </main>
  </div>
</div>
