<div id="layoutDefault">
  <div id="layoutDefault_content">
      <main class="bg-img-repeat bg-black" style='background-image: url("../../../assets/images/pattern-shapes.png"); height: 100vh; display: flex; flex-direction: column; overflow: hidden;'>
          <nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-dark">
              <div class="container">
                  <a class="navbar-brand text-white" href=""><img height="" src="../../../assets/images/NaytifBox_logoS1_w_500px_PNG.png" alt=""> </a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto mr-lg-5">
                          <li class="nav-item"><a class="nav-link" href="">Home </a></li>
                          <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                          <li class="nav-item"><a class="nav-link" href="https://medium.com/@naytifbox">Blog</a></li>
                          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                      </ul>
                      <a class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white" href="/register">Signup<i class="fa fa-arrow-right ml-1"></i></a>
                  </div>
              </div>
          </nav>
          <header class="page-header" style="padding-top: 2rem; height: 100%;">
              <div class="page-header-content">
                  <div class="container">
                      <div class="row justify-content-center align-items-center text-center">
                          <div class="col-lg-6">
                              <div class="text-white strong display-4 pb-4">Let's meet you</div>
                              <div *ngIf="errorMessage" class="alert alert-yellow">
                                {{errorMessage}}
                              </div>
                              <div *ngIf="successMessage" class="alert alert-success">
                                Your registration is successful. Please login!
                              </div>                                        
                              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                <div class="form-group" style="margin-bottom: 0;">
                                  <input style="width: 80%;" placeholder="Enter name" type="text" name="name" [(ngModel)]="form.name" #name="ngModel" required>
                                  <div *ngIf="f.submitted && name.invalid && !successMessage">
                                    <div class="error" *ngIf="name.errors.required">* Name is required</div>
                                  </div>                      
                                </div>
                                <div class="form-group" style="margin-bottom: 0;">
                                  <input type="email" style="width: 80%;" placeholder="Enter email" name="email" [(ngModel)]="form.email" #email="ngModel" required email >
                                  <div *ngIf="f.submitted && email.invalid && !successMessage">
                                    <div class="error" *ngIf="email.errors.required">* Email is required</div>
                                    <div class="error" *ngIf="email.errors.email">* Email must be a valid email address</div>
                                  </div>                      
                                </div>
                                <div class="form-group" style="margin-bottom: 0;">
                                  <input type="tel" style="width: 80%;" placeholder="Enter phone number" name="phoneNumber" [(ngModel)]="form.phoneNumber" #phoneNumber="ngModel" required>
                                  <div *ngIf="f.submitted && phoneNumber.invalid  && !successMessage">
                                    <div class="error" *ngIf="phoneNumber.errors.required">* Phone number is required</div>
                                  </div>                      
                                </div>
                                <div class="form-group">
                                  <input type="password" style="width: 80%;" placeholder="Create password" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6">
                                  <div *ngIf="f.submitted && password.invalid && !successMessage">
                                    <div class="error" *ngIf="password.errors.required">* Password is required</div>
                                    <div class="error" *ngIf="password.errors.minlength">* Password must be at least 6 characters</div>
                                  </div>                     
                                </div>
                                <p class="text-white strong" style="font-size: 1rem;">Already have an acount? <span ><a href="/login" class="text-yellow">Login</a></span></p>
                                <button class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white" type="submit">Signup<i class="fa fa-arrow-right ml-1"></i></button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </header>
      </main>
  </div>
</div>
