<div id="layoutDefault">
    <div id="layoutDefault_content">
        <main>
            <nav class="navbar navbar-marketing navbar-expand-lg bg-black navbar-dark sticky-top">
                <div class="container">
                    <a class="navbar-brand text-white" href=""><img height="" src="../../../assets/images/NaytifBox_logoS1_w_500px_PNG.png" alt=""> </a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mr-lg-5">
                             <li class="nav-item"><a class="nav-link" href="">Home </a></li>
                            <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://medium.com/@naytifbox">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        </ul>
                        <a class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white" href="/register">Signup<i class="fa fa-arrow-right ml-1"></i></a>
                    </div>
                </div>
        </nav> 
            <header class="page-header page-header-dark bg-img-cover overlay overlay-dark overlay-40 py-15" style="height: 55vh; position: relative; background-image: url('../assets/images/partner-bg1.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="page-header-content pt-5">
                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h1 class="page-header-title mb-3">Become a partner</h1>
                                <p class="page-header-text">Relax and let us make etra money for you</p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section class="bg-light py-10">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <div class="icon-stack icon-stack-xl bg-yellow text-white mb-4"><i class="fa fa-cubes"></i></div>
                            <h3>Choose a plan</h3>
                            <p class="mb-0">We've made this flexible- there is a plan that suites your budget</p>
                        </div>
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <div class="icon-stack icon-stack-xl bg-yellow text-white mb-4"><i class="fa fa-briefcase"></i></div>
                            <h3>Earn extra cash</h3>
                            <p class="mb-0">There is nothing wrong with an extra source of income. Let us work for you</p>
                        </div>
                        <div class="col-lg-4">
                            <div class="icon-stack icon-stack-xl bg-yellow text-white mb-4"><i class="fa fa-motorcycle"></i></div>
                            <h3>Create job</h3>
                            <p class="mb-0">Our riders love their job, and we are grateful that you made it happen</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="bg-white py-10">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-lg-4 mb-5">
                            <a class="card lift h-100" href="/partner-bike">
                                <img class="card-img-top" style="height: 230px;" src="../../../assets/images/motorcycle-card.jpg" alt="motorcycle-card"/>
                                <div class="card-body">
                                    <h4 class="card-title mb-2">Bike Express</h4>
                                    <p class="card-text small"><span class="text-white bg-black py-1 px-2" style="font-size: 1rem; font-weight: 600;">22%</span> return in 12 months</p>
                                    <p class="card-text small"><span class="text-white bg-black py-1 px-2" style="font-size: 1rem; font-weight: 600;">N5,000</span> per unit investment</p>
                                    <p class="card-text small"><span class="text-white bg-black py-1 px-2" style="font-size: 1rem; font-weight: 600;">100</span> total investors cap</p>
                                    <p class="card-text small text-center text-white bg-gray py-1 px-2">Closed</p>
                                </div>
                                <div class="card-footer bg-transparent border-top d-flex align-items-center justify-content-between">
                                    <div class="small text-yellow">See more</div>
                                    <div class="small text-yellow"><i class="fa fa-arrow-right"></i></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <a class="card lift h-100" href="/partner-minivan">
                                <img class="card-img-top" style="height: 230px;" src="../../../assets/images/minivan-card.jpg" alt="minivan-card"/>
                                <div class="card-body">
                                    <h4 class="card-title mb-2">Minivan Prime</h4>
                                    <p class="card-text small"><span class="text-white bg-black py-1 px-2" style="font-size: 1rem; font-weight: 600;">22%</span> return in 12 months</p>
                                    <p class="card-text small"><span class="text-white bg-black py-1 px-2" style="font-size: 1rem; font-weight: 600;">N5,000</span> per unit investment</p>
                                    <p class="card-text small"><span class="text-white bg-black py-1 px-2" style="font-size: 1rem; font-weight: 600;">100</span> total investors cap</p>
                                    <p class="card-text small text-center text-white bg-teal py-1 px-2">Active</p>
                                </div>
                                <div class="card-footer bg-transparent border-top d-flex align-items-center justify-content-between">
                                    <div class="small text-yellow">See more</div>
                                    <div class="small text-yellow"><i class="fa fa-arrow-right"></i></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <a class="card lift h-100" href="/partner-truck">
                                <img class="card-img-top" style="height: 230px;" src="../../../assets/images/truck-card.jpg" alt="truck-card"/>
                                <div class="card-body">
                                    <h4 class="card-title mb-2">Truck Cargo</h4>
                                    <p class="card-text small"><span class="text-white bg-black py-1 px-2" style="font-size: 1rem; font-weight: 600;">22%</span> return in 12 months</p>
                                    <p class="card-text small"><span class="text-white bg-black py-1 px-2" style="font-size: 1rem; font-weight: 600;">N5,000</span> per unit investment</p>
                                    <p class="card-text small"><span class="text-white bg-black py-1 px-2" style="font-size: 1rem; font-weight: 600;">100</span> total investors cap</p>
                                    <p class="card-text small text-center text-white bg-teal py-1 px-2">Active</p>
                                </div>
                                <div class="card-footer bg-transparent border-top d-flex align-items-center justify-content-between">
                                    <div class="small text-yellow">See more</div>
                                    <div class="small text-yellow"><i class="fa fa-arrow-right"></i></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="text-center mb-4"><h2>Your questions, answered.</h2></div>
                    <div class="accordion accordion-faq mb-5" id="helpAccordion">
                        <div class="card accordion-faq-item">
                            <a class="card-header" id="helpHeadingOne" data-toggle="collapse" data-target="#helpCollapseOne" aria-expanded="true" aria-controls="helpCollapseOne" href="javascript:void(0);">
                                <div class="accordion-faq-item-heading text-yellow">Are there bank charges when attached to my payment?<i class="accordion-faq-item-heading-arrow" data-feather="chevron-down"></i></div>
                            </a>
                            <div class="collapse show" id="helpCollapseOne" aria-labelledby="helpHeadingOne" data-parent="#helpAccordion">
                                <div class="card-body border-bottom">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card accordion-faq-item">
                            <a class="card-header collapsed" id="helpHeadingTwo" data-toggle="collapse" data-target="#helpCollapseTwo" aria-expanded="true" aria-controls="helpCollapseTwo" href="javascript:void(0);">
                                <div class="accordion-faq-item-heading text-yellow">How secure is my money?<i class="accordion-faq-item-heading-arrow" data-feather="chevron-down"></i></div>
                            </a>
                            <div class="collapse" id="helpCollapseTwo" aria-labelledby="helpHeadingTwo" data-parent="#helpAccordion">
                                <div class="card-body border-bottom">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card accordion-faq-item mb-0">
                            <a class="card-header collapsed" id="helpHeadingThree" data-toggle="collapse" data-target="#helpCollapseThree" aria-expanded="true" aria-controls="helpCollapseThree" href="javascript:void(0);">
                                <div class="accordion-faq-item-heading text-yellow">Can I withdraw my investment before the deadline?<i class="accordion-faq-item-heading-arrow" data-feather="chevron-down"></i></div>
                            </a>
                            <div class="collapse" id="helpCollapseThree" aria-labelledby="helpHeadingThree" data-parent="#helpAccordion">
                                <div class="card-body border-bottom">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="my-0" />
        </main>
    </div>
    <div id="layoutDefault_footer">
        <footer class="footer pt-10 pb-5 mt-auto bg-black footer-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-brand"><img style="height: 5rem; width: 5rem;" src="../assets/images/NaytifBox_logoIcon_250px_PNG.png"></div>
                        <div class="mb-3" style="margin-top: 2rem;">Ready | Send | Done</div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4 text-yellow">About</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="/pricing">Pricing</a></li>
                                    <li class="mb-2"><a href="/faqs">FAQs</a></li>
                                    <li class="mb-2"><a href="/terms">Terms</a></li>
                                    <li class="mb-2"><a href="/shipping-policy">Shipping policy</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Company</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="/partner">Become a partner</a></li>
                                    <li class="mb-2"><a href="https://medium.com/@naytifbox">Blog</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Contact us</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2">080-923-777-74</li>
                                    <li class="mb-2">hello@naytifbox.com</li>
                                </ul>
                                <div class="icon-list-social mb-5 bold text-yellow" style="display: block;">
                                    <a class="icon-list-social-link" href="https://instagram.com/naytifbox.ng" target="_blank"><i class="fa fa-instagram"></i></a>
                                    <a class="icon-list-social-link" href="https://wa.me/2348092377774" target="_blank"><i class="fa fa-whatsapp"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-5" />
                <div class="row align-items-center">
                    <div class="col-md-6 small">Copyright &copy; NaytifBox 2020</div>
                </div>
            </div>
        </footer>
    </div>
</div>
