<div id="layoutDefault">
    <div id="layoutDefault_content">
        <main>
            <nav class="navbar navbar-marketing navbar-expand-lg bg-black navbar-dark sticky-top">
                <div class="container">
                    <a class="navbar-brand text-white" href=""><img height="" src="../../../assets/images/NaytifBox_logoS1_w_500px_PNG.png" alt=""> </a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mr-lg-5">
                             <li class="nav-item"><a class="nav-link" href="">Home </a></li>
                            <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://medium.com/@naytifbox">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        </ul>
                        <a class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white" href="/register">Signup<i class="fa fa-arrow-right ml-1"></i></a>
                    </div>
                </div>
            </nav>
            <section class="bg-light py-10">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                            <div class="single-post">
                                <h1>About Minivan Prime</h1>
                                <p class="lead">This is a tenor-based account which offers highly competitive interest rates for individuals and corporate organizations.</p>
                                <div class="d-flex align-items-center justify-content-between mb-5">
                                    <div class="single-post-meta mr-4">
                                        <img class="single-post-meta-img" src="../../../assets/images/NaytifBox_logoIcon_250px_PNG.png"/>
                                        <div class="single-post-meta-details">
                                            <div class="single-post-meta-details-name text-yellow">Fixed income | 22% in 12 months</div>
                                            <div class="single-post-meta-details-date">Start Date- Feb 5 2020 | Maturity Date- Feb 6 2021</div>
                                        </div>
                                    </div>
                                </div>
                                <img class="img-fluid mb-2" src="../../../assets/images/minivan1-card.jpg"/>
                                <div class="single-post-text my-5">
                                    <p>It is targeted towards self-employed and working-class individuals, corporate and small to medium scale businesses that are tired of meagre interest on their regular business and/or savings account and wish to earn mouthwatering interest rates on their investment.</p>
                                    <p>It is targeted towards self-employed and working-class individuals, corporate and small to medium scale businesses that are tired of meagre interest on their regular business and/or savings account and wish to earn mouthwatering interest rates on their investment.</p>
                                    <hr class="my-5" />
                                    <div class="text-center"><a class="btn btn-marketing rounded-0 bg-yellow text-white" href="https://docs.google.com/forms/d/e/1FAIpQLSc33iVm15bXUGO9xXJVV78sLJN5ULM6ckBV1ZrbPkhriqS45Q/viewform?usp=sf_link" target="_blank">Proceed</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="bg-white py-10">
                <div class="container">
                    <div class="text-center mb-4"><h2>Your <strong>Minivan prime</strong> questions, answered.</h2></div>
                    <div class="accordion accordion-faq mb-5" id="helpAccordion">
                        <div class="card accordion-faq-item">
                            <a class="card-header" id="helpHeadingOne" data-toggle="collapse" data-target="#helpCollapseOne" aria-expanded="true" aria-controls="helpCollapseOne" href="javascript:void(0);">
                                <div class="accordion-faq-item-heading text-yellow">What is NaytifBox?<i class="fa fa-chevron-right"></i></div>
                            </a>
                            <div class="collapse show" id="helpCollapseOne" aria-labelledby="helpHeadingOne" data-parent="#helpAccordion">
                                <div class="card-body border-bottom">
                                    Currently, we do not allow Cash on delivery (COD) as payment for delivery requests. Only Cash Receipt Collection (CRC) is allowed for our verified vendor accounts. You can pay online with your debit/credit card, USSD or bank transfer using our secured payment gateway partner- Flutterwave.
                                </div>
                            </div>
                        </div>
                    
                        <div class="card accordion-faq-item">
                            <a class="card-header collapsed" id="helpHeadingTwo" data-toggle="collapse" data-target="#helpCollapseTwo" aria-expanded="true" aria-controls="helpCollapseTwo" href="javascript:void(0);">
                                <div class="accordion-faq-item-heading text-yellow">Is NaytifBox a registered company?<i class="fa fa-chevron-right"></i></div>
                            </a>
                            <div class="collapse" id="helpCollapseTwo" aria-labelledby="helpHeadingTwo" data-parent="#helpAccordion">
                                <div class="card-body border-bottom">
                                    This is a service that we offer to our vendors- we collect cash on delivery from your customers that want to pay you cash, then we help you remit to your bank account. All cash receipt collections are remitted twice a week, on Wednesday and Friday. Please note we charge the following rates as transaction fee for cash handling and remittance:
                                    <ul class="bg-yellow text-white" style="width: 40%; margin-top: 1rem; font-weight: bold;">
                                        <li>N100 FEE on cash above N5,000</li>
                                        <li>N300 FEE on cash above N10,000</li>
                                        <li>N500 FEE on cash above 20,000</li>
                                    </ul>
                                    All cash receipt collections are capped at N30,000
                                </div>
                            </div>
                        </div>

                        <div class="card accordion-faq-item">
                            <a class="card-header collapsed" id="helpHeadingThree" data-toggle="collapse" data-target="#helpCollapseThree" aria-expanded="true" aria-controls="helpCollapseThree" href="javascript:void(0);">
                                <div class="accordion-faq-item-heading text-yellow">What services does NaytifBox offer?<i class="fa fa-chevron-right"></i></div>
                            </a>
                            <div class="collapse" id="helpCollapseThree" aria-labelledby="helpHeadingThree" data-parent="#helpAccordion">
                                <div class="card-body border-bottom">
                                    First, we sincerely apologise for any inconvience caused. Yes, we do- you can do bank transfer. Click <a href="https://linktr.ee/naytifbox" target="_blank">here</a> to chat with a representative.
                                </div>
                            </div>
                        </div>

                        <div class="card accordion-faq-item mb-0">
                            <a class="card-header" id="helpHeadingFour" data-toggle="collapse" data-target="#helpCollapseFour" aria-expanded="true" aria-controls="helpCollapseFour" href="javascript:void(0);">
                                <div class="accordion-faq-item-heading text-yellow">What is NaytifBox?<i class="fa fa-chevron-right"></i></div>
                            </a>
                            <div class="collapse show" id="helpCollapseFour" aria-labelledby="helpHeadingFour" data-parent="#helpAccordion">
                                <div class="card-body border-bottom">
                                    Currently, we do not allow Cash on delivery (COD) as payment for delivery requests. Only Cash Receipt Collection (CRC) is allowed for our verified vendor accounts. You can pay online with your debit/credit card, USSD or bank transfer using our secured payment gateway partner- Flutterwave.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <div id="layoutDefault_footer">
        <footer class="footer pt-10 pb-5 mt-auto bg-black footer-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-brand"><img style="height: 5rem; width: 5rem;" src="../assets/images/NaytifBox_logoIcon_250px_PNG.png"></div>
                        <div class="mb-3" style="margin-top: 2rem;">Ready | Send | Done</div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4 text-yellow">About</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="/pricing">Pricing</a></li>
                                    <li class="mb-2"><a href="/faqs">FAQs</a></li>
                                    <li class="mb-2"><a href="/terms">Terms</a></li>
                                    <li class="mb-2"><a href="/shipping-policy">Shipping policy</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Company</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="/partner">Become a partner</a></li>
                                    <li class="mb-2"><a href="https://medium.com/@naytifbox">Blog</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Contact us</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2">080-923-777-74</li>
                                    <li class="mb-2">hello@naytifbox.com</li>
                                </ul>
                                <div class="icon-list-social mb-5 bold text-yellow" style="display: block;">
                                    <a class="icon-list-social-link" href="https://instagram.com/naytifbox.ng" target="_blank"><i class="fa fa-instagram"></i></a>
                                    <a class="icon-list-social-link" href="https://wa.me/2348092377774" target="_blank"><i class="fa fa-whatsapp"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-5" />
                <div class="row align-items-center">
                    <div class="col-md-6 small">Copyright &copy; NaytifBox 2020</div>
                </div>
            </div>
        </footer>
    </div>
</div>
