<div id="layoutDefault">
    <div id="layoutDefault_content">
        <main>
            <nav class="navbar navbar-marketing navbar-expand-lg bg-black navbar-dark sticky-top">
                <div class="container">
                    <a class="navbar-brand text-white" href=""><img height="" src="../../../assets/images/NaytifBox_logoS1_w_500px_PNG.png" alt=""> </a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mr-lg-5">
                             <li class="nav-item"><a class="nav-link" href="">Home </a></li>
                            <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://medium.com/@naytifbox">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        </ul>
                        <a class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white" href="/register">Signup<i class="fa fa-arrow-right ml-1"></i></a>
                    </div>
                </div>
            </nav> 
            <section class="bg-white py-10">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 mt-5">
                            <h1>Terms &amp; Privacy</h1>
                            <p class="lead">Last updated: March 2020</p>
                            <hr class="my-5" />
                            <h2 class="mb-3">1. Overview</h2>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, corporis? Facere quisquam earum dolore excepturi minima, fuga laborum reiciendis molestias nesciunt, impedit perspiciatis voluptatem nisi ad modi labore ipsam quas.</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, quis explicabo? Quis non minima, placeat aspernatur reiciendis, itaque quam quos eaque doloribus vero facere libero enim quo dolor. Et, fugit!</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere harum neque, repellendus, accusamus maiores libero iure corporis alias laboriosam voluptatem perferendis repellat excepturi iusto eos? Illum nam minus officia corrupti!</p>
                            <hr class="my-5" />
                            <h2 class="mb-3">2. Personal Data We Collect</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fuga molestias atque, nesciunt, rerum quas voluptates maiores ad libero, eos illum. Dolorem sunt, modi dolores error ipsum deserunt architecto temporibus!</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero suscipit excepturi natus quae deserunt aliquam, aut distinctio, eum a laboriosam earum reiciendis beatae magni, cum minima unde? Sint, saepe reprehenderit.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus qui quidem voluptatibus architecto unde aspernatur quam facilis incidunt expedita quisquam natus nemo, impedit iure dignissimos saepe ab minus molestiae.</p>
                            <hr class="my-5" />
                            <h2 class="mb-3">3. How We Use Personal Data</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem excepturi repellat ipsum veniam dolores, aperiam obcaecati quaerat! Reiciendis dolore, ipsa eaque a eum architecto sed perspiciatis deserunt totam! Exercitationem, ipsum!</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero nam consequatur nisi eius odit eligendi ut tempora deserunt, repudiandae quo hic veritatis sunt optio ea nemo laborum mollitia quae illum.</p>
                            <hr class="my-5" />
                            <h2 class="mb-3">4. How We Disclose Personal Data</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, cumque sed porro dolorum ipsum eum quis eveniet natus, optio ipsa aperiam aliquid quaerat quos vitae maiores. Minima consequuntur quidem perferendis?</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates quaerat ipsam quis nisi in, rem aliquam odio quasi obcaecati. Dolorum error aliquam labore deserunt velit ipsa in corrupti, consectetur cumque!</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique quia eligendi possimus odit, velit nihil eum perferendis laborum facilis sequi quo provident veritatis nostrum cupiditate accusamus quam tempore? Deleniti, architecto.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius cum nemo ipsam eum, quam neque quae vel culpa, minus accusantium rerum ullam facere modi quo mollitia, non dolores ipsum aut.</p>
                            <hr class="my-5" />
                            <h2 class="mb-3">5. Cookies and Third-Party Technologies</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, cumque sed porro dolorum ipsum eum quis eveniet natus, optio ipsa aperiam aliquid quaerat quos vitae maiores. Minima consequuntur quidem perferendis?</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates quaerat ipsam quis nisi in, rem aliquam odio quasi obcaecati. Dolorum error aliquam labore deserunt velit ipsa in corrupti, consectetur cumque!</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique quia eligendi possimus odit, velit nihil eum perferendis laborum facilis sequi quo provident veritatis nostrum cupiditate accusamus quam tempore? Deleniti, architecto.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius cum nemo ipsam eum, quam neque quae vel culpa, minus accusantium rerum ullam facere modi quo mollitia, non dolores ipsum aut.</p>
                            <hr class="my-5" />
                            <h2 class="mb-3">6. Information Retention and Deletion</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, cumque sed porro dolorum ipsum eum quis eveniet natus, optio ipsa aperiam aliquid quaerat quos vitae maiores. Minima consequuntur quidem perferendis?</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates quaerat ipsam quis nisi in, rem aliquam odio quasi obcaecati. Dolorum error aliquam labore deserunt velit ipsa in corrupti, consectetur cumque!</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique quia eligendi possimus odit, velit nihil eum perferendis laborum facilis sequi quo provident veritatis nostrum cupiditate accusamus quam tempore? Deleniti, architecto.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius cum nemo ipsam eum, quam neque quae vel culpa, minus accusantium rerum ullam facere modi quo mollitia, non dolores ipsum aut.</p>
                            <hr class="my-5" />
                            <h2 class="mb-3">7. Updates to This Policy</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, cumque sed porro dolorum ipsum eum quis eveniet natus, optio ipsa aperiam aliquid quaerat quos vitae maiores. Minima consequuntur quidem perferendis?</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates quaerat ipsam quis nisi in, rem aliquam odio quasi obcaecati. Dolorum error aliquam labore deserunt velit ipsa in corrupti, consectetur cumque!</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique quia eligendi possimus odit, velit nihil eum perferendis laborum facilis sequi quo provident veritatis nostrum cupiditate accusamus quam tempore? Deleniti, architecto.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius cum nemo ipsam eum, quam neque quae vel culpa, minus accusantium rerum ullam facere modi quo mollitia, non dolores ipsum aut.</p>
                            <hr class="my-5" />
                            <h2 class="mb-3">8. Remedies and Limitation</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, cumque sed porro dolorum ipsum eum quis eveniet natus, optio ipsa aperiam aliquid quaerat quos vitae maiores. Minima consequuntur quidem perferendis?</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates quaerat ipsam quis nisi in, rem aliquam odio quasi obcaecati. Dolorum error aliquam labore deserunt velit ipsa in corrupti, consectetur cumque!</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique quia eligendi possimus odit, velit nihil eum perferendis laborum facilis sequi quo provident veritatis nostrum cupiditate accusamus quam tempore? Deleniti, architecto.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius cum nemo ipsam eum, quam neque quae vel culpa, minus accusantium rerum ullam facere modi quo mollitia, non dolores ipsum aut.</p>
                            <hr class="my-5" />
                            <div class="card z-1 mb-10">
                                <div class="card-body text-center py-5">
                                    <h2 class="mb-3">You got questions?</h2>
                                    <a class="btn btn-marketing rounded-0 bg-yellow text-white" href="https://linktr.ee/naytifbox">Let's talk</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <!--FOOTER STARTS-->
    <div id="layoutDefault_footer">
        <footer class="footer pt-10 pb-5 mt-auto bg-black footer-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-brand"><img style="height: 5rem; width: 5rem;" src="../assets/images/NaytifBox_logoIcon_250px_PNG.png"></div>
                        <div class="mb-3" style="margin-top: 2rem;">Ready | Send | Done</div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4 text-yellow">About</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="/pricing">Pricing</a></li>
                                    <li class="mb-2"><a href="/faqs">FAQs</a></li>
                                    <li class="mb-2"><a href="/terms">Terms</a></li>
                                    <li class="mb-2"><a href="/shipping-policy">Shipping policy</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Company</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="/partner">Become a partner</a></li>
                                    <li class="mb-2"><a href="https://medium.com/@naytifbox">Blog</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Contact us</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2">080-923-777-74</li>
                                    <li class="mb-2">hello@naytifbox.com</li>
                                </ul>
                                <div class="icon-list-social mb-5 bold text-yellow" style="display: block;">
                                    <a class="icon-list-social-link" href="https://instagram.com/naytifbox.ng" target="_blank"><i class="fa fa-instagram"></i></a>
                                    <a class="icon-list-social-link" href="https://wa.me/2348092377774" target="_blank"><i class="fa fa-whatsapp"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-5" />
                <div class="row align-items-center">
                    <div class="col-md-6 small">Copyright &copy; NaytifBox 2020</div>
                </div>
            </div>
        </footer>
    </div>
</div>
