<body>    
    <div id="layoutDefault">
        <div id="layoutDefault_content">
            <main>

                <!--NAV STARTS-->
                <nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-dark fixed-top">
                    <div class="container">
                        <a class="navbar-brand text-white" href=""><img height="" src="../../../assets/images/NaytifBox_logoS1_w_500px_PNG.png" alt=""> </a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto mr-lg-5">
                                 <li class="nav-item"><a class="nav-link active" href="">Home </a></li>
                                <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                                <li class="nav-item"><a class="nav-link" href="https://medium.com/@naytifbox">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                            </ul>
                            <a class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white" href="/register">Signup<i class="fa fa-arrow-right ml-1"></i></a>
                        </div>
                    </div>
                    </nav>

                <!--HEADER START-->
                <header class="page-header page-header-dark bg-img-repeat bg-black" style='background-image: url("../assets/images/pattern-shapes.png")'>
                    <div class="page-header-content">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6" >
                                    <div class="badge badge-marketing mb-3" id="animatedBadge"><strong>READY | SEND | DONE </strong></div>
                                    <h1 class="page-header-title hidden-xs">Achieve more with a fast, safe, and affordable logistics <span>Partner</span></h1>
                                    <p class="hidden-xs">Manage your pickup, delivery and drop-off requests with ease.</p>
                                    <br>
                                    
                                    <div id="locationField" *ngIf="!showDeliveryRequestForm">
                                        <input type="text" id="autocomplete" onFocus="" placeholder="Enter pickup address" ngx-google-places-autocomplete [options]="{
                                            types: [],
                                          componentRestrictions: { country: 'NG' }
                                  }" #placesRef="ngx-places" (onAddressChange)="handlePickUpAddressChange($event)"
                                     required name="pickUpAddress" [(ngModel)]="form.pickUpAddress.streetAddress">
                                        <div class="input-container">
                                            <input type="text" id="autocomplete2" onFocus="" placeholder="Enter delivery address" style="width: 92%;" ngx-google-places-autocomplete [options]="{
                                                types: [],
                                              componentRestrictions: { country: 'NG' }
                                      }" #placesRef="ngx-places" (onAddressChange)="handleDestAddressChange($event)" required [(ngModel)]="form.deliveryAddress.streetAddress" name="destAddress"><a (click)="toggleCard()"><i class="go-icon fa fa-arrow-right fa-3x"></i></a>
                                         </div>
                                         <p style="font-size: 1rem;"><strong><i class="fa fa-map-signs"></i> Kindly enter addresses with street names for best results</strong></p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div id="gliphBox" *ngIf="!showDeliveryRequestForm">
                                        <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/WnO11F701IJUXH0EeP" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/deliverybox-WnO11F701IJUXH0EeP">via GIPHY</a></p>
                                    </div>
                                    <div id="" class="card rounded-lg text-dark" *ngIf="showDeliveryRequestForm">
                                        
                                        <div class="card-header py-4">
                                            <p><strong style="color: #ffb53e;">Pickup: </strong>{{form.pickUpAddress.streetAddress}}</p>
                                            <p><strong style="color: #ffb53e;">Delivery: </strong>{{form.deliveryAddress.streetAddress}}</p>                    
                                        </div>
                                        <a class="btn btn-sm strong text-yellow" (click)="toggleCard()"><i class="fa fa-refresh"></i> &nbsp;Change Location</a>
                                       
                                        <div *ngIf="processingEstimate" class="loader-wrapper">
  
                                            <svg width="300" height="280" viewBox="0 0 1057 809" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <g id="backWheel">
                                          <path id="Vector" d="M547 719.57C546.963 740.819 538.729 761.234 524.012 776.562C509.296 791.89 489.233 800.949 468.004 801.852C446.774 802.754 426.015 795.43 410.051 781.406C394.087 767.382 384.15 747.739 382.31 726.57C382.19 725.23 382.1 723.89 382.06 722.57V722.5C382.02 721.507 382 720.507 382 719.5C382 697.62 390.692 676.635 406.164 661.164C421.635 645.692 442.62 637 464.5 637C486.38 637 507.365 645.692 522.836 661.164C538.308 676.635 547 697.62 547 719.5V719.57Z" fill="#191919" fill-opacity="0.8"/>
                                          <path id="Vector_2" d="M464.5 764.52C489.353 764.52 509.5 744.373 509.5 719.52C509.5 694.667 489.353 674.52 464.5 674.52C439.647 674.52 419.5 694.667 419.5 719.52C419.5 744.373 439.647 764.52 464.5 764.52Z" fill="#DCE0ED"/>
                                          <path id="Vector_3" d="M464.5 746.52C479.412 746.52 491.5 734.432 491.5 719.52C491.5 704.608 479.412 692.52 464.5 692.52C449.588 692.52 437.5 704.608 437.5 719.52C437.5 734.432 449.588 746.52 464.5 746.52Z" fill="#65617D"/>
                                          <line id="Line 1" x1="438.965" y1="727.977" x2="422.158" y2="736.895" stroke="black" stroke-width="2"/>
                                          <line id="Line 4" x1="506.229" y1="737.609" x2="490.45" y2="726.978" stroke="black" stroke-width="2"/>
                                          <line id="Line 5" x1="464.777" y1="746.105" x2="464.95" y2="765.104" stroke="black" stroke-width="2"/>
                                          <line id="Line 6" x1="464.777" y1="674.105" x2="464.95" y2="693.104" stroke="black" stroke-width="2"/>
                                          <line id="Line 7" x1="500.004" y1="691.59" x2="488.078" y2="707.645" stroke="black" stroke-width="2"/>
                                          <line id="Line 8" x1="443.572" y1="703.773" x2="431.647" y2="687.716" stroke="black" stroke-width="2"/>
                                          </g>
                                          <g id="ridingBackground">
                                          <path id="Vector_4" opacity="0.1" d="M1035.84 218.55C1025.39 194.277 1011.26 171.76 993.95 151.79L412.65 146.06L891.25 78.84C860.331 66.5309 827.416 60.0027 794.14 59.58C748.357 22.9833 691.983 2.144 633.404 0.162065C574.825 -1.81987 517.172 15.1615 469.02 48.58C430.534 28.788 387.867 18.5011 344.59 18.58C215.43 18.58 107.81 108.04 83.67 226.66L1035.84 218.55Z" fill="#00AC69"/>
                                          <path id="Vector_5" opacity="0.1" d="M1056.28 318.04C1056.31 285.869 1050.16 253.992 1038.17 224.14L30.71 329.89C20.3578 348.68 12.4376 368.711 7.14 389.5L319.14 436L0 469.91C9.6 604.2 124.72 710.24 265.35 710.24C336.14 710.24 400.47 683.37 448.13 639.55C495.94 684.2 560.89 711.66 632.44 711.66C738.61 711.66 830.24 651.21 872.91 563.81C958.52 536.64 1025.02 468.42 1047.78 383.07L653.24 321.88H1056.24C1056.26 320.6 1056.28 319.32 1056.28 318.04Z" fill="#00AC69"/>
                                          <path id="Vector_6" opacity="0.1" d="M612.39 808.9C794.324 808.9 941.81 802.211 941.81 793.96C941.81 785.709 794.324 779.02 612.39 779.02C430.456 779.02 282.97 785.709 282.97 793.96C282.97 802.211 430.456 808.9 612.39 808.9Z" fill="#606060"/>
                                          </g>
                                          <g id="plants">
                                          <path id="Vector_7" opacity="0.1" d="M28.11 742.35C42.37 742.35 53.93 740.761 53.93 738.8C53.93 736.839 42.37 735.25 28.11 735.25C13.85 735.25 2.28998 736.839 2.28998 738.8C2.28998 740.761 13.85 742.35 28.11 742.35Z" fill="#6C63FF"/>
                                          <path id="Vector_8" opacity="0.1" d="M127.02 752.38C141.28 752.38 152.84 750.791 152.84 748.83C152.84 746.869 141.28 745.28 127.02 745.28C112.76 745.28 101.2 746.869 101.2 748.83C101.2 750.791 112.76 752.38 127.02 752.38Z" fill="#6C63FF"/>
                                          <path id="Vector_9" opacity="0.1" d="M243.53 738.8C257.79 738.8 269.35 737.211 269.35 735.25C269.35 733.289 257.79 731.7 243.53 731.7C229.27 731.7 217.71 733.289 217.71 735.25C217.71 737.211 229.27 738.8 243.53 738.8Z" fill="#6C63FF"/>
                                          <path id="Vector_10" opacity="0.1" d="M87.43 779.91C97.57 779.91 105.79 778.782 105.79 777.39C105.79 775.998 97.57 774.87 87.43 774.87C77.2901 774.87 69.07 775.998 69.07 777.39C69.07 778.782 77.2901 779.91 87.43 779.91Z" fill="#6C63FF"/>
                                          <path id="Vector_11" opacity="0.1" d="M190.1 777.39C200.24 777.39 208.46 776.262 208.46 774.87C208.46 773.478 200.24 772.35 190.1 772.35C179.96 772.35 171.74 773.478 171.74 774.87C171.74 776.262 179.96 777.39 190.1 777.39Z" fill="#6C63FF"/>
                                          <path id="Vector_12" d="M127.58 748.03C127.58 748.03 91.36 629.31 133.24 581.76C164.58 546.18 200.14 550.44 216.07 554.84C220.192 555.938 224.026 557.919 227.306 560.646C230.587 563.372 233.236 566.779 235.07 570.63C240.64 582.63 239.63 602.14 200.32 624.9C134.5 663.01 130.41 715.28 130.41 715.28L127.58 748.03Z" fill="#191919"/>
                                          <path id="Vector_13" d="M210.4 571.68C210.4 571.68 103.64 605.06 127.58 748.03" stroke="#565987" stroke-miterlimit="10"/>
                                          <path id="Vector_14" d="M148.05 583.65C148.05 583.65 162.75 593.55 158.05 608.44" stroke="#565987" stroke-miterlimit="10"/>
                                          <path id="Vector_15" d="M199.69 592.45C199.69 592.45 190.69 583.31 179.77 588.35" stroke="#565987" stroke-miterlimit="10"/>
                                          <path id="Vector_16" d="M157.49 638.45C157.49 638.45 141.71 630.45 137.63 640.45" stroke="#565987" stroke-miterlimit="10"/>
                                          <path id="Vector_17" d="M118.44 655.13C118.44 655.13 130.29 654.19 130.51 659.86" stroke="#565987" stroke-miterlimit="10"/>
                                          <path id="Vector_18" d="M126.14 748.98C126.14 748.98 168.56 662.69 180.21 664.58C185.74 665.48 188.29 670.92 189.45 676.39C190.888 683.48 190.08 690.841 187.14 697.45C181.14 711.2 164.92 737.45 126.14 748.98Z" fill="#191919"/>
                                          <path id="Vector_19" d="M179.86 680.96C179.86 680.96 135.34 745.52 126.74 748.35" stroke="#565987" stroke-miterlimit="10"/>
                                          <path id="Vector_20" d="M183.96 691.03H173.57" stroke="#565987" stroke-miterlimit="10"/>
                                          <path id="Vector_21" d="M171.51 714.65L155.23 715.35" stroke="#565987" stroke-miterlimit="10"/>
                                          <path id="Vector_22" d="M161.6 695.76L163.37 704.24" stroke="#565987" stroke-miterlimit="10"/>
                                          <path id="Vector_23" d="M144.28 721.58L144.6 729.29" stroke="#565987" stroke-miterlimit="10"/>
                                          <path id="Vector_24" d="M127.37 748.98C127.37 748.98 84.95 662.69 73.3 664.58C67.77 665.48 65.22 670.92 64.06 676.39C62.6337 683.461 63.4446 690.801 66.38 697.39C72.39 711.2 88.56 737.45 127.37 748.98Z" fill="#191919"/>
                                          <path id="Vector_25" d="M73.62 680.96C73.62 680.96 118.14 745.52 126.74 748.35" stroke="#565987" stroke-miterlimit="10"/>
                                          <path id="Vector_26" d="M69.53 691.03H79.92" stroke="#565987" stroke-miterlimit="10"/>
                                          <path id="Vector_27" d="M81.97 714.65L98.26 715.35" stroke="#565987" stroke-miterlimit="10"/>
                                          <path id="Vector_28" d="M91.89 695.76L90.12 704.24" stroke="#565987" stroke-miterlimit="10"/>
                                          <path id="Vector_29" d="M109.21 721.58L108.89 729.29" stroke="#565987" stroke-miterlimit="10"/>
                                          <path id="Vector_30" d="M200.2 769.13C201.357 768.19 202.201 766.92 202.62 765.49C202.806 764.772 202.739 764.011 202.432 763.336C202.124 762.661 201.594 762.111 200.93 761.78C199.38 761.18 197.72 762.26 196.47 763.34C195.22 764.42 193.77 765.67 192.13 765.44C192.967 764.669 193.591 763.695 193.941 762.613C194.292 761.53 194.357 760.375 194.13 759.26C194.061 758.797 193.868 758.361 193.57 758C192.71 757.08 191.15 757.48 190.12 758.2C186.84 760.5 185.93 764.95 185.91 768.96C185.73 767.49 185.71 766.005 185.85 764.53C185.85 763.05 185.43 761.4 184.18 760.61C183.406 760.185 182.532 759.978 181.65 760.01C180.17 760.01 178.54 760.1 177.53 761.18C176.28 762.52 176.6 764.76 177.69 766.24C178.906 767.61 180.347 768.764 181.95 769.65C183.152 770.383 184.177 771.373 184.95 772.55C185.04 772.716 185.113 772.89 185.17 773.07H194.4C196.505 772.029 198.457 770.703 200.2 769.13V769.13Z" fill="#191919"/>
                                          <path id="Vector_31" d="M38.57 734.38C39.7276 733.441 40.5717 732.171 40.99 730.74C41.1745 730.02 41.1075 729.259 40.8001 728.582C40.4928 727.906 39.9635 727.355 39.3 727.02C37.75 726.43 36.1 727.51 34.84 728.59C33.58 729.67 32.15 730.91 30.5 730.68C31.3396 729.911 31.9652 728.937 32.3158 727.854C32.6663 726.771 32.7298 725.615 32.5 724.5C32.4251 724.04 32.2282 723.608 31.93 723.25C31.07 722.33 29.51 722.72 28.48 723.45C25.2 725.75 24.29 730.2 24.27 734.21C24.0899 732.737 24.0698 731.248 24.21 729.77C24.21 728.29 23.8 726.65 22.55 725.86C21.7728 725.435 20.8953 725.228 20.01 725.26C18.54 725.2 16.9 725.35 15.89 726.43C14.64 727.77 14.97 730.01 16.05 731.43C17.2644 732.809 18.7092 733.966 20.32 734.85C21.5253 735.579 22.5507 736.57 23.32 737.75C23.4105 737.917 23.4874 738.091 23.55 738.27H32.78C34.8775 737.242 36.8253 735.933 38.57 734.38V734.38Z" fill="#191919"/>
                                          <path id="Vector_32" d="M92.44 769.13C93.5967 768.19 94.4406 766.92 94.86 765.49C95.0457 764.772 94.9793 764.011 94.6717 763.336C94.364 762.661 93.834 762.111 93.17 761.78C91.62 761.18 89.96 762.26 88.71 763.34C87.46 764.42 86.01 765.67 84.37 765.44C85.2071 764.669 85.8311 763.695 86.1815 762.613C86.5319 761.53 86.5968 760.375 86.37 759.26C86.3011 758.797 86.1075 758.361 85.81 758C84.95 757.08 83.39 757.48 82.36 758.2C79.08 760.5 78.17 764.95 78.15 768.96C77.9699 767.49 77.9497 766.005 78.09 764.53C78.09 763.05 77.68 761.4 76.43 760.61C75.6524 760.186 74.7751 759.979 73.89 760.01C72.42 760.01 70.78 760.1 69.77 761.18C68.52 762.52 68.84 764.76 69.93 766.24C71.1459 767.61 72.5865 768.764 74.19 769.65C75.3924 770.383 76.417 771.373 77.19 772.55C77.2795 772.716 77.3532 772.89 77.41 773.07H86.64C88.745 772.029 90.6966 770.703 92.44 769.13V769.13Z" fill="#191919"/>
                                          <path id="Vector_33" d="M245.21 698.88C245.21 698.88 248.67 703.41 243.61 710.24C238.55 717.07 234.39 722.84 236.07 727.1C236.07 727.1 243.7 714.41 249.91 714.23C256.12 714.05 252.04 706.51 245.21 698.88Z" fill="#191919"/>
                                          <path id="Vector_34" opacity="0.1" d="M245.21 698.88C245.511 699.318 245.75 699.796 245.92 700.3C251.98 707.42 255.2 714.06 249.38 714.23C243.95 714.39 237.45 724.09 235.89 726.54C235.94 726.73 236 726.91 236.07 727.1C236.07 727.1 243.7 714.41 249.91 714.23C256.12 714.05 252.04 706.51 245.21 698.88Z" fill="black"/>
                                          <path id="Vector_35" d="M251.64 704.65C251.64 706.24 251.46 707.53 251.24 707.53C251.02 707.53 250.84 706.24 250.84 704.65C250.84 703.06 251.07 703.81 251.29 703.81C251.51 703.81 251.64 703.06 251.64 704.65Z" fill="#FFD037"/>
                                          <path id="Vector_36" d="M253.85 706.55C252.45 707.31 251.23 707.77 251.13 707.55C251.03 707.33 252.07 706.55 253.47 705.82C254.87 705.09 254.31 705.61 254.42 705.82C254.53 706.03 255.25 705.79 253.85 706.55Z" fill="#FFD037"/>
                                          <path id="Vector_37" d="M226.93 698.88C226.93 698.88 223.47 703.41 228.53 710.24C233.59 717.07 237.76 722.84 236.07 727.1C236.07 727.1 228.44 714.41 222.23 714.23C216.02 714.05 220.14 706.51 226.93 698.88Z" fill="#191919"/>
                                          <path id="Vector_38" opacity="0.1" d="M226.93 698.88C226.63 699.317 226.394 699.796 226.23 700.3C220.17 707.42 216.94 714.06 222.76 714.23C228.19 714.39 234.7 724.09 236.26 726.54C236.2 726.73 236.14 726.91 236.07 727.1C236.07 727.1 228.44 714.41 222.23 714.23C216.02 714.05 220.14 706.51 226.93 698.88Z" fill="black"/>
                                          <path id="Vector_39" d="M220.5 704.65C220.5 706.24 220.68 707.53 220.9 707.53C221.12 707.53 221.3 706.24 221.3 704.65C221.3 703.06 221.08 703.81 220.86 703.81C220.64 703.81 220.5 703.06 220.5 704.65Z" fill="#FFD037"/>
                                          <path id="Vector_40" d="M218.29 706.55C219.69 707.31 220.91 707.77 221.02 707.55C221.13 707.33 220.07 706.55 218.68 705.82C217.29 705.09 217.83 705.61 217.68 705.82C217.53 706.03 216.9 705.79 218.29 706.55Z" fill="#FFD037"/>
                                          <path id="Vector_41" d="M221.6 726.5C221.6 726.5 231.28 726.21 234.19 724.13C237.1 722.05 249.07 719.57 249.8 722.9C250.53 726.23 264.33 739.46 253.41 739.55C242.49 739.64 228.04 737.85 225.13 736.08C222.22 734.31 221.6 726.5 221.6 726.5Z" fill="#A8A8A8"/>
                                          <path id="Vector_42" opacity="0.2" d="M253.61 738.39C242.69 738.48 228.23 736.69 225.32 734.92C223.1 733.57 222.22 728.73 221.93 726.49H221.6C221.6 726.49 222.22 734.3 225.13 736.07C228.04 737.84 242.49 739.63 253.41 739.54C256.57 739.54 257.65 738.39 257.59 736.73C257.14 737.75 255.95 738.37 253.61 738.39Z" fill="black"/>
                                          </g>
                                          <g id="humanOnBike">
                                          <g id="Vector_43" filter="url(#filter0_d)">
                                          <path d="M578.83 347.29C578.83 347.29 599.83 387.02 601.46 392.69C601.884 394.264 602.8 395.662 604.073 396.68C605.346 397.698 606.911 398.283 608.54 398.35C608.54 398.35 629.46 403.35 634.46 404.02C639.46 404.69 682.8 408.35 682.8 408.35C682.8 408.35 693.8 408.69 695.13 404.69C696.35 401.03 717.6 381.8 729.9 398.58C731.034 400.132 731.786 401.93 732.095 403.827C732.405 405.725 732.262 407.668 731.68 409.5C729.42 416.7 724.78 428.13 719.8 421.02C712.8 411.02 704.66 413.83 704.66 419.16C704.66 424.49 693.46 422.51 689.8 423.26C687.8 423.67 680.92 425.5 674.97 427.1C668.064 428.967 660.989 430.142 653.85 430.61C642.04 431.38 624.63 432.02 618.46 429.69C611.01 426.86 598.02 426.21 592.46 426.06C590.618 426.015 588.84 425.377 587.39 424.24C579.672 418.199 573.145 410.776 568.14 402.35C559.47 387.35 541.64 356.29 542.84 347.29C544.04 338.29 578.83 347.29 578.83 347.29Z" fill="#714137" fill-opacity="0.95"/>
                                          </g>
                                          <path id="Vector_44" opacity="0.05" d="M578.83 347.29C578.83 347.29 599.83 387.02 601.46 392.69C601.884 394.264 602.8 395.662 604.073 396.68C605.346 397.698 606.911 398.283 608.54 398.35C608.54 398.35 629.46 403.35 634.46 404.02C639.46 404.69 682.8 408.35 682.8 408.35C682.8 408.35 693.8 408.69 695.13 404.69C696.35 401.03 717.6 381.8 729.9 398.58C731.034 400.132 731.786 401.93 732.095 403.827C732.405 405.725 732.262 407.668 731.68 409.5C729.42 416.7 724.78 428.13 719.8 421.02C712.8 411.02 704.66 413.83 704.66 419.16C704.66 424.49 693.46 422.51 689.8 423.26C687.8 423.67 680.92 425.5 674.97 427.1C668.064 428.967 660.989 430.142 653.85 430.61C642.04 431.38 624.63 432.02 618.46 429.69C611.01 426.86 598.02 426.21 592.46 426.06C590.618 426.015 588.84 425.377 587.39 424.24C579.672 418.199 573.145 410.776 568.14 402.35C559.47 387.35 541.64 356.29 542.84 347.29C544.04 338.29 578.83 347.29 578.83 347.29Z" fill="black"/>
                                          <path id="Vector_45" d="M602.39 562.73L403.73 566.73V537.45C405.51 513.88 429.73 505.61 451.73 503.02C468.93 501.067 486.344 502.374 503.06 506.87C545.21 518.03 572.06 520.19 585.29 520.4C588.194 520.444 590.994 521.488 593.217 523.358C595.44 525.227 596.949 527.806 597.49 530.66C598.12 534.01 598.74 537.66 599.32 541.26C599.76 544.08 600.18 546.86 600.56 549.45C601.66 556.91 602.39 562.73 602.39 562.73Z" fill="#65617D"/>
                                          <path id="Vector_46" d="M760.88 724.73H348.19C345.004 724.762 341.878 723.857 339.202 722.127C336.527 720.397 334.418 717.919 333.14 715C330.03 707.57 334.38 702.83 339.02 700.05C348.516 694.422 355.714 685.616 359.34 675.19C363.74 662.19 368.04 641.85 369.73 610.07C371.47 577.2 383.37 560.95 396.23 553.07C412.84 542.91 431.05 546.72 431.05 546.72L598.38 548.06C601.359 549.411 604.114 551.208 606.55 553.39C621.46 567.27 599.72 585.39 599.72 585.39C553.05 634.72 588.38 684.72 588.38 684.72H674C689.997 684.803 705.641 680.014 718.85 670.99C730.42 662.99 734.85 655.26 736.63 650.58C737.95 647 739.29 643.43 740.89 639.97C763.35 591.26 736.26 512.02 724.57 482.39C721.67 475.02 719.72 470.72 719.72 470.72L746.57 468.72L763.57 467.43H763.74C801.16 531.97 815.07 598.29 819.74 647.43C820.18 652.06 820.54 656.55 820.83 660.86C821.36 669.054 820.202 677.271 817.428 684.999C814.653 692.728 810.322 699.805 804.703 705.793C799.083 711.78 792.294 716.55 784.756 719.807C777.218 723.065 769.092 724.74 760.88 724.73V724.73Z" fill="#191919"/>
                                          <path id="Vector_47" opacity="0.1" d="M600.57 549.45H403.73V541.26H599.33C599.77 544.03 600.19 546.81 600.57 549.45Z" fill="black"/>
                                          <path id="Vector_48" opacity="0.1" d="M606.56 553.45H397.82C397.277 553.452 396.74 553.343 396.24 553.13C412.85 542.97 431.06 546.78 431.06 546.78L598.39 548.12C601.369 549.471 604.124 551.268 606.56 553.45Z" fill="black"/>
                                          <path id="Vector_49" d="M608.3 543.21H324.78C322.521 543.21 320.69 545.041 320.69 547.3V547.31C320.69 549.569 322.521 551.4 324.78 551.4H608.3C610.559 551.4 612.39 549.569 612.39 547.31V547.3C612.39 545.041 610.559 543.21 608.3 543.21Z" fill="#DCE0ED"/>
                                          <path id="Vector_50" opacity="0.1" d="M819.74 647.45C810.23 657.79 803.23 661.86 803.56 650.95C804.56 617.95 746.56 468.75 746.56 468.75L763.71 467.45C801.14 531.94 815.06 598.26 819.74 647.45Z" fill="black"/>
                                          <path id="Vector_51" opacity="0.1" d="M901.05 710.36C891.2 712.72 879.05 715.12 864.05 717.36C858.47 718.18 852.47 718.967 846.05 719.72C830.72 721.54 812.99 723.13 792.51 724.35C786.71 724.697 780.687 725.013 774.44 725.3C762.74 725.833 750.217 726.24 736.87 726.52L736.62 722.52V722.45C755.27 714.92 784.62 694.83 789.34 642.5C801.127 637.958 813.798 636.181 826.38 637.308C838.961 638.434 851.116 642.432 861.908 648.995C872.701 655.559 881.843 664.511 888.63 675.164C895.418 685.817 899.671 697.885 901.06 710.44L901.05 710.36Z" fill="black"/>
                                          <path id="Vector_52" d="M721.06 724.73C721.06 724.73 815.76 714.45 783.14 570.16C783.14 570.16 829.93 613.06 859.04 636.9C888.15 660.74 940.04 693.61 940.04 693.61C940.04 693.61 909.06 722.56 721.06 724.73Z" fill="#191919"/>
                                          <path id="Vector_53" opacity="0.1" d="M721.06 724.73C721.06 724.73 815.76 714.45 783.14 570.16C783.14 570.16 829.93 613.06 859.04 636.9C888.15 660.74 940.04 693.61 940.04 693.61C940.04 693.61 909.06 722.56 721.06 724.73Z" fill="#191919"/>
                                          <path id="Vector_54" opacity="0.1" d="M560.56 694.62C560.56 641.35 518.25 598.16 466.06 598.16C413.87 598.16 371.56 641.35 371.56 694.62C371.56 696.873 371.637 699.103 371.79 701.31H560.33C560.483 699.103 560.56 696.873 560.56 694.62Z" fill="black"/>
                                          <path id="Vector_55" d="M557.06 692.96C557.06 641.66 516.32 600.07 466.06 600.07C415.8 600.07 375.06 641.66 375.06 692.96C375.06 695.13 375.14 697.27 375.28 699.4H556.84C556.98 697.27 557.06 695.13 557.06 692.96Z" fill="#606060"/>
                                          <path id="Vector_56" opacity="0.1" d="M557.06 692.96C557.06 694.45 557.06 695.96 556.95 697.4C556.95 698.07 556.88 698.73 556.84 699.4H375.28C375.28 698.73 375.2 698.07 375.17 697.4C375.1 695.93 375.06 694.4 375.06 692.96C375.06 641.66 415.8 600.07 466.06 600.07C516.32 600.07 557.06 641.66 557.06 692.96Z" fill="white"/>
                                          <path id="Vector_57" opacity="0.1" d="M556.95 697.45C556.95 698.12 556.88 698.78 556.84 699.45H375.28C375.28 698.78 375.2 698.12 375.17 697.45H556.95Z" fill="black"/>
                                          <path id="Vector_58" opacity="0.1" d="M569.06 701.4H345.92C340.027 701.4 335.25 706.175 335.25 712.065C335.25 717.955 340.027 722.73 345.92 722.73H569.06C574.953 722.73 579.73 717.955 579.73 712.065C579.73 706.175 574.953 701.4 569.06 701.4Z" fill="black"/>
                                          <path id="Vector_59" d="M569.06 699.4H345.92C340.027 699.4 335.25 704.175 335.25 710.065C335.25 715.955 340.027 720.73 345.92 720.73H569.06C574.953 720.73 579.73 715.955 579.73 710.065C579.73 704.175 574.953 699.4 569.06 699.4Z" fill="#DCE0ED"/>
                                          <path id="Vector_60" opacity="0.1" d="M803.464 560.284C809.493 557.558 808.817 543.044 801.955 527.867C795.092 512.689 784.642 502.595 778.613 505.321C772.584 508.047 773.26 522.56 780.122 537.738C786.985 552.916 797.435 563.01 803.464 560.284Z" fill="black"/>
                                          <path id="Vector_61" d="M804.463 559.281C810.492 556.555 809.816 542.041 802.954 526.864C796.091 511.686 785.641 501.592 779.612 504.318C773.583 507.044 774.259 521.557 781.122 536.735C787.984 551.912 798.435 562.007 804.463 559.281Z" fill="#DCE0ED"/>
                                          <path id="Vector_62" opacity="0.1" d="M763.56 467.45V483.12H733.06C730.22 483.123 727.384 482.895 724.58 482.44C721.68 475.07 719.73 470.77 719.73 470.77L746.58 468.77L763.56 467.45Z" fill="black"/>
                                          <path id="Vector_63" d="M763.56 481.08H733.06C706.27 481.08 684.56 461.08 684.56 436.31V432.16C684.56 407.44 706.27 387.4 733.06 387.4L763.56 390.17V481.08Z" fill="#191919"/>
                                          <path id="Vector_64" d="M713.31 413.9C713.31 413.9 731.56 423.65 721.06 440.15C721.06 440.15 708.18 461.27 687.93 459.27L680.56 413.9C680.56 413.9 704.81 411.65 713.31 413.9Z" fill="#191919"/>
                                          <path id="Vector_65" opacity="0.1" d="M706.3 413.02C709.201 413.13 712.04 413.89 714.609 415.243C717.177 416.597 719.409 418.509 721.14 420.84C724.39 425.34 726.33 431.9 721.08 440.15C721.08 440.15 708.2 461.27 687.95 459.27L680.58 413.9C680.58 413.9 695.75 412.45 706.3 413.02Z" fill="black"/>
                                          <path id="Vector_66" opacity="0.1" d="M762.56 390.17H768.44C773.378 390.17 778.114 392.132 781.606 395.624C785.098 399.116 787.06 403.852 787.06 408.79V462.47C787.06 467.408 785.098 472.144 781.606 475.636C778.114 479.128 773.378 481.09 768.44 481.09H762.56V390.17Z" fill="black"/>
                                          <path id="Vector_67" d="M763.56 390.17H769.44C774.378 390.17 779.114 392.132 782.606 395.624C786.098 399.116 788.06 403.852 788.06 408.79V462.47C788.06 467.408 786.098 472.144 782.606 475.636C779.114 479.128 774.378 481.09 769.44 481.09H763.56V390.17Z" fill="#DCE0ED"/>
                                          <path id="Vector_68" d="M547.02 506.93C547.02 506.93 551.73 508.65 558.02 511.05C568.02 514.9 582.12 520.52 587.02 523.6C591.92 526.68 610.19 531.74 623.87 535.3C634.012 537.927 644.454 539.215 654.93 539.13C665.57 539.03 678.46 538.93 682.02 538.93C682.643 538.925 683.265 538.972 683.88 539.07C687.62 539.69 687.47 542.2 687.38 542.8V542.93C665.38 556.26 638.71 615.93 637.05 625.93C635.8 633.43 624.81 654.22 619.39 664.16C617.57 667.49 616.39 669.6 616.39 669.6L623.06 677.26L642.39 685.93L660.72 693.93C660.72 693.93 680.06 694.93 680.39 693.93C680.72 692.93 680.72 682.6 680.72 682.6C678.366 681.081 676.133 679.382 674.04 677.52C669.605 673.658 665.485 669.448 661.72 664.93C651.06 652.26 672.39 627.93 672.39 627.93L713.39 574.6C713.39 574.6 716.72 568.6 732.72 544.6C748.72 520.6 732.72 507.6 732.72 507.6L704.56 495.91C655.72 477.63 596.81 462.98 596.81 462.98L595.97 462.87L583.48 461.31L547.02 506.93Z" fill="#714137" fill-opacity="0.95"/>
                                          <path id="Vector_69" d="M672.85 685.93C672.85 685.93 676.35 690.06 673.73 690.43C671.11 690.8 664.23 689.31 664.23 689.31L620.6 666.31C620.6 666.31 615.85 662.93 614.73 669.56C613.61 676.19 612.85 675.56 612.85 675.56C612.85 675.56 607.1 687.93 612.85 690.49C618.6 693.05 653.14 703.18 653.14 703.18C653.14 703.18 703.27 714.56 708.02 701.43C712.77 688.3 699.52 690.56 699.52 690.56C699.52 690.56 683.02 686.56 677.39 678.56C677.35 678.56 669.23 680.81 672.85 685.93Z" fill="#444053"/>
                                          <path id="Vector_70" opacity="0.05" d="M732.68 507.6L704.52 495.91C655.68 477.63 596.77 462.98 596.77 462.98L595.93 462.87L583.44 461.31L547.02 506.93C547.02 506.93 551.73 508.65 558.02 511.05C568.02 514.9 582.12 520.52 587.02 523.6C591.92 526.68 610.19 531.74 623.87 535.3C634.012 537.927 644.454 539.215 654.93 539.13C665.57 539.03 678.46 538.93 682.02 538.93C682.643 538.925 683.265 538.972 683.88 539.07C687.62 539.69 687.47 542.2 687.38 542.8V542.93C665.38 556.26 638.71 615.93 637.05 625.93C635.8 633.43 624.81 654.22 619.39 664.16L618.66 665.5C617.21 665.26 615.4 665.78 614.76 669.56C613.63 676.18 612.88 675.56 612.88 675.56C612.88 675.56 607.13 687.93 612.88 690.49C618.63 693.05 653.14 703.18 653.14 703.18C653.14 703.18 703.27 714.56 708.02 701.43C712.77 688.3 699.52 690.56 699.52 690.56C699.52 690.56 683.02 686.56 677.39 678.56C676.891 678.706 676.403 678.886 675.93 679.1C675.34 678.62 674.71 678.1 674.04 677.52C669.605 673.658 665.485 669.448 661.72 664.93C651.06 652.26 672.39 627.93 672.39 627.93L713.39 574.6C713.39 574.6 716.72 568.6 732.72 544.6C748.72 520.6 732.68 507.6 732.68 507.6Z" fill="black"/>
                                          <path id="Vector_71" d="M513.44 283.91L514.96 285.83L515.81 286.9L521.11 293.57C521.11 293.57 533.76 297.63 544.85 300.26C556.4 302.99 566.25 304.18 558.42 297.65C553.56 293.6 553.24 286.82 555.01 279.55C556.501 273.956 558.635 268.553 561.37 263.45C561.763 262.69 562.153 261.95 562.54 261.23C565.024 256.636 567.775 252.192 570.78 247.92C563.67 242.996 556.296 238.466 548.69 234.35C539.53 229.61 532.01 227.54 536.78 236.92C539.84 242.92 538.84 249.66 535.98 256.11C535.76 256.62 535.52 257.11 535.27 257.64C532.703 262.638 529.532 267.303 525.83 271.53C522.037 275.981 517.894 280.12 513.44 283.91V283.91Z" fill="#714137"/>
                                          <path id="Vector_72" d="M576.78 436.24L583.56 442.43L590.11 467.63H579.18L567.11 451.93L576.78 436.24Z" fill="#444053"/>
                                          <path id="Vector_73" opacity="0.1" d="M567.11 451.93L574.41 461.42L579.18 467.63H590.11L588.99 463.32L584.22 444.96L583.56 442.43L576.78 436.24L567.52 451.26L567.11 451.93Z" fill="black"/>
                                          <path id="Vector_74" opacity="0.1" d="M567.11 451.93L574.41 461.42L579.18 467.63H590.11L588.99 463.32L584.22 444.96L583.56 442.43L576.78 436.24L567.52 451.26L567.11 451.93Z" fill="black"/>
                                          <path id="Vector_75" d="M530.78 518.24C530.78 518.24 535.49 519.96 541.78 522.36C551.78 526.21 565.88 531.83 570.78 534.91C575.68 537.99 593.95 543.05 607.63 546.61C617.771 549.24 628.213 550.531 638.69 550.45C649.33 550.35 662.22 550.25 665.78 550.25C666.403 550.245 667.025 550.292 667.64 550.39C671.38 551.01 671.23 553.52 671.14 554.12V554.25C649.14 567.58 622.47 627.25 620.81 637.25C619.56 644.75 608.57 665.54 603.15 675.48C601.33 678.81 600.15 680.92 600.15 680.92L606.82 688.58L626.14 697.24L644.47 705.24C644.47 705.24 663.81 706.24 664.14 705.24C664.47 704.24 664.47 693.91 664.47 693.91C662.116 692.391 659.883 690.692 657.79 688.83C653.355 684.968 649.235 680.758 645.47 676.24C634.81 663.57 656.14 639.24 656.14 639.24L697.14 585.91C697.14 585.91 700.47 579.91 716.47 555.91C732.47 531.91 716.47 518.91 716.47 518.91L690.81 504.24C650.81 479.91 594.47 465.91 594.47 465.91L593.63 465.8L581.14 464.24L530.78 518.24Z" fill="#714137"/>
                                          <path id="Vector_76" opacity="0.1" d="M600.14 680.91L606.81 688.57L626.14 697.24L644.47 705.24C644.47 705.24 663.81 706.24 664.14 705.24C664.47 704.24 664.47 693.91 664.47 693.91C662.116 692.391 659.883 690.692 657.79 688.83C655.72 689.94 653.37 692.02 655.64 695.24C655.64 695.24 659.14 699.36 656.52 699.74C653.9 700.12 647.02 698.62 647.02 698.62L603.39 675.62L603.14 675.45C601.3 678.8 600.14 680.91 600.14 680.91Z" fill="black"/>
                                          <path id="Vector_77" d="M656.61 697.24C656.61 697.24 660.11 701.36 657.48 701.74C654.85 702.12 647.98 700.61 647.98 700.61L604.36 677.61C604.36 677.61 599.61 674.24 598.48 680.86C597.35 687.48 596.61 686.86 596.61 686.86C596.61 686.86 590.86 699.24 596.61 701.8C602.36 704.36 636.86 714.45 636.86 714.45C636.86 714.45 686.98 725.82 691.73 712.7C696.48 699.58 683.23 701.82 683.23 701.82C683.23 701.82 666.73 697.82 661.11 689.82C661.14 689.86 652.98 692.11 656.61 697.24Z" fill="#444053"/>
                                          <path id="Vector_78" opacity="0.1" d="M533.44 253.57C539.22 257.57 548.04 263.9 555.57 263.9C557.512 263.9 559.452 263.746 561.37 263.44C564.155 258.058 567.299 252.87 570.78 247.91C570.78 247.91 526.78 217.24 536.78 236.91C540.08 243.45 536.83 246.66 533.44 253.57Z" fill="black"/>
                                          <path id="Vector_79" d="M519.57 225.9C519.565 231.904 521.064 237.813 523.931 243.089C526.797 248.364 530.94 252.837 535.98 256.1C537.111 256.838 538.287 257.506 539.5 258.1C546.507 261.596 554.463 262.711 562.162 261.277C569.86 259.843 576.881 255.938 582.16 250.154C587.439 244.37 590.688 237.023 591.415 229.226C592.141 221.429 590.306 213.608 586.186 206.948C582.067 200.288 575.888 195.153 568.587 192.322C561.286 189.49 553.261 189.116 545.729 191.257C538.196 193.398 531.567 197.936 526.846 204.184C522.126 210.432 519.571 218.049 519.57 225.88V225.9Z" fill="#714137"/>
                                          <path id="Vector_80" opacity="0.1" d="M530.78 518.24C530.78 518.24 535.49 519.96 541.78 522.36C545.73 518.88 549.78 515.52 551.47 514.91C555.14 513.57 567.14 506.57 566.81 504.57C566.48 502.57 571.81 494.91 576.47 493.57C581.13 492.23 578.47 485.24 578.47 485.24C578.47 485.24 587.47 481.91 589.71 477.24C591.95 472.57 598.81 466.57 596.47 466.91C595.455 466.745 594.487 466.367 593.63 465.8L581.14 464.24L530.78 518.24Z" fill="black"/>
                                          <path id="Vector_81" d="M503.44 506.24C503.44 506.24 518.78 518.91 519.49 524.57C520.2 530.23 594.44 545 594.44 545C594.44 545 625.34 551.83 629 550.5C660.5 553 689.33 547 689 545C693.5 542.5 705.84 526.84 710.5 525.5C715.16 524.16 718.5 520 718.5 520C718.5 520 722.5 519 722.5 515.5C724.74 510.83 733.84 507.16 731.5 507.5C742.06 512.09 719.18 499.09 716.5 497.5C713.21 495.5 581.53 458.61 578.13 456.32C574.53 453.88 571.78 451.94 571.78 451.94C571.78 451.94 570.21 451.66 567.52 451.27C553.01 449.17 505.75 443.81 494.78 461.27C493.318 463.577 492.221 466.097 491.53 468.74C486.62 487.34 503.44 506.24 503.44 506.24Z" fill="#444053"/>
                                          <path id="Vector_82" opacity="0.1" d="M519.48 465.82C519.48 465.82 503.82 474.66 497.98 474.66C492.14 474.66 519.48 465.82 519.48 465.82Z" fill="black"/>
                                          <path id="Vector_83" opacity="0.1" d="M529.94 472.57C529.94 472.57 506.62 480.41 506.62 486.57C506.62 492.73 504.44 470.07 529.94 472.57Z" fill="black"/>
                                          <path id="Vector_84" opacity="0.1" d="M585.77 437.26L585.44 437.71C585.59 437.594 585.705 437.438 585.77 437.26V437.26Z" fill="black"/>
                                          <path id="Vector_85" opacity="0.1" d="M513.44 283.91L514.96 285.83L515.81 286.9L521.11 293.57C521.11 293.57 533.76 297.63 544.85 300.26C556.4 302.99 566.25 304.18 558.42 297.65C553.56 293.6 553.24 286.82 555.01 279.55L554.66 279.1C554.66 279.1 555.01 285.84 551.02 285.97C545.64 286.14 545.57 284.33 540.61 282.24C534.22 279.54 527.67 275.03 525.83 271.52C522.037 275.974 517.894 280.117 513.44 283.91Z" fill="black"/>
                                          <path id="Vector_86" opacity="0.1" d="M491.53 468.71C494.258 469.876 497.33 469.948 500.11 468.91C510.44 465.57 526.78 457.53 534.44 461.05C540.58 463.87 565.31 463.79 574.44 461.42C576.71 460.83 578.01 460.1 577.81 459.24C577.681 458.249 577.801 457.242 578.16 456.31C579.22 452.92 582.1 448.21 584.25 444.96L583.59 442.43L576.81 436.24L567.55 451.24C553.04 449.14 505.78 443.78 494.81 461.24C493.337 463.546 492.231 466.065 491.53 468.71Z" fill="black"/>
                                          <path id="Vector_87" d="M484.78 460.91C484.78 460.91 488.78 470.24 499.11 466.91C509.44 463.58 525.78 455.53 533.44 459.05C541.1 462.57 577.78 461.57 576.78 457.24C575.78 452.91 585.78 439.24 585.78 439.24C585.78 439.24 580.32 438.24 576.94 420.41C576.44 417.81 575.99 414.85 575.61 411.49C574.784 404.609 574.59 397.667 575.03 390.75C576.38 371.45 583.14 363.57 583.14 363.57C583.14 363.57 592.47 352.91 584.47 338.24C580.28 330.55 563.37 309.24 563.14 299.74C562.93 291.12 554.69 281.1 554.69 281.1C554.69 281.1 555.04 287.84 551.05 287.97C545.67 288.14 545.6 286.33 540.64 284.24C533.35 281.16 525.86 275.73 525.37 272.1C525.37 272.1 494.81 270.57 488.14 301.57C481.47 332.57 483.81 349.57 484.81 353.24C485.81 356.91 494.47 404.24 487.47 424.24C480.47 444.24 484.78 460.91 484.78 460.91Z" fill="#F28482"/>
                                          <path id="Vector_88" opacity="0.1" d="M534.61 406.45C540.122 415.748 547.496 423.807 556.27 430.12C562.121 430.169 567.964 430.559 573.77 431.29C573.27 428.69 572.77 425.73 572.44 422.37C571.614 415.489 571.42 408.547 571.86 401.63C570.9 401.149 570.054 400.468 569.378 399.633C568.702 398.798 568.212 397.829 567.94 396.79C566.27 391.12 551.4 364.12 551.4 364.12C551.4 364.12 516.61 355.12 515.4 364.12C514.19 373.12 525.94 391.45 534.61 406.45Z" fill="black"/>
                                          <path id="Vector_89" d="M546.14 347.29C546.14 347.29 567.14 387.02 568.77 392.69C569.194 394.264 570.11 395.662 571.383 396.68C572.656 397.698 574.221 398.283 575.85 398.35C575.85 398.35 596.77 403.35 601.77 404.02C606.77 404.69 650.14 408.35 650.14 408.35C650.14 408.35 661.14 408.69 662.47 404.69C663.69 401.03 684.94 381.8 697.24 398.58C698.374 400.132 699.126 401.93 699.435 403.827C699.745 405.725 699.602 407.668 699.02 409.5C696.76 416.7 692.12 428.13 687.14 421.02C680.14 411.02 672 413.83 672 419.16C672 424.49 660.8 422.51 657.14 423.26C655.14 423.67 648.26 425.5 642.31 427.1C635.387 428.97 628.296 430.146 621.14 430.61C609.33 431.38 591.92 432.02 585.75 429.69C578.31 426.86 565.32 426.21 559.75 426.06C557.908 426.015 556.13 425.377 554.68 424.24C546.966 418.198 540.442 410.775 535.44 402.35C526.77 387.35 508.94 356.29 510.14 347.29C511.34 338.29 546.14 347.29 546.14 347.29Z" fill="#714137"/>
                                          <path id="Vector_90" opacity="0.1" d="M539.14 292.24C539.14 292.24 550.39 310.91 555.6 324.24C560.81 337.57 567.14 360.91 567.14 360.91L535.8 357.24L533.14 352.91C533.14 352.91 510.76 366.91 513.43 372.91C516.1 378.91 507.43 363.91 508.1 346.91C508.77 329.91 505.69 299.57 508.1 292.24C510.51 284.91 531.77 286.57 539.14 292.24Z" fill="black"/>
                                          <path id="Vector_91" d="M508.14 344.91C507.47 361.91 516.14 376.91 513.47 370.91C510.8 364.91 533.18 350.91 533.18 350.91L535.81 355.24L567.14 358.91C567.14 358.91 560.81 335.57 555.6 322.24C552.47 314.699 548.89 307.352 544.88 300.24C541.67 294.41 539.14 290.24 539.14 290.24C534.83 286.91 525.68 284.96 518.38 285.42C517.242 285.485 516.11 285.622 514.99 285.83C511.99 286.42 509.57 287.56 508.5 289.36C508.336 289.639 508.202 289.934 508.1 290.24C505.7 297.57 508.78 327.91 508.14 344.91Z" fill="#F28482"/>
                                          <path id="Vector_92" opacity="0.1" d="M494.14 391.45C494.14 391.45 507.39 409.7 511.39 410.2C511.36 410.24 494.36 406.45 494.14 391.45Z" fill="black"/>
                                          <path id="Vector_93" opacity="0.1" d="M494.14 417.45C494.14 417.45 519.14 442.7 527.14 442.95C535.14 443.2 494.14 417.45 494.14 417.45Z" fill="black"/>
                                          <path id="Vector_94" opacity="0.1" d="M494.14 427.99C494.14 427.99 510.14 446.74 511.14 446.74C512.14 446.74 493.86 440.24 494.14 427.99Z" fill="black"/>
                                          <path id="Vector_95" opacity="0.1" d="M508.47 289.36C511.042 288.977 513.526 288.144 515.81 286.9C516.67 286.45 517.52 285.95 518.35 285.42C521.629 283.226 524.684 280.713 527.47 277.92C532.07 273.45 536.66 268.57 538.56 262.44C538.987 261.027 539.302 259.583 539.5 258.12C540.64 250.43 539.68 241.94 545.18 236.71C546.213 235.735 547.399 234.934 548.69 234.34C556.49 230.63 567.8 233.03 573.62 226.34C577.32 222.1 577.23 216.21 580.07 211.6C581.31 209.6 583.59 207.87 585.61 206.03C582.668 201.552 578.764 197.786 574.182 195.009C569.599 192.232 564.455 190.512 559.124 189.976C553.792 189.44 548.409 190.1 543.365 191.91C538.322 193.719 533.746 196.631 529.971 200.434C526.196 204.237 523.318 208.834 521.546 213.891C519.775 218.948 519.154 224.337 519.73 229.664C520.305 234.991 522.063 240.122 524.874 244.684C527.686 249.245 531.48 253.121 535.98 256.03C535.76 256.54 535.52 257.03 535.27 257.56C528.4 271.56 513.44 283.84 513.44 283.84L514.96 285.76C511.93 286.45 509.54 287.56 508.47 289.36Z" fill="black"/>
                                          <path id="Vector_96" opacity="0.1" d="M671.14 554.11L679.55 550.04V548.45C679.55 547.84 672.84 549.19 667.64 550.34C671.38 551 671.23 553.51 671.14 554.11Z" fill="black"/>
                                          <path id="Vector_97" d="M678.45 462.15C689.639 462.15 698.71 451.114 698.71 437.5C698.71 423.886 689.639 412.85 678.45 412.85C667.261 412.85 658.19 423.886 658.19 437.5C658.19 451.114 667.261 462.15 678.45 462.15Z" fill="#191919"/>
                                          </g>
                                          <g id="hair">
                                          <path id="Vector_98" d="M571.62 225.36C564.85 233.12 550.62 228.6 543.17 235.71C536.63 241.94 539.23 252.81 536.56 261.44C534.66 267.57 530.07 272.44 525.47 276.92C518.77 283.44 510.2 290.06 501.04 288.19C495.61 287.08 490.29 283.02 485.04 284.89C482.43 285.83 480.56 288.09 478.61 290.08C471.986 296.83 463.377 301.284 454.04 302.79C452.194 303.206 450.269 303.117 448.47 302.53C445.67 301.39 444.16 298.33 441.61 296.7C436.61 293.5 430.19 296.78 425 299.64C410.485 307.499 394.463 312.176 378 313.361C361.537 314.546 345.01 312.21 329.52 306.51L337.61 302.51C335.89 299 331.24 298.23 328.28 295.66C322.18 290.37 325.77 279.79 332.22 274.94C338.67 270.09 347.02 268.4 353.7 263.87C355.06 262.95 356.44 261.73 356.57 260.1C356.548 258.903 356.168 257.74 355.48 256.76C351.92 250.49 347.98 243.76 348.78 236.59C350 225.59 362.01 218.83 373.04 218.06C384.07 217.29 394.99 220.61 406.04 220.8C410.04 220.87 414.23 220.48 417.66 218.41C422.45 215.53 424.86 210.04 427.77 205.27C432.964 196.801 440.407 189.939 449.27 185.45C459.27 180.4 470.59 178.63 480.99 174.45C491.61 170.19 501.27 163.45 512.38 160.74C528.51 156.74 545.79 161.97 559.72 171.01C566.43 175.36 587.86 189.32 587.72 198.25C587.61 203.55 580.72 206.42 578.11 210.58C575.23 215.23 575.32 221.12 571.62 225.36Z" fill="#191919"/>
                                          </g>
                                          <g id="head" opacity="0.1">
                                          <path id="Vector_99" opacity="0.1" d="M354.5 251.75C355.184 252.732 355.563 253.894 355.59 255.09C355.55 255.512 355.431 255.922 355.24 256.3C352.3 251.12 349.24 245.63 348.75 239.85C350.05 243.98 352.34 247.95 354.5 251.75Z" fill="black"/>
                                          <path id="Vector_100" opacity="0.1" d="M327.3 290.65C330.25 293.22 334.9 293.99 336.63 297.5L333.77 298.92C331.843 298.014 330.011 296.918 328.3 295.65C327.216 294.684 326.369 293.479 325.828 292.131C325.287 290.783 325.065 289.328 325.18 287.88C325.69 288.939 326.411 289.881 327.3 290.65V290.65Z" fill="black"/>
                                          <path id="Vector_101" opacity="0.1" d="M424.02 294.64C429.21 291.78 435.64 288.5 440.63 291.7C443.17 293.33 444.69 296.39 447.49 297.53C449.286 298.117 451.207 298.207 453.05 297.79C462.389 296.284 471.002 291.83 477.63 285.08C479.57 283.08 481.44 280.83 484.06 279.89C489.28 278.02 494.6 282.08 500.06 283.19C509.22 285.06 517.78 278.44 524.49 271.92C529.09 267.45 533.67 262.57 535.57 256.44C538.25 247.81 535.65 236.94 542.19 230.71C549.66 223.6 563.86 228.12 570.64 220.36C574.33 216.12 574.25 210.23 577.09 205.62C579.49 201.73 585.71 198.97 586.59 194.28C587.277 195.504 587.658 196.877 587.7 198.28C587.59 203.58 580.7 206.45 578.09 210.61C575.25 215.22 575.33 221.11 571.64 225.35C564.86 233.11 550.64 228.59 543.19 235.7C536.65 241.93 539.25 252.8 536.57 261.43C534.67 267.56 530.09 272.43 525.49 276.91C518.78 283.43 510.22 290.05 501.06 288.18C495.62 287.07 490.3 283.01 485.06 284.88C482.44 285.82 480.57 288.08 478.63 290.07C472.002 296.82 463.389 301.274 454.05 302.78C452.207 303.197 450.286 303.107 448.49 302.52C445.69 301.38 444.17 298.32 441.63 296.69C436.63 293.49 430.21 296.77 425.02 299.63C410.505 307.489 394.483 312.166 378.02 313.351C361.557 314.536 345.03 312.2 329.54 306.5L335.13 303.73C349.815 308.142 365.227 309.61 380.482 308.05C395.736 306.49 410.532 301.933 424.02 294.64V294.64Z" fill="black"/>
                                          </g>
                                          <g id="box">
                                          <path id="Vector_102" d="M483.45 515.3V405.42L450.88 437.54V545.06L483.45 515.3Z" fill="#F9A819"/>
                                          <path id="Vector_103" d="M343.81 435.67V545.06H450.88V437.54L343.81 435.67Z" fill="#F9A819"/>
                                          <path id="Vector_104" opacity="0.3" d="M343.81 435.67V545.06H450.88V437.54L343.81 435.67Z" fill="white"/>
                                          <path id="Vector_105" d="M438.364 460.652L357.572 460.006L355.761 513.276L439.097 514.915L438.364 460.652Z" fill="#DCE0ED"/>
                                          <path id="Vector_106" d="M470.28 463.09L468.83 419.83L460.46 428.09L461.92 471.45L470.28 463.09Z" fill="#65617D"/>
                                          <path id="Vector_107" d="M483.45 405.42L450.88 437.54L343.81 435.67L373.25 405.42H483.45Z" fill="#F9A819"/>
                                          <path id="Vector_108" d="M362.48 416.49L465.37 417.88L468.83 419.83L460.46 428.09L457.57 426.39L355.66 423.5L362.48 416.49Z" fill="#65617D"/>
                                          <path id="Vector_109" d="M409.942 476.604L398.558 470.513C397.287 469.829 395.713 469.829 394.442 470.513L383.058 476.604C381.787 477.288 381 478.547 381 479.909V492.091C381 493.453 381.787 494.712 383.058 495.396L394.442 501.487C395.713 502.171 397.287 502.171 398.558 501.487L409.942 495.396C411.213 494.712 412 493.453 412 492.091V479.909C412 478.547 411.213 477.288 409.942 476.604ZM408.255 490.201C408.255 491.494 407.511 492.689 406.302 493.333L398.447 497.533C397.238 498.177 395.75 498.177 394.541 497.533L392.724 496.562V484.489L392.699 484.201L392.78 479.782C392.78 479.782 389.01 481.725 388.936 481.759C388.762 481.834 388.347 482.127 388.347 483.224L388.39 485.701L388.31 494.2L386.698 493.338C385.489 492.695 384.745 491.5 384.745 490.207V481.799C384.745 480.506 385.489 479.311 386.698 478.667L394.553 474.467C395.762 473.823 397.25 473.823 398.459 474.467L398.794 474.645C398.875 474.857 398.899 475.15 398.788 475.564L397.889 479.202C397.889 479.202 397.554 480.42 398.608 479.845L403.456 477.144L406.308 478.667C407.517 479.311 408.261 480.506 408.261 481.799V490.201H408.255Z" fill="#F9A819"/>
                                          </g>
                                          <g id="frontWheel">
                                          <path id="Vector_110" d="M901.55 719.45C901.513 740.699 893.279 761.114 878.562 776.442C863.846 791.77 843.783 800.829 822.554 801.732C801.324 802.634 780.565 795.31 764.601 781.286C748.637 767.262 738.7 747.619 736.86 726.45C736.74 725.11 736.65 723.77 736.61 722.45V722.38C736.57 721.387 736.55 720.387 736.55 719.38C736.55 697.5 745.242 676.515 760.714 661.044C776.185 645.572 797.17 636.88 819.05 636.88C840.93 636.88 861.915 645.572 877.386 661.044C892.858 676.515 901.55 697.5 901.55 719.38V719.45Z" fill="#191919" fill-opacity="0.8"/>
                                          <path id="Vector_111" d="M819.05 764.4C843.903 764.4 864.05 744.253 864.05 719.4C864.05 694.547 843.903 674.4 819.05 674.4C794.197 674.4 774.05 694.547 774.05 719.4C774.05 744.253 794.197 764.4 819.05 764.4Z" fill="#DCE0ED"/>
                                          <path id="Vector_112" d="M819.05 746.4C833.962 746.4 846.05 734.312 846.05 719.4C846.05 704.488 833.962 692.4 819.05 692.4C804.138 692.4 792.05 704.488 792.05 719.4C792.05 734.312 804.138 746.4 819.05 746.4Z" fill="#65617D"/>
                                          <line id="Line 1_2" x1="793.514" y1="727.857" x2="776.708" y2="736.775" stroke="black" stroke-width="2"/>
                                          <line id="Line 4_2" x1="860.779" y1="737.489" x2="845" y2="726.858" stroke="black" stroke-width="2"/>
                                          <line id="Line 5_2" x1="819.327" y1="745.985" x2="819.5" y2="764.984" stroke="black" stroke-width="2"/>
                                          <line id="Line 6_2" x1="819.327" y1="673.985" x2="819.5" y2="692.984" stroke="black" stroke-width="2"/>
                                          <line id="Line 7_2" x1="854.554" y1="691.47" x2="842.628" y2="707.525" stroke="black" stroke-width="2"/>
                                          <line id="Line 8_2" x1="798.122" y1="703.653" x2="786.197" y2="687.596" stroke="black" stroke-width="2"/>
                                          </g>
                                          <defs>
                                          <filter id="filter0_d" x="538.782" y="343.29" width="197.472" height="96.0249" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                                          <feOffset dy="4"/>
                                          <feGaussianBlur stdDeviation="2"/>
                                          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                                          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                                          </filter>
                                          </defs>
                                          </svg>
                                          
                                            
                                          </div>
                                        <div class="card-body" *ngIf="!processingEstimate && gpsDistance">
                                            <form name="form" (ngSubmit)=" createRequest(f)" #f="ngForm" novalidate>
                                                <div class="form-row">
                                                    <div class="form-group"><p class="small text-gray-600">You are almost done- enter the following details</p></div>
                                                </div>
                                                <div class="ng-autocomplete rounded-0 small text-gray-600">
                                                    <!-- <input class="form-control rounded-0 small text-gray-600" id="leadCapSenderName" type="text" placeholder="Receiver's phone" /> -->
                                                    <ng-autocomplete class=""
                                                        [data]="item"
                                                        [searchKeyword]="keyword"
                                                        placeHolder="What are you sending"
                                                        (selected)='selectEvent($event)'
                                                        (inputChanged)='onChangeSearch($event)'
                                                        (inputFocused)='onFocused($event)'
                                                        historyIdentifier="item"
                                                        [itemTemplate]="itemTemplate"
                                                        [notFoundTemplate]="notFoundTemplate"
                                                        >
                                                    </ng-autocomplete>
                                                    
                                                    <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.type"></a>
                                                    </ng-template>
                                                    
                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="notFound"></div>
                                                    </ng-template>

                                                   
                                                </div>
                                                <hr>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <input class="form-control rounded-0 small text-gray-600" id="leadCapSenderName" type="text" placeholder="Sender's name" [(ngModel)]="form.customerName" #customerName="ngModel"
                                                        required name="senderName" maxlength="200"/>
                                                 <div *ngIf="(f.form.dirty || f.form.touched) && customerName.invalid">
                                                   <div *ngIf="customerName.errors.required"><small>Sender's name is required</small></div>
                                                 </div></div>
                                                    <div class="form-group col-md-6">
                                                        <input class="form-control rounded-0 small text-gray-600" id="leadCapSenderName" type="text" placeholder="Sender's phone" [(ngModel)]="form.customerPhoneNo" #customerPhoneNo="ngModel"
                                                        required name="customerPhoneNo" maxlength="20"/>
                                                 <div *ngIf="(f.form.dirty || f.form.touched) && customerPhoneNo.invalid">
                                                   <div *ngIf="customerPhoneNo.errors.required"><small>Sender's number is required</small></div>
                                                 </div></div>
                                                </div>
                                                <hr>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <input class="form-control rounded-0 small text-gray-600" id="leadCapSenderName" type="text" placeholder="Receiver's name"  [(ngModel)]="form.recipientName" #recipientName="ngModel"
                                                        required name="recipientName" maxlength="200"/>
                                                 <div *ngIf="(f.form.dirty || f.form.touched) && recipientName.invalid">
                                                   <div *ngIf="recipientName.errors.required"><small>Receiver's name is required</small></div>
                                                 </div></div>
                                                    <div class="form-group col-md-6">
                                                        <input class="form-control rounded-0 small text-gray-600" id="leadCapSenderName" type="text" placeholder="Receiver's phone" [(ngModel)]="form.recipientPhoneNo" #recipientPhoneNo="ngModel"
                                                        required name="recipientPhoneNo" maxlength="50"/>
                                                 <div *ngIf="(f.form.dirty || f.form.touched) && recipientPhoneNo.invalid">
                                                   <div *ngIf="recipientPhoneNo.errors.required"><small> Receiver's phone number is required</small></div>
                                                 </div></div>
                                                </div>
                                                <hr>
                                                <div class="form-row small" *ngIf="!processingEstimate && gpsDistance">
                                                    <button type="button" class="btn form-control col-md-4" style="background-color: #000000; color: #ffffff; cursor: none;" *ngIf="gpsDistance.distance && !redirecting"><i class="fa fa-motorcycle"></i> {{gpsDistance.distance || ''}} </button>
                                                    <button type="button" class="btn form-control col-md-4" style="background-color: #000000; color: #ffffff; cursor: none;"><i class="fa fa-credit-card"></i> {{(gpsDistance.amount/100.00) | currency: 'NGN'}}</button> &emsp;
                                                    <button type="submit" class="btn btn-primary form-control col-md-3" *ngIf="!redirecting">Proceed <i *ngIf="registering" class="fa fa-spinner fa-spin" ></i></button>                            
                                                    <button type="button" class="btn btn-primary form-control col-md-3" *ngIf="redirecting">Redirecting to Payment Page <i class="fa fa-spinner fa-spin" ></i></button>                            

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <!--CARDS SECTION STARTS-->
                <section class="bg-light pt-10">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mb-5">
                                <div class="badge badge-marketing mb-3" style="background-color: #ffb53e; color: #ffffff;"><strong>Pickup | Delivery | Dropoff | Vendor Accounts</strong></div>
                                <h2></h2>
                                <p class="lead">Are you an individual or a business? You can now reduce your delivery and logistic charges by 30% and experience a fully reliable, fast and supportive service with NaytifBox.</p>
                            </div>
                        </div>
                        <div class="row mb-n10 z-1" id="getEstimateAndTrackItem">
                            <!-- <div class="col-lg-6 mb-5">
                                <div class="card h-100">
                                    <div class="card-body p-5">
                                        <div class="icon-stack icon-stack-xl bg-yellow text-white mb-4"><i class="fa fa-calculator"></i></div>
                                        <h5>Get an estimate</h5>
                                        <form id="locationField">
                                            <input type="text" id="estimateAutocompletePickUp" onFocus="geolocate" placeholder="Enter pickup address">
                                            <div class="input-container">
                                                <input type="text" id="estimateAutocompleteDelivery" onFocus="geolocate()" placeholder="Enter delivery address" style="width: 92%;"><a onclick="myEstimate()"><i class="go-icon fa fa-arrow-right fa-3x"></i></a>
                                            </div>
                                            <div id="estimate_result" style="color: #ffb53e; display: none;">
                                                <span><i class="fas fa-motorcycle"></i> &emsp;</span>Same day from N800.00  |  Express from N1,200.00
                                            </div>
                                            <p><strong>Estimates are only valid for Abuja addresses</strong></p>                            
                                        </form>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-lg-12 mb-5">
                                <div class="card h-100">
                                    <div class="card-body p-5">
                                        <div class="icon-stack icon-stack-xl bg-yellow text-white mb-4"><i class="fa fa-motorcycle"></i></div>
                                        <h5>Track item</h5>
                                        {{searchMessage}}
                                        <form id="trackItem">
                                            <div class="input-container">
                                                <input type="text" id="searchTrackingId" placeholder="Enter Tracking ID" style="width: 92%;" [(ngModel)]="searchTrackingId" name="searchTrackingId"><a (click)="fetchDeliveryInfoByTrackingId()"><i *ngIf="!searching" class="go-icon fa fa-arrow-right fa-3x"></i><i *ngIf="searching" class="go-icon fa fa-spinner fa-2x fa-spin"></i></a>
                                            </div>
                                            <p><strong>View status of your delivery items</strong></p>
                                            <div id="trackResultSmall" *ngIf="trackedDelivery && !searching">
                                                <table class="table" style="border: 1px solid; border-collapse: collapse;">
                                                    <thead class="bg-black text-white thead" style="font-size: 0.3rem;">
                                                        <tr>
                                                            <th>Tracking ID</th>
                                                            <th>Amount</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-black tbody" style="font-size: 0.5rem;">
                                                        <tr>
                                                            <td>{{trackedDelivery.trackingId}}</td> <!--Tracking ID combines YEAR|MONTH|DAY|ORDER NUMBER-->
                                                            <td>{{(trackedDelivery.amount /100.0) | currency: 'N' }}</td>
                                                            <td class="bold text-green">{{trackedDelivery.status.replace('_', ' ')}}</td> <!--Allows 3 types- DONE, IN-PROGESS, CANCELLED-->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="text-center">
                                                    <a [routerLink]="['/home/delivery-requests', trackedDelivery.trackingId]" class="btn rounded-0 px-4 bg-yellow text-white">View</a>
                                                </div>
                                            </div>

                                            

                                            <div id="trackResultBig" *ngIf="trackedDelivery && !searching">
                                                <table class="table" style="border: 1px solid; border-collapse: collapse;">
                                                    <thead class="bg-black text-white thead" style="font-size: 0.3rem;">
                                                        <tr>
                                                            <th>Tracking ID</th>
                                                            <th>Pickup Address</th>
                                                            <th>Delivery Address</th>
                                                            <th>Amount</th>
                                                            <th>Status</th>
                                                            <th>&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-black tbody" style="font-size: 0.5rem;">
                                                        <tr>
                                                            <td>{{trackedDelivery.trackingId}}</td> <!--Tracking ID combines YEAR|MONTH|DAY|ORDER NUMBER-->
                                                            <td>{{trackedDelivery.pickUpAddress.streetAddress}}</td>
                                                            <td>{{trackedDelivery.deliveryAddress.streetAddress}}</td>
                                                            <td>{{(trackedDelivery.amount /100.0) | currency: 'N' }} </td>
                                                            <td class="bold text-green">{{trackedDelivery.status.replace('_', ' ')}}</td> <!--Allows 3 types- DONE, IN-PROGESS, CANCELLED-->
                                                            <td class="bg-yellow"> <a [routerLink]="['/home/delivery-requests', trackedDelivery.trackingId]"><i class="fa fa-eye text-white"></i></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-5 mb-lg-0">
                                <div class="card h-100">
                                    <div class="card-body p-5">
                                        <div class="icon-stack icon-stack-xl bg-yellow text-white mb-4"><i class="fa fa-archive"></i></div>
                                        <h5>Pickup and drop-off</h5>
                                        <p class="card-text">Save up to 50% when you drop-off your delivery items at the NaytifBox office. We can also pick your items for you from the park, airport or any other location- you can walk-in to collect your item.</p>
                                        <a class="btn rounded-0 px-4 bg-black text-white" href="https://linktr.ee/naytifbox">Contact us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card h-100">
                                    <div class="card-body p-5">
                                        <div class="icon-stack icon-stack-xl bg-yellow text-white mb-4"><i class="fa fa-briefcase"></i></div>
                                        <h5>Become a partner</h5>
                                        <p class="card-text">Invest in a bicycle, motorcycle, car or van. Join the partners' community at NaytifBox- choose one of the partner's investment plans, start earning and enjoy amazing benefits.</p>
                                        <a class="btn rounded-0 px-4 bg-black text-white" href="/partner">Let's meet you</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="svg-border-angled text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
                    </div>
                </section>


                <!--VENDOR SIGN UP ADS SECTION STARTS-->
                <section class="bg-white border-bottom py-10">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <h4 class="text-black" id="animatedBadge2">Ready to achieve more?</h4>
                                <p class="lead mb-0">Create your NaytifBox vendor account now!</p>
                            </div>
                            <div class="col-lg-6 text-lg-right"><a class="btn btn-marketing rounded-0 mr-3 bg-yellow text-white" href="/register">Start Now</a><a class="btn btn-marketing btn-transparent-dark rounded-0" href="mailto:hello@naytifbox.com?subject=Vendor Account Enquiry">Let's talk</a></div>
                        </div>
                    </div>
                </section>
              
            </main>
        </div>

        <!--FOOTER STARTS-->
        <div id="layoutDefault_footer">
            <footer class="footer pt-10 pb-5 mt-auto bg-black footer-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="footer-brand"><img style="height: 5rem; width: 5rem;" src="../assets/images/NaytifBox_logoIcon_250px_PNG.png"></div>
                            <div class="mb-3" style="margin-top: 2rem;">Ready | Send | Done</div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                    <div class="text-uppercase-expanded text-xs mb-4 text-yellow">About</div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><a href="/pricing">Pricing</a></li>
                                        <li class="mb-2"><a href="/faqs">FAQs</a></li>
                                        <li class="mb-2"><a href="/terms">Terms</a></li>
                                        <li class="mb-2"><a href="/shipping-policy">Shipping policy</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                    <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Company</div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><a href="/partner">Become a partner</a></li>
                                        <li class="mb-2"><a href="https://medium.com/@naytifbox">Blog</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                    <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Contact us</div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2">080-923-777-74</li>
                                        <li class="mb-2">hello@naytifbox.com</li>
                                    </ul>
                                    <div class="icon-list-social mb-5 bold text-yellow" style="display: block;">
                                        <a class="icon-list-social-link" href="https://instagram.com/naytifbox.ng" target="_blank"><i class="fa fa-instagram"></i></a>
                                        <a class="icon-list-social-link" href="https://wa.me/2348092377774" target="_blank"><i class="fa fa-whatsapp"></i></a>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-5" />
                    <div class="row align-items-center">
                        <div class="col-md-6 small">Copyright &copy; NaytifBox 2020</div>
                    </div>
                </div>
            </footer>
        </div>

    </div>
</body>
