<div id="layoutDefault">
    <div id="layoutDefault_content">
        <main>
            <nav class="navbar navbar-marketing navbar-expand-lg bg-black navbar-dark sticky-top">
                <div class="container">
                    <a class="navbar-brand text-white" href=""><img height="" src="../../../assets/images/NaytifBox_logoS1_w_500px_PNG.png" alt=""> </a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mr-lg-5">
                             <li class="nav-item"><a class="nav-link" href="">Home </a></li>
                            <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://medium.com/@naytifbox">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        </ul>
                        <a class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white" href="/register">Signup<i class="fa fa-arrow-right ml-1"></i></a>
                    </div>
                </div>
            </nav> 
            <section class="bg-white py-10">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 mt-5">
                            <h1>Shipping Policy</h1>
                            <p class="lead">Last updated: March 2020</p>
                            <hr class="my-5" />
                            <p class="Lead">NaytifBox adheres to the UPU (Universal Postal Union) list of items not permitted and admitted, and will make changes to the list as updated by the UPU. The items listed below refer to items which NaytifBox does not ship.</p>
                            <ol>
                                <li><a href="http://www.upu.int/uploads/tx_sbdownloader/listCustomsNarcoticDrugsUnderInternationalControlEn.pdf" target="_blank">Narcotic drugs under international control (Relevant to Article 19.2 of the UPU Convention – Prohibitions in all categories of items)</a></li>
                                <hr class="my-5" />
                                <li><a href="http://www.upu.int/uploads/tx_sbdownloader/listCustomsPsychotropicSubstancesUnderInternationalControlEn.pdf" target="_blank">Psychotropic substances under international control (Relevant to Article 19.2 of the UPU Convention – Prohibitions in all categories of items)</a></li>
                                <hr class="my-5" />
                                <li><a href="http://www.upu.int/uploads/tx_sbdownloader/descriptionCustomsClassesOfDangerousGoodsEn.pdf" target="_blank">Definition of 9 classes of dangerous goods (Relevant to Article 19.3 of the UPU Convention – Dangerous Goods)</a></li>
                                <hr class="my-5" />
                                <li>Archives - Historical information about prohibited articles (2007 List of prohibited articles)
                                    <ul>
                                        <li><a href="http://www.upu.int/uploads/tx_sbdownloader/descriptionCustomsProhibitedArticlesEn.pdf" target="_blank">General information about the prohibited articles</a></li>
                                        <li><a href="http://www.upu.int/uploads/tx_sbdownloader/listCustomsProhibitedArticlesEn.pdf" target="_blank">List of prohibited articles</a></li>
                                    </ul>
                                </li>
                            </ol>
                            <hr class="my-5" />
                            <div class="card z-1 mb-10">
                                <div class="card-body text-center py-5">
                                    <h2 class="mb-3">You got questions?</h2>
                                    <a class="btn btn-marketing rounded-0 bg-yellow text-white" href="https://linktr.ee/naytifbox">Let's talk</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <!--FOOTER STARTS-->
    <div id="layoutDefault_footer">
        <footer class="footer pt-10 pb-5 mt-auto bg-black footer-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-brand"><img style="height: 5rem; width: 5rem;" src="../assets/images/NaytifBox_logoIcon_250px_PNG.png"></div>
                        <div class="mb-3" style="margin-top: 2rem;">Ready | Send | Done</div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4 text-yellow">About</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="/pricing">Pricing</a></li>
                                    <li class="mb-2"><a href="/faqs">FAQs</a></li>
                                    <li class="mb-2"><a href="/terms">Terms</a></li>
                                    <li class="mb-2"><a href="/shipping-policy">Shipping policy</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Company</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="/partner">Become a partner</a></li>
                                    <li class="mb-2"><a href="https://medium.com/@naytifbox">Blog</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Contact us</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2">080-923-777-74</li>
                                    <li class="mb-2">hello@naytifbox.com</li>
                                </ul>
                                <div class="icon-list-social mb-5 bold text-yellow" style="display: block;">
                                    <a class="icon-list-social-link" href="https://instagram.com/naytifbox.ng" target="_blank"><i class="fa fa-instagram"></i></a>
                                    <a class="icon-list-social-link" href="https://wa.me/2348092377774" target="_blank"><i class="fa fa-whatsapp"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-5" />
                <div class="row align-items-center">
                    <div class="col-md-6 small">Copyright &copy; NaytifBox 2020</div>
                </div>
            </div>
        </footer>
    </div>
</div>
