<div id="header_top" class="header_top">
  <div class="container">
    <div class="hleft">
      <a class="header-brand" routerLink="/dashboard" >
        <img src="/assets/images/NaytifBox_Logo/fav/NaytifBox_fav16_PNG.png">
      </a>
      <div class="dropdown">
        <a routerLink="#" class="nav-link icon"><i class="fe fe-user" title="Profile"></i></a>
        <a class="nav-link icon settingbar" style="cursor: pointer" (click)="logout()"><i class="fa fa-sign-out" title="Sign Out"></i></a>
        <!-- <a routerLink="/page-search" class="nav-link icon"><i class="fa fa-search"></i></a>
        <a routerLink="/calendar"  class="nav-link icon app_inbox"><i class="fa fa-calendar"></i></a>
        <a routerLink="/contact-info" class="nav-link icon xs-hide"><i class="fa fa-id-card-o"></i></a>
        <a routerLink="/chat"  class="nav-link icon xs-hide"><i class="fa fa-comments-o"></i></a>
        <a routerLink="/filemanager"  class="nav-link icon app_file xs-hide"><i class="fa fa-folder-o"></i></a> -->
      </div>
    </div>
    <div class="hright">
      <div class="dropdown">
        <a routerLink="#" class="nav-link icon settingbar" style="cursor: pointer"><i class="fa fa-history" title="Audit Traile"></i></a>
        <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fa  fa-align-left"></i></a>
      </div>
    </div>
  </div>
</div>