<body>    
    <div id="layoutDefault">
        <div id="layoutDefault_content">
            <main>
                <!--NAV STARTS-->
                <nav class="navbar navbar-marketing navbar-expand-lg bg-black navbar-dark fixed-top">
                    <div class="container">
                        <a class="navbar-brand text-white" href=""><img height="" src="../../../assets/images/NaytifBox_logoS1_w_500px_PNG.png" alt=""> </a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto mr-lg-5">
                                <li class="nav-item"><a class="nav-link" href="">Home</a></li>
                                <li class="nav-item"><a class="nav-link active" href="/pricing">Pricing</a></li>
                                <li class="nav-item"><a class="nav-link" href="https://medium.com/@naytifbox">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                            </ul>
                            <a class="btn-marketing btn rounded-0 px-4 ml-lg-4 bg-yellow text-white" href="/register">Signup<i class="fa fa-arrow-right ml-1"></i></a>
                        </div>
                    </div>
                </nav>

                <!--HEADER START-->
                <div>                  
                    <header class="page-header page-header-dark" style='height: 55vh; position: relative; background-image: url("../assets/images/pricing-bg6.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center; z-index: ;'>
                    </header>
                    <div class="container" style="display: block; margin-top: -200px; position: relative;">
                        <div class="card rounded-0 text-dark col-lg-6 mb-5" style="position: relative; margin-left: auto; margin-right: auto;">
                            <div class="card-body">
                                <h1 class="text-center text-dark">Get Estimate</h1>
                                <p class="small text-black-200">Get an estimate on how much your next delivery will cost within Abuja</p>
                                <div id="locationField">
                                    <input type="text" id="autocomplete" onFocus="" placeholder="Enter pickup address" ngx-google-places-autocomplete [options]="{
                                        types: [],
                                        componentRestrictions: { country: 'NG' }
                                        }" #placesRef="ngx-places" (onAddressChange)="handlePickUpAddressChange($event)"
                                    required name="pickUpAddress" [(ngModel)]="form.pickUpAddress.streetAddress">
                                    <div class="input-container">
                                        <input type="text" id="autocomplete2" onFocus="" placeholder="Enter delivery address" style="width: 92%;" ngx-google-places-autocomplete [options]="{
                                            types: [],
                                          componentRestrictions: { country: 'NG' } 
                                            }" #placesRef="ngx-places" (onAddressChange)="handleDestAddressChange($event)" 
                                        required [(ngModel)]="form.deliveryAddress.streetAddress" name="destAddress">
                                        <a (click)="estimateTableToggle()">
                                            <i class="go-icon fa fa-arrow-right fa-3x" *ngIf="!processingEstimate"></i>
                                            <i class="go-icon fa fa-spinner fa-3x fa-spin" *ngIf="processingEstimate"></i>
                                        </a>
                                    </div>
                                    <p style="font-size: 1rem;"><strong><i class="fa fa-map-signs"></i> Kindly enter addresses with street names for best results</strong></p>
                                </div>
                                <div id="" *ngIf="showEstimateTable">
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td class="td-point"><i class="fa fa-motorcycle"></i> Pickup</td>
                                                <td class="td-output small text-black-200" id="estimatePickup">{{form.pickUpAddress.streetAddress}}</td>
                                            </tr>
                                            <tr>
                                                <td class="td-point"><i class="fa fa-archive"></i> Delivery</td>
                                                <td class="td-output small text-black-200" id="estimateDelivery">{{form.deliveryAddress.streetAddress}}</td>
                                            </tr>
                                            <!-- <tr>
                                                <td class="td-point"><i class="fa fa-clock"></i> Duration</td>
                                                <td class="td-output small text-black-200" id="estimateDuration">    30 minutes</td>
                                            </tr> -->
                                            <tr>
                                                <td class="td-point"><i class="fa fa-credit-card"></i> Amount</td>
                                                <td class="td-output small text-black-200" id="estimateAmount">{{(gpsDistance.amount/100.00) | currency: 'NGN'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <a id="closeEstimateTable" class="btn-marketing btn rounded-0 px-4 bg-yellow text-white" style="margin-left: 0px;" (click)="closeTable()"><i class="fa fa-times"></i> Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="bg-img-cover overlay overlay-light overlay-80 py-15" style='background-image: url("../assets/images/ready-for-growth.jpg")'>
                    <div class="container z-1">
                        <div class="mt-5">
                            <div class="display-4 mb-3 text-dark">Ready for growth?</div>
                            <p>Create your NaytifBox vendor account now.</p>
                            <a class="btn btn-marketing rounded-0 mr-3 bg-yellow text-white" href="#!">Start Now</a>
                        </div>
                    </div>
                    <div class="svg-border-angled text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
                    </div>
                </section>
                <section class="bg-white py-10">
                    <div class="container">
                        <div class="text-center mb-5"><h2>Your <strong>pricing</strong> questions, answered.</h2></div>
                        <div class="accordion accordion-faq mb-5" id="helpAccordion" style="height: 100%;">
                            <div class="card accordion-faq-item">
                                <a class="card-header" id="helpHeadingOne" data-toggle="collapse" data-target="#helpCollapseOne" aria-expanded="true" aria-controls="helpCollapseOne" href="javascript:void(0);">
                                    <div class="accordion-faq-item-heading text-yellow">Do you collect Cash on Delivery (COD)?<i class="fa fa-chevron-right"></i></div>
                                </a>
                                <div class="collapse show" id="helpCollapseOne" aria-labelledby="helpHeadingOne" data-parent="#helpAccordion">
                                    <div class="card-body border-bottom">
                                        Currently, we do not allow Cash on delivery (COD) as payment for delivery requests. Only Cash Receipt Collection (CRC) is allowed for our verified vendor accounts. You can pay online with your debit/credit card, USSD or bank transfer using our secured payment gateway partner- Flutterwave.
                                    </div>
                                </div>
                            </div>
                        
                            <div class="card accordion-faq-item">
                                <a class="card-header collapsed" id="helpHeadingTwo" data-toggle="collapse" data-target="#helpCollapseTwo" aria-expanded="true" aria-controls="helpCollapseTwo" href="javascript:void(0);">
                                    <div class="accordion-faq-item-heading text-yellow">What is 'Cash Receipt Collection' (CRS)?<i class="fa fa-chevron-right"></i></div>
                                </a>
                                <div class="collapse" id="helpCollapseTwo" aria-labelledby="helpHeadingTwo" data-parent="#helpAccordion">
                                    <div class="card-body border-bottom">
                                        This is a service that we offer to our vendors- we collect cash on delivery from your customers that want to pay you cash, then we help you remit to your bank account. All cash receipt collections are remitted twice a week, on Wednesday and Friday. Please note we charge the following rates as transaction fee for cash handling and remittance:
                                        <ul class="bg-yellow text-white" style="width: 40%; margin-top: 1rem; font-weight: bold;">
                                            <li>N100 FEE on cash above N5,000</li>
                                            <li>N300 FEE on cash above N10,000</li>
                                            <li>N500 FEE on cash above 20,000</li>
                                        </ul>
                                        All cash receipt collections are capped at N30,000
                                    </div>
                                </div>
                            </div>       
                            <div class="card accordion-faq-item">
                                <a class="card-header collapsed" id="helpHeadingThree" data-toggle="collapse" data-target="#helpCollapseThree" aria-expanded="true" aria-controls="helpCollapseThree" href="javascript:void(0);">
                                    <div class="accordion-faq-item-heading text-yellow">Online payment is not going through- do you have another payment option?<i class="fa fa-chevron-right"></i></div>
                                </a>
                                <div class="collapse" id="helpCollapseThree" aria-labelledby="helpHeadingThree" data-parent="#helpAccordion">
                                    <div class="card-body border-bottom">
                                        First, we sincerely apologise for any inconvience caused. Yes, we do- you can do bank transfer. Click <a href="https://linktr.ee/naytifbox" target="_blank">here</a> to chat with a representative.
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-faq-item mb-0">
                                <a class="card-header collapsed" id="helpHeadingFour" data-toggle="collapse" data-target="#helpCollapseFour" aria-expanded="true" aria-controls="helpCollapseFour" href="javascript:void(0);">
                                    <div class="accordion-faq-item-heading text-yellow">Are there discounts for regular customers?<i class="fa fa-chevron-right"></i></div>
                                </a>
                                <div class="collapse" id="helpCollapseFour" aria-labelledby="helpHeadingFour" data-parent="#helpAccordion">
                                    <div class="card-body border-bottom">
                                        Yes, there are loads of discounts for you. To enjoy them, you must create a verified vendor account. Our vendors enjoy amazing deals ranging from low delivery fees, up to 30% discount, and even free deliverues.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="text-center">
                            <a class="btn-marketing btn rounded-0 px-4 bg-yellow text-white" href="/faqs">Go to FAQs<i class="fa fa-arrow-right ml-1"></i></a>
                        </div>
                    </div>
                </section>
                <hr class="my-0" />
            </main>
        </div>
    </div>

    <!--FOOTER STARTS-->
    <div id="layoutDefault_footer">
        <footer class="footer pt-10 pb-5 mt-auto bg-black footer-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-brand"><img style="height: 5rem; width: 5rem;" src="../assets/images/NaytifBox_logoIcon_250px_PNG.png"></div>
                        <div class="mb-3" style="margin-top: 2rem;">Ready | Send | Done</div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4 text-yellow">About</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="/pricing">Pricing</a></li>
                                    <li class="mb-2"><a href="/faqs">FAQs</a></li>
                                    <li class="mb-2"><a href="/terms">Terms</a></li>
                                    <li class="mb-2"><a href="/shipping-policy">Shipping policy</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Company</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="/partner">Become a partner</a></li>
                                    <li class="mb-2"><a href="https://medium.com/@naytifbox">Blog</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4 text-yellow">Contact us</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2">080-923-777-74</li>
                                    <li class="mb-2">hello@naytifbox.com</li>
                                </ul>
                                <div class="icon-list-social mb-5 bold text-yellow" style="display: block;">
                                    <a class="icon-list-social-link" href="https://instagram.com/naytifbox.ng" target="_blank"><i class="fa fa-instagram"></i></a>
                                    <a class="icon-list-social-link" href="https://wa.me/2348092377774" target="_blank"><i class="fa fa-whatsapp"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-5" />
                <div class="row align-items-center">
                    <div class="col-md-6 small">Copyright &copy; NaytifBox 2020</div>
                </div>
            </div>
        </footer>
    </div>
    
</body>
