<div class="card rounded-0">
  <div class="card-header bg-yellow rounded-0">
    <h3 class="card-title text-white">Delivery Request Information</h3>
  </div>
<div class="card-body" *ngIf="delivery">
  <ul class="recent_comments list-unstyled">
    <li class="row">
      <div class="col-lg-6">
        <h6>Tracking ID</h6>
        <p>{{delivery.trackingId}}</p>
      </div>
      <div class="col-lg-6">
        <h6>Date Created</h6>
        <p>{{delivery.dateCreated | date: 'dd MMM, yyyy hh:mm a'}}</p>
      </div>
      <div class="col-lg-6">
        <h6>Amount (N)</h6>
        <p >{{(delivery.amount /100.0) | currency: 'N' }} </p>
      </div>
      <div class="col-lg-6">
        <h6>Delivery Item</h6>
        <p>{{delivery.deliveryItem || 'N/A' }}</p>
      </div>
      
      <div class="col-lg-6">
        <h6>Payment Status</h6>
        <p >{{delivery.paymentStatus ? delivery.paymentStatus.replace('_', ' ') : 'NIL' }} </p>
      </div>

      <div class="col-lg-6">
        <h6>Date Paid</h6>
        <p>{{!delivery.datePaid ? 'NIL' : (delivery.datePaid | date: 'dd MMM, yyyy hh:mm a')}}</p>
      </div>
     
      <div class="col-lg-6">
        <h6>Address</h6>
        <p>{{delivery.pickUpAddress.streetAddress}}</p>
      </div>
    </li>

  </ul>
</div>
</div>
<div class="card rounded-0">
  <div class="card-header bg-yellow rounded-0">
    <h3 class="card-title text-white">Destination Information</h3>
  </div>
<div class="card-body" *ngIf="delivery">
    <div class="row">
        <div class="col-lg-6">
          <h6>Recipient Name</h6>
          <p >{{delivery.recipientName}} </p>
        </div>
        <div class="col-lg-6">
          <h6>Recipient Phone Number</h6>
          <p>{{delivery.recipientPhoneNo}}</p>
        </div>
        <div class="col-lg-12">
          <h6>Destination Address</h6>
          <p>{{delivery.deliveryAddress.streetAddress}}</p>
        </div>

      </div>
</div>
</div>
<div class="card rounded-0">
  <div class="card-header bg-yellow rounded-0">
    <h3 class="card-title text-white">Driver Information</h3>
  </div>
<div class="card-body" *ngIf="delivery">
    <div class="row">
      <div class="col-lg-12 ">
        <div *ngIf="!delivery.driver">
          <h6 >Driver has not been assigned to request</h6>
        </div>
        <div *ngIf="delivery.driver">
          <h6>{{delivery.driver.name}} </h6>
          <p><i class="fa fa-motorcycle"></i> {{delivery.driver.vehicleNumber}} | <i class="fa fa-phone-square"></i> {{delivery.driver.phoneNumber}} </p>
        </div>

      </div>
    </div>
</div>
</div>

<div class="row" style="margin-bottom: 2rem;">
  <div class="col-lg-12" *ngIf="delivery && delivery.paymentStatus && delivery.paymentStatus !== 'PAID'">
    <button (click) = "goToPayment()" class="btn btn-marketing rounded-0 px-4 text-white bg-yellow" ><i class="fa fa-card"></i>Proceed to payment</button>
  </div>
</div>
