<router-outlet></router-outlet>
<audio #audioOption>
  <source src='assets/images/knock.mp3' type="audio/mp3">
</audio>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">You Have Been Idle!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{idleState}}
      </div>
      <div class="modal-footer">
        <button type="button" (click)="stay()" class="btn btn-success">Stay</button>
        <button type="button" (click)="logout()" class="btn btn-danger">Logout</button>
      </div>
    </div>
  </div>
</div>

