<app-delivery-status-update-widget [delivery]="delivery"></app-delivery-status-update-widget>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Delivery Request Information</h3>

  </div>
<div class="card-body" *ngIf="delivery">
  <ul class="recent_comments list-unstyled">
    <li class="row">
      <div class="col-lg-6">
        <h6>Tracking ID</h6>
        <p>{{delivery.trackingId}}</p>
      </div>
      <div class="col-lg-6">
        <h6>Date Created</h6>
        <p>{{delivery.dateCreated | date: 'dd MMM, yyyy hh:mm a'}}</p>
      </div>
      <div class="col-lg-6">
        <h6>Amount (N)</h6>
        <p *ngIf="!isEditAmount">{{(delivery.amount /100.0) | currency: 'N' }}  </p>
          <!-- <i class="fe fe-edit-3" title="Update Price" (click)="toggleAmountEdit()" *ngIf="delivery.status != 'DELIVERED'"></i><small></small>
        <form class="col-lg-6" *ngIf="isEditAmount" >
          <div class="input-group">
            <input type="number" class="form-control form-control-sm" placeholder=""  [(ngModel)]="amount" name="q" id="q">
            <span class="input-group-btn ml-2">
                          <button class="btn btn-icon btn-sm" type="button" (click)="processAmountEdit()">
                            <span class="fe fe-check-square" *ngIf="!editingAmount"></span>
                            <span class="fa fa-spinner fa-spin" *ngIf="editingAmount"></span>
                          </button></span>
          </div>
        </form> -->
      </div>
      <div class="col-lg-6">
        <h6>Delivery Item</h6>
        <p>{{delivery.deliveryItem || 'N/A' }}</p>
      </div>

      <div class="col-lg-6">
        <h6>Payment Status</h6>
        <p >{{delivery.paymentStatus ? delivery.paymentStatus.replace('_', ' ') : 'NIL' }} </p>
      </div>

      <div class="col-lg-6">
        <h6>Date Paid</h6>
        <p>{{!delivery.datePaid ? 'NIL' : (delivery.datePaid | date: 'dd MMM, yyyy hh:mm a')}}</p>
      </div>
     
    </li>
    <li class="row">

      <div class="col-lg-6">
        <h6>Customer Name</h6>
        <p >{{delivery.customerName}}</p>
      </div>
      <div class="col-lg-6">
        <h6>Customer Phone Number</h6>
        <p>{{delivery.customerPhoneNo}}</p>
      </div>

      <div class="col-lg-12">
        <h6>Customer Address</h6>
        <p>{{delivery.pickUpAddress.streetAddress}}</p>
      </div>
    </li>
    <li class="row">

      <div class="col-lg-6">
        <h6>Recipient Name</h6>
        <p >{{delivery.recipientName}} </p>
      </div>
      <div class="col-lg-6">
        <h6>Recipient Phone Number</h6>
        <p>{{delivery.recipientPhoneNo}}</p>
      </div>
      <div class="col-lg-12">
        <h6>Destination Address</h6>
        <p>{{delivery.deliveryAddress.streetAddress}}</p>
      </div>

    </li>

    <li class="row">
      <div class="col-lg-12">
        <h5>Driver Information</h5>
      </div>
      <div class="col-lg-12 ">
        <div *ngIf="!delivery.driver">
          <h6 >Driver has not been assigned to request</h6>
          <button class="btn btn-primary btn-sm" (click)="openDriverModal(driverModal)" >Assign Driver</button>
        </div>
        <div *ngIf="delivery.driver">
          <h6>{{delivery.driver.name}} </h6>
          <p><i class="fa fa-car"></i> {{delivery.driver.vehicleNumber}} | <i class="fa fa-phone-square"></i> {{delivery.driver.phoneNumber}} </p>
          <button class="btn btn-primary btn-sm" (click)="openDriverModal(driverModal)" *ngIf="delivery.status != 'DELIVERED'">Re-assign Driver</button>
        </div>

      </div>
    </li>
  </ul>
</div>
</div>
<ng-template #driverModal>
  <div class="modal-header">
    <h5 class="modal-title" >Assign Driver</h5>
    <button type="button" class="close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
      <div class="row clearfix">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search by driver name"  [(ngModel)]="driverForm.name" #vehicleNumber="ngModel"
                   required name="name" />

          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <button class="btn btn-primary">Search <i class="fa fa-spinner fa-spin" *ngIf="searching"></i></button>
        </div>

      </div>
    </form>
    <div *ngIf="assigningDriver" class="text-center" style="font-size: 25pt;">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div *ngIf="!assigningDriver" >
    <span *ngIf="searching">
          searching..
    </span>
      <span *ngIf="queryResult && queryResult.results.length < 1">
      No Driver Available
    </span>
      <ul class="right_chat list-unstyled" *ngIf="queryResult && queryResult.results.length > 0 && !searching">
        <li class="online" *ngFor="let row of queryResult.results; let i = index">
          <a href="javascript:void(0);">
            <div class="media">
              <div class="media-body">
                <span class="name">{{row.name}}  <span class="badge badge-info">{{row.pendingDeliveries || 'Free'}}</span></span>
                <span class="message">{{row.vehiclesString}}</span>
                <button class="btn btn-outline-success float-right" (click)="assignDriver(row)" > Assign</button>
              </div>
            </div>
          </a>
        </li>
      </ul>

      <div class="float-right" *ngIf="queryResult && queryResult.results.length">
        <pagination [rotate]="true" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                    lastText="&raquo;" [maxSize]="10" [totalItems]="totalCount" [itemsPerPage]="itemsPerPage" (pageChanged)="onPageChanged($event)"></pagination>
      </div>
    </div>
    <br>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
    </div>
  </div>


</ng-template>
