
<ng-container [ngSwitch]="firstRole" >
  <ng-container *ngSwitchCase="'ADMIN'">
    <app-admin-dashboard></app-admin-dashboard>
  </ng-container>
  <ng-container *ngSwitchCase="'VENDOR'">
    <app-vendor-dashboard></app-vendor-dashboard>
  </ng-container>
  <ng-container *ngSwitchCase="'DRIVER'">
    <app-driver-dashboard></app-driver-dashboard>
  </ng-container>

<ng-container *ngSwitchDefault>
  <li>{{firstRole}}</li>
</ng-container>
</ng-container>
