<nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar" style="background-color: #000000; margin-bottom: -80px;">
  <div class="container">
    <a class="navbar-brand" href="">
      <img height="40" src="/assets/images/NaytifBox_Logo/png/250px/NaytifBox_logoS1_w_141x34px_PNG.png" />
    </a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="ion-navicon"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="probootstrap-navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#">Vendors</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Estimate</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Developers</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
        <li class="nav-item cta-btn ml-xl-2 ml-lg-2 ml-md-0 ml-sm-0 ml-0">
          <a class="nav-link" routerLink="/register"><span class="pb_rounded-4 px-4">Sign Up</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="pb_cover_v3 overflow-hidden text-left pb_gradient_v1" id="section-home">
  <div class="container">
    <div style="margin-top: 10px; margin-bottom: 10px;" class="row align-items-center justify-content-center">
      <div class="col-md-6">
        <h2 class="heading mb-3">Ready, Send, Done</h2>
        <div class="sub-heading">
          <p class="mb-4">Best price per km...</p>
          <p class="mb-5">
            <a class="btn btn-success btn-lg pb_btn-pill smoothscroll" style="color: white;background: transparent;border: 1px solid white;border-radius: 3px;padding: 15px 40px;height: auto;line-height: 1;" href="index.html#section-estimate">
              <span class="pb_font-14 text-uppercase pb_letter-spacing-1">Get Estimate</span>
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5 relative align-self-center">

        <form class="bg-white rounded pb_form_v1" autocomplete="off" (ngSubmit)=" createRequest(f)" #f="ngForm" novalidate>
          <h3 class="mb-4 mt-0 text-center">Request a delivery</h3>
          <div *ngIf="trackingId" class="alert alert-success">
            Delivery request sent! Your tracking Number is <a [routerLink]="['/extranet/delivery-requests', trackingId]" style="color:#f9a819 ">{{trackingId}}</a>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input style="font-size: 0.8rem;" type="text" name="name" id="address" class="form-control pb_height-30 reverse" placeholder="Sender's address" ngx-google-places-autocomplete [options]="{
                              types: [],
                            componentRestrictions: { country: 'NG' }
                    }" #placesRef="ngx-places" (onAddressChange)="handlePickUpAddressChange($event)"
                       required name="pickUpAddress" [(ngModel)]="form.pickUpAddress.streetAddress" />
                <div *ngIf="(f.form.dirty || f.form.touched) && !form.pickUpAddress.streetAddress">
                  <div *ngIf="!form.pickUpAddress.streetAddress"><small>Sender's address is required</small></div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input style="font-size: 0.8rem;" type="text"  class="form-control pb_height-30 reverse" placeholder="Sender's full name"  [(ngModel)]="form.customerName" #customerName="ngModel"
                       required name="senderName" maxlength="200"/>
                <div *ngIf="(f.form.dirty || f.form.touched) && customerName.invalid">
                  <div *ngIf="customerName.errors.required"><small>Sender's name is required</small></div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input style="font-size: 0.8rem;" type="text" class="form-control pb_height-30 reverse" placeholder="Sender's phone number" [(ngModel)]="form.customerPhoneNo" #customerPhoneNo="ngModel"
                       required name="customerPhoneNo" maxlength="20"/>
                <div *ngIf="(f.form.dirty || f.form.touched) && customerPhoneNo.invalid">
                  <div *ngIf="customerPhoneNo.errors.required"><small>Sender's number is required</small></div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <input style="font-size: 0.8rem;" type="email" class="form-control pb_height-30 reverse" placeholder="Receiver's address" ngx-google-places-autocomplete [options]="{
                              types: [],
                            componentRestrictions: { country: 'NG' }
                    }" #placesRef="ngx-places" (onAddressChange)="handleDestAddressChange($event)" required [(ngModel)]="form.deliveryAddress.streetAddress" name="destAddress"
                >
                <div *ngIf="(f.form.dirty || f.form.touched) && !form.deliveryAddress.streetAddress">
                  <div *ngIf="!form.deliveryAddress.streetAddress"><small>Receiver's address is required</small></div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input style="font-size: 0.8rem;" type="text" class="form-control pb_height-30 reverse" placeholder="Receiver's full name" [(ngModel)]="form.recipientName" #recipientName="ngModel"
                       required name="recipientName" maxlength="200"/>
                <div *ngIf="(f.form.dirty || f.form.touched) && recipientName.invalid">
                  <div *ngIf="recipientName.errors.required"><small>Receiver's name is required</small></div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input style="font-size: 0.8rem;" type="text" class="form-control pb_height-30 reverse" placeholder="Receiver's phone number" [(ngModel)]="form.recipientPhoneNo" #recipientPhoneNo="ngModel"
                       required name="recipientPhoneNo" maxlength="50"/>
                <div *ngIf="(f.form.dirty || f.form.touched) && recipientPhoneNo.invalid">
                  <div *ngIf="recipientPhoneNo.errors.required"><small>Receiver's number is required</small></div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <input style="font-size: 0.8rem;" type="text" class="form-control pb_height-30 reverse" placeholder="What are you sending?" [(ngModel)]="form.deliveryItem" #parcelDetails="ngModel"
                       required name="parcelDetails" maxlength="200"/>
                <div *ngIf="(f.form.dirty || f.form.touched) && parcelDetails.invalid">
                  <div *ngIf="parcelDetails.errors.required"><small>Parcel details is required</small></div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <select style="font-size: 0.8rem;" name="delivery_option" id="delivery-options" class="form-control pb_height-30 reverse" [(ngModel)]="form.deliveryType" #deliveryType="ngModel"
                        required name="deliveryType">
                  <option value="">Select delivery type</option>
                  <option value="SAME_DAY">Same day delivery</option>
                  <option value="EXPRESS">Express</option>
                </select>
                <div *ngIf="(f.form.dirty || f.form.touched) && deliveryType.invalid">
                  <div *ngIf="deliveryType.errors.required"><small>Delivery type is required</small></div>
                </div>
                <div *ngIf="form.deliveryType == 'EXPRESS'" style="color:#f9a819;font-weight:bold;font-size: 0.6rem;">
                  This attracts an extra cost of N300 express fee
                </div>
              </div>
            </div>

            <div class="col-md-12" style="margin-top: 10px;">
              <div class="form-group">
                <button type="submit" id="proceedButton" onclick="click()" class="btn btn-lg btn-block pb_btn-pill  btn-shadow-blue" style="border-radius:3px; background-color: #f9a819;" > Proceed<i class="fa fa-spinner fa-spin" *ngIf="registering"></i></button>
              </div>
            </div>
            <script type="text/javascript">
            $(document).ready(function() {
              $('#proceedButton').click(function() {
                console.log('jquery works');
                $.fbq('track', 'CompleteRegistration');
              });
            }
            </script>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
