.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    position: relative;
  }
  .go-icon {
    color: #ffb53e;
    background-color: transparent;
    padding: 0.2rem;
    position: relative;
    height: auto;
    width: auto;
    right: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .bg-black {
    background-color: black !important;
  }

  .bg-yellow {
    background-color: #ffb53e !important;
  }
  
  a.bg-yellow:hover, a.bg-yellow:focus,
  button.bg-yellow:hover,
  button.bg-yellow:focus {
    background-color: #c17f00 !important;
  }

  .text-white {
    color: #fff !important;
  }