<app-header-top></app-header-top>
<app-left-sidebar></app-left-sidebar>
<div class="page">
  <app-page-topbar></app-page-topbar>
  <div class="section-body mt-3">
    <div class="container-fluid">
      <div *ngIf="trackingId" class="alert alert-success">
        Delivery request sent! Your tracking Number is {{trackingId}}
      </div>
      <div class="row clearfix">
        <div class="col-lg-4 col-md-12" >
        
          <div class="card">
            <div class="card-header  bg-black">
              <h3 class="card-title text-white">Delivery Price</h3>
            </div>
            <div class="card-body">
              <div class="dimmer active">
                <div class="loader"  *ngIf="processingEstimate"> </div>
                <small class="text-muted mb-0">Please enter Pickup and Delivery Address to get the cost estimate for your delivery</small>  
              </div>
            </div>
          </div>
      
      <ul class="list-group mb-3" *ngIf="gpsDistance && showDeliveryRequestForm">
        <li class="list-group-item bg-yellow">
          <a  style="cursor: pointer;" title="Click to change location" (click)="showLocationForm()"> <i class="fa fa-refresh"></i> &nbsp;Click to Change Location</a>
        </li>
        <li class="list-group-item">
          <small class="text-muted">Pick Up Address: </small>
          <p class="mb-0">{{form.pickUpAddress.streetAddress}}</p>
        </li>
        <li class="list-group-item">
          <small class="text-muted">Delivery Address: </small>
          <p class="mb-0">{{form.deliveryAddress.streetAddress}}</p>
        </li>
        <li class="list-group-item">
          <small class="text-muted">Distance </small>
          <p class="mb-0">{{gpsDistance.distance}}</p>
        </li>
        <li class="list-group-item">
          <small class="text-muted">Estimated Price </small>
          <p class="mb-0" *ngIf="gpsDistance.amount">{{(gpsDistance.amount/100.00) | currency: 'NGN'}}</p>
          <p class="mb-0" *ngIf="!gpsDistance.amount">Could not compute estimated amount</p>
        </li>

      </ul>
    </div>

        <div class="col-lg-8 col-md-12">
          <form name="form" (ngSubmit)=" createRequest(f)" #f="ngForm" novalidate>
          <div class="card" *ngIf="!showDeliveryRequestForm">
            <div class="card-header bg-black">
              <h3 class="card-title text-white">New Delivery Request</h3>
            </div>
            <div class="card-body">
              
              
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control rounded-0" placeholder="Pick-up Address"
                           ngx-google-places-autocomplete [options]="{
                              types: [],
                            componentRestrictions: { country: 'NG' }
                    }" #placesRef="ngx-places" (onAddressChange)="handlePickUpAddressChange($event)" 
                           required name="pickUpAddress" [(ngModel)]="form.pickUpAddress.streetAddress" />
                           
                    <div *ngIf="(f.form.dirty || f.form.touched) && !form.pickUpAddress.streetAddress">
                      <div *ngIf="!form.pickUpAddress.streetAddress">Pick-up address is required</div>
                    </div>
                </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group input-container">
                    <input type="text" class="form-control rounded-0" style="width: 97%;" placeholder="Delivery Address"
                           ngx-google-places-autocomplete [options]="{
                              types: [],
                            componentRestrictions: { country: 'NG' }
                    }" #placesRef="ngx-places" (onAddressChange)="handleDestAddressChange($event)" required [(ngModel)]="form.deliveryAddress.streetAddress" name="destAddress"
                    > <a (click)="toggleCard()"><i class="go-icon fa fa-arrow-right fa-2x"></i></a>
                    <div *ngIf="(f.form.dirty || f.form.touched) && !form.deliveryAddress.streetAddress">
                      <div *ngIf="!form.deliveryAddress.streetAddress">Delivery address is required</div>
                    </div>
                  </div>
                </div>
               </div>
               </div>
               </div>
               
                <div class="card" *ngIf="showDeliveryRequestForm">
                  <div class="card-header bg-black">
                    <h3 class="card-title text-white">Delivery Info</h3>
      
                  </div>
                  <div class="card-body row clearfix">
               
                    <div class="col-lg-12 col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Parcel details / Delivery Instructions"  [(ngModel)]="form.deliveryItem" #parcelDetails="ngModel"
                               required name="parcelDetails" maxlength="200"/>
                        <div *ngIf="(f.form.dirty || f.form.touched) && parcelDetails.invalid">
                          <div *ngIf="parcelDetails.errors.required">Parcel details is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                      <hr>
                      <h6>Pick-Up Information</h6>
                    </div>
                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Full Name"  [(ngModel)]="form.customerName" #customerName="ngModel"
                               required name="parcelDetails" maxlength="200"/>
                        <div *ngIf="(f.form.dirty || f.form.touched) && customerName.invalid">
                          <div *ngIf="customerName.errors.required">Name is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="form.customerPhoneNo" #customerPhoneNo="ngModel"
                               required name="customerPhoneNo" maxlength="20"/>
                        <div *ngIf="(f.form.dirty || f.form.touched) && customerPhoneNo.invalid">
                          <div *ngIf="customerPhoneNo.errors.required">Phone number is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email (Optional)" [(ngModel)]="form.customerEmail" #customerEmail="ngModel"
                               name="customerEmail" maxlength="100"/>
                        <div *ngIf="(f.form.dirty || f.form.touched) && customerEmail.invalid">
                          <div *ngIf="customerEmail.errors.email">Enter a valid email</div>
                        </div>
                      </div>
                    </div>
  
                    <div class="col-lg-12 col-md-12">
                      <hr>
                      <h6>Drop-Off Information</h6>
                    </div>
                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Full Name" [(ngModel)]="form.recipientName" #recipientName="ngModel"
                               required name="recipientName" maxlength="200"/>
                        <div *ngIf="(f.form.dirty || f.form.touched) && recipientName.invalid">
                          <div *ngIf="recipientName.errors.required">Name is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone Number"  [(ngModel)]="form.recipientPhoneNo" #recipientPhoneNo="ngModel"
                               required name="recipientPhoneNo" maxlength="50"/>
                        <div *ngIf="(f.form.dirty || f.form.touched) && recipientPhoneNo.invalid">
                          <div *ngIf="recipientPhoneNo.errors.required">Phone number is required</div>
                        </div>
                      </div>
                    </div>             
              </div>
              
<div  *ngIf="!processingEstimate && gpsDistance" class="mb-4">
  &nbsp;&nbsp;
<button class="btn btn-round btn-warning" type="button" *ngIf="gpsDistance && gpsDistance.amount"><i class="fa fa-credit-card"></i>{{ (gpsDistance.amount/100.00 | currency: 'NGN')}}</button> &nbsp; 
<button class="btn btn-round btn-primary"  > Proceed <i class="fa fa-spinner fa-spin" *ngIf="registering"></i></button> &nbsp;&nbsp;

</div>
            
          </div>
        </form>
        </div>

       
      </div>
   </div>
  </div>
  <app-footer></app-footer>
</div>
