<app-header-top></app-header-top>
<app-left-sidebar></app-left-sidebar>
<div class="page">
  <app-page-topbar></app-page-topbar>
    <div class="section-body">
      <h4>Delivery Requests</h4>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control rounded-0" placeholder="Tracking ID..." [(ngModel)]="searchFilter" name="q" id="q">
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="input-group">
                  <select class="form-control rounded-0" [(ngModel)]="deliveryStatus" name="deliveryStatus" id="deliveryStatus">
                    <option value="">Search By Delivery Status</option>
                    <option value="PENDING">Pending</option>
                    <option value="DRIVER_ASSIGNED">Driver Assigned</option>
                    <option value="IN_TRANSIT">In Transit</option>
                    <option value="DELIVERED">Delivered</option>
                  </select>
                  
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="input-group">
                  <select class="form-control rounded-0" [(ngModel)]="paymentStatus" name="paymentStatus" id="paymentStatus">
                    <option value="">Search By Payment Status</option>
                    <option value="PAID">Paid</option>
                    <option value="NOT_PAID">Not Paid</option>
                  </select>
                </div>
              </div>
              <!-- <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Agent">
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Date">
                </div>
              </div> -->
              <div class="col-lg-2 col-md-4 col-sm-6">
                <button type="submit" onclick="onSubmit()" class="btn btn-sm btn-yellow btn-block rounded-0" title="">Search</button>
              </div>
            </div>
          </form>
            </div>
          </div>
        </div>
        
          <div class="card">
            
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-striped table-vcenter text-nowrap mb-0">
                  <thead style="">
                  <tr>
                    <!-- <th>#</th> -->
                    <th>Tracking ID</th>
                    <th>PickUp Info</th>
                    <th>Delivery Info</th>
                    <th>Status</th>
                    <th>Date Created</th>
                    <th>Driver</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="working">
                    <td colspan="8" class="progressbar text-center" >
                      <p>
                        loading
                        <!--<ngb-progressbar value="500" [striped]="true" [animated]="true" type="success"></ngb-progressbar>-->
                      </p>
                    </td>
                  </tr>
                  <ng-container *ngIf="queryResult && queryResult.results.length > 0 && !working">
                    <tr *ngFor="let row of queryResult.results; let i = index" [routerLink]="['/delivery-requests', row.trackingId]">
                      <!-- <td class="w40">{{i+offset+1}}</td> -->
                      <td>{{row.trackingId}}</td>
                    <td class="">
                      <div class="" title="{{row.pickUpAddress.streetAddress}}">
                        <h6 class="mb-0">{{row.customerName}}</h6>
                        <span class="text-muted"> {{row.customerPhoneNo}}</span>
                      </div>
                    </td>
                      <td class="d-flex">
                        <div class="" title="{{row.deliveryAddress.streetAddress}}">
                          <h6 class="mb-0">{{row.recipientName}} </h6>
                          <span class="text-muted">{{row.recipientPhoneNo}}</span>
                        </div>
                      </td>
                    <td>
                      <div class="">
                      <h6 class="mb-0">{{row.status.replace('_', ' ')}}</h6>
                      <span class="text-muted">{{row.paymentStatus ? row.paymentStatus.replace('_', ' ') : ""}}</span>
                    </div>
                    </td>
                    <td><span>{{row.dateCreated | date:'dd MMM, yyyy hh:mm a'}}</span></td>
                      <td><span >{{row.driver ? row.driver.name : 'N/A'}}</span><td>
                      <a [routerLink]="['/delivery-requests', row.trackingId]" class="btn btn-icon btn-sm mr-1" title="View" ><i class="fa fa-eye"></i></a>
                      </td>
                  </tr>
                  </ng-container>
                  <tr *ngIf="queryResult && queryResult.results.length < 1">
                    <td colspan="8" class="text-center">NO DATA</td>
                  </tr>
                  </tbody>
                </table>
                <div class="float-right" *ngIf="queryResult && queryResult.results.length">
                  <pagination [rotate]="true" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                              lastText="&raquo;" [maxSize]="10" [totalItems]="totalCount" [itemsPerPage]="itemsPerPage" (pageChanged)="onPageChanged($event)"></pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
   
  <app-footer></app-footer>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Departments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row clearfix">
          <div class="col-md-4 col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Employee ID">
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name">
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email ID">
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="form-group">
              <input type="number" class="form-control" placeholder="Phone Number">
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="form-group">
              <input type="text" data-provide="datepicker" data-date-autoclose="true" class="form-control" placeholder="Start date *">
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Role">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group mt-2 mb-3">
              <input type="file" class="dropify">
              <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Facebook">
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Twitter">
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Linkedin">
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="instagram">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
