<app-header-top></app-header-top>
<app-left-sidebar></app-left-sidebar>

<div class="page">
  <app-page-topbar></app-page-topbar>
  <div class="section-body">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center">
        <ul class="nav nav-tabs page-header-tab">
          <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'user-list'}" (click)="changeNavTab('user-list')" id="user-tab" data-toggle="tab" href="javascript:void(0);">List</a></li>
          <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'user-add'}" (click)="changeNavTab('user-add')" id="user-tab" data-toggle="tab" href="javascript:void(0);">Add New</a></li>
        </ul>
        <div class="header-action">
          <!--<button type="button" class="btn btn-primary"><i class="fe fe-plus mr-2"></i>Add</button>-->
        </div>
      </div>
    </div>
  </div>
  <div class="section-body mt-3">
    <div class="container-fluid">
      <div class="tab-content mt-3">
        <div class="tab-pane" id="user-list" [ngClass]="{'active':navTab == 'user-list' || !navTab}" role="tabpanel">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="searchFilter" name="q" id="q">
                    </div>
                  </div>
                 
                  <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="input-group">
                      <select class="form-control" [(ngModel)]="roleName" name="roleName" id="roleName">
                        <option value="">All Roles</option>
                        <option value="ADMIN">Admin</option>
                        <option value="DRIVER">Driver</option>
                        <option value="VENDOR">Vendor</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-4 col-sm-6">
                    <button type="submit" onclick="onSubmit()" class="btn btn-sm btn-primary btn-block" title="">Search</button>
                  </div>
                </div>
              </form>
                </div>
              </div>
            </div>
          <div class="card">
            <!-- <div class="card-header">
              <h3 class="card-title">User List</h3>
              <div class="card-options">
                <form (ngSubmit)="onSubmit()">
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm" value="" placeholder="Search by name..." [(ngModel)]="searchFilter" name="q" id="q">
                    <span class="input-group-btn ml-2">
                      <button class="btn btn-sm btn-default" type="submit" onclick="onSubmit()"><span class="fe fe-search"></span></button></span>
                  </div>
                </form>
              </div>
            </div> -->
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped table-hover table-vcenter text-nowrap mb-0">
                  <thead>
                  <tr>
                    <th class="w60">Name</th>
                    <th></th>
                    <th>Role</th>
                    <th>Created Date</th>
                    <th>Phone Number</th>

                   <!-- <th class="w100">Action</th>-->
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="working">
                    <td colspan="8" class="progressbar" style="alignment: center">
                      <p>
                        loading
                        <!--<ngb-progressbar value="500" [striped]="true" [animated]="true" type="success"></ngb-progressbar>-->
                      </p>
                    </td>
                  </tr>
                  <ng-container *ngIf="queryResult && queryResult.results.length > 0 && !working">
                    <tr *ngFor="let row of queryResult.results; let i = index">
                      <td class="width45">
                        <span class="avatar avatar-blue" data-toggle="tooltip" data-placement="top" title="" data-original-title="Avatar Name">NG</span>
                      </td>
                      <td>
                        <h6 class="mb-0">{{row.name}}</h6>
                        <span>{{row.username}}</span>
                      </td>
                      <td><span class="tag tag-danger">{{row.roles}}</span></td>
                      <td>{{row.dateCreated | date: "MMM dd, yyyy"}}</td>
                      <td>{{row.phoneNumber}}</td>
                      <td>
                        <a [routerLink]="['/drivers', row.userId]" class="btn btn-icon btn-sm mr-1" title="View" ><i class="fa fa-eye"></i></a>
                        <button type="button" class="btn btn-icon mr-1" title="View"><i class="fa fa-eye"></i></button>
                        <button type="button" class="btn btn-icon js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o text-danger"></i></button>
                      </td>
                    </tr>
                  </ng-container>

                  <tr *ngIf="queryResult && queryResult.results.length < 1">
                    <td colspan="8" class="text-center">NO DATA</td>
                  </tr>
                  </tbody>
                </table>
                <div class="float-right" *ngIf="queryResult && queryResult.results.length">
                  <pagination [rotate]="true" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                              lastText="&raquo;" [maxSize]="10" [totalItems]="totalCount" [itemsPerPage]="itemsPerPage" (pageChanged)="onPageChanged($event)"></pagination>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="user-add" [ngClass]="{'active':navTab == 'user-add' || !navTab}" role="tabpanel">
          <div class="card">
            <div class="card-body">
              <form name="form" (ngSubmit)="registerUser(f)" #f="ngForm" novalidate>
              <div class="row clearfix">
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Full Name *" [(ngModel)]="form.name" #name="ngModel"
                           required name="name"/>
                    <div *ngIf="(f.form.dirty || f.form.touched) && name.invalid">
                      <div *ngIf="name.errors.required">Full name is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email ID *" [(ngModel)]="form.email" #email="ngModel"
                           required name="email"/>
                    <div *ngIf="(f.form.dirty || f.form.touched) && email.invalid">
                      <div *ngIf="email.errors.required">Email is required</div>
                    </div>
                  </div>
                </div>
                <!--<div class="col-md-4 col-sm-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username *" [(ngModel)]="form.email" readonly>
                  </div>
                </div>-->
                <div class="col-md-4 col-sm-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Mobile No" [(ngModel)]="form.phoneNumber" #phoneNumber="ngModel"
                           required name="phoneNumber"/>
                    <div *ngIf="(f.form.dirty || f.form.touched) && phoneNumber.invalid">
                      <div *ngIf="phoneNumber.errors.required">Mobile No is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="form-group">
                    <select class="form-control show-tick"  [(ngModel)]="form.role" #role="ngModel" name="role"
                            required >
                      <option value="" >Select Role Type</option>
                      <option value="ADMIN">Admin</option>
                      <option value="VENDOR">Vendor</option>
                     <!-- <option value="SUPPORT">Support</option>
                      <option value="USER">User</option>-->
                    </select>
                    <div *ngIf="(f.form.dirty || f.form.touched) && role.invalid">
                      <div *ngIf="role.errors.required">Role is required</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-12">
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password"  name="password" [(ngModel)]="form.password" #password="ngModel"
                           required minlength="6" />
                    <div *ngIf="(f.form.dirty || f.form.touched) && password.invalid">
                      <div *ngIf="password.errors.required">Password is required</div>
                      <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="form.confirmPassword" #confirmPassword="ngModel" required name="confirmPassword">
                    <div *ngIf="(f.form.dirty || f.form.touched) && password.valid">
                      <div *ngIf="password.value !== confirmPassword.value">Password does not match</div>
                    </div>
                  </div>
                  </div>

                  <div class="form-footer">
                    <button class="btn btn-primary btn-block" >Register User <i class="fa fa-spinner fa-spin" *ngIf="registering"></i></button>
                  </div>
              </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
