<app-header-top></app-header-top>
<app-left-sidebar></app-left-sidebar>
<div class="page">
  <app-page-topbar></app-page-topbar>
  <div class="section-body">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <ul class="nav nav-tabs page-header-tab">
          <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'Vehicle-list'}" (click)="changeNavTab('Employee-list')" id="Employee-tab" data-toggle="tab" href="javascript:void(0);">All</a></li>
<!--
          <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'Employee-view'}" (click)="changeNavTab('Employee-view')" id="Employee-tab" data-toggle="tab" href="javascript:void(0);">View</a></li>
-->
         <!-- <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'Employee-Request'}" (click)="changeNavTab('Employee-Request')" id="Employee-tab" data-toggle="tab" href="javascript:void(0);">Leave Request</a></li>-->
        </ul>
        <div class="header-action">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fe fe-plus mr-2"></i>Add New vehicle</button>
        </div>
      </div>
     <!-- <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body w_sparkline">
              <div class="details">
                <span>Total Vehicles</span>
                <h3 class="mb-0">614</h3>
              </div>
              <div class="w_chart">
                <span id="mini-bar-chart1" class="mini-bar-chart"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body w_sparkline">
              <div class="details">
                <span>Total Vehicle (This month)</span>
                <h3 class="mb-0">124</h3>
              </div>
              <div class="w_chart">
                <span id="mini-bar-chart2" class="mini-bar-chart"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body w_sparkline">
              <div class="details">
                <span>Total Vehicle Without Driver</span>
                <h3 class="mb-0">504</h3>
              </div>
              <div class="w_chart">
                <span id="mini-bar-chart3" class="mini-bar-chart"></span>
              </div>
            </div>
          </div>
        </div>

      </div>-->
    </div>
  </div>
  <div class="section-body">
    <div class="container-fluid">
      <div class="tab-content">
        <div class="tab-pane fade" [ngClass]="{'show active':navTab == 'Vehicle-list' || !navTab}" id="Vehicle-list" role="tabpanel">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Vehicle List</h3>
              <div class="card-options">
                <form (ngSubmit)="onSubmit()">
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm" value="" placeholder="Search by vehicle #..." [(ngModel)]="searchFilter" name="q" id="q">
                    <span class="input-group-btn ml-2">
                      <button class="btn btn-sm btn-default" type="submit" onclick="onSubmit()"><span class="fe fe-search"></span></button></span>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-striped table-vcenter text-nowrap mb-0">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Vehicle Number</th>
                    <th>Date Created</th>
                    <th>Created By</th>
                    <th >Driver Info</th>
                    <!--<th>Action</th>-->
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="working">
                    <td colspan="8" class="progressbar" style="alignment: center">
                      <p>
                        loading
                        <!--<ngb-progressbar value="500" [striped]="true" [animated]="true" type="success"></ngb-progressbar>-->
                      </p>
                    </td>
                  </tr>
                  <ng-container *ngIf="queryResult && queryResult.results.length > 0 && !working">
                    <tr *ngFor="let row of queryResult.results; let i = index">
                    <td class="w40">{{i+offset+1}}</td>
                    <td><span>{{row.vehicleNumber}}</span></td>
                    <td>{{row.dateCreated | date: 'dd MMM, yyyy'}}</td>
                    <td>{{row.createdBy ? row.createdBy.name : 'N/A'}}</td>
                    <td class="d-flex" *ngIf="row.driver">
                      <span class="avatar avatar-blue" data-toggle="tooltip" title="" data-original-title="Avatar Name">MN</span>
                      <div class="ml-3">
                        <h6 class="mb-0">{{row.driver.name}}</h6>
                        <span class="text-muted" *ngIf="row.driver.emailAddress">{{row.driver.emailAddress}} |</span> <span class="text-muted"> {{row.driver.phoneNumber}} </span>
                      </div>
                    </td>
                      <td class="d-flex" *ngIf="!row.driver">
                        <div class="ml-3" (click)="openDriverModal(driverModal, row.vehicleNumber)" style="cursor: pointer">
                          <h6 class="mb-0">DRIVER NOT ASSIGNED</h6>
                          <span class="text-muted">Click here to assign driver</span>
                        </div>
                      </td>

                  <!--  <td>
                      <button type="button" class="btn btn-icon btn-sm mr-1" title="View"><i class="fa fa-eye"></i></button>
                      <button type="button" class="btn btn-icon btn-sm mr-1" title="Edit"><i class="fa fa-edit"></i></button>
                      <button type="button" class="btn btn-icon btn-sm js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o text-danger"></i></button>
                    </td>-->
                  </tr>
                  </ng-container>
                  <tr *ngIf="queryResult && queryResult.results.length < 1">
                    <td colspan="8" class="text-center">NO DATA</td>
                  </tr>
                  </tbody>
                </table>
                <div class="float-right" *ngIf="queryResult && queryResult.results.length">
                  <pagination [rotate]="true" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                              lastText="&raquo;" [maxSize]="10" [totalItems]="totalCount" [itemsPerPage]="itemsPerPage" (pageChanged)="onPageChanged($event)"></pagination>
                </div>
            </div>
          </div>
        </div>
        </div>
        <div class="tab-pane fade" [ngClass]="{'show active':navTab == 'Employee-view' || !navTab}" id="Employee-view" role="tabpanel">
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="media mb-4">
                    <img class="avatar avatar-xl mr-3" src="{{url}}assets/images/sm/avatar1.jpg" alt="avatar">
                    <div class="media-body">
                      <h5 class="m-0">Sara Hopkins</h5>
                      <p class="text-muted mb-0">Webdeveloper</p>
                      <ul class="social-links list-inline mb-0 mt-2">
                        <li class="list-inline-item"><a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="1234567890"><i class="fa fa-phone"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="@skypename"><i class="fa fa-skype"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <p class="mb-4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                  <button class="btn btn-outline-primary btn-sm"><span class="fa fa-twitter"></span> Follow</button>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Statistics</h3>
                  <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                  </div>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <div class="row">
                      <div class="col-6 pb-3">
                        <label class="mb-0">Project</label>
                        <h4 class="font-30 font-weight-bold">45</h4>
                      </div>
                      <div class="col-6 pb-3">
                        <label class="mb-0">Growth</label>
                        <h4 class="font-30 font-weight-bold">87%</h4>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="d-block">Laravel<span class="float-right">77%</span></label>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="d-block">HTML<span class="float-right">50%</span></label>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                    </div>
                  </div>
                  <div class="form-group mb-0">
                    <label class="d-block">Photoshop <span class="float-right">23%</span></label>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width: 23%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-12">
              <div class="card">
                <div class="card-body">
                  <ul class="new_timeline mt-3">
                    <li>
                      <div class="bullet pink"></div>
                      <div class="time">11:00am</div>
                      <div class="desc">
                        <h3>Attendance</h3>
                        <h4>Computer Class</h4>
                      </div>
                    </li>
                    <li>
                      <div class="bullet pink"></div>
                      <div class="time">11:30am</div>
                      <div class="desc">
                        <h3>Added an interest</h3>
                        <h4>“Volunteer Activities”</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                      </div>
                    </li>
                    <li>
                      <div class="bullet green"></div>
                      <div class="time">12:00pm</div>
                      <div class="desc">
                        <h3>Developer Team</h3>
                        <h4>Hangouts</h4>
                        <ul class="list-unstyled team-info margin-0 p-t-5">
                          <li><img src="{{url}}assets/images/xs/avatar1.jpg" alt="Avatar"></li>
                          <li><img src="{{url}}assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                          <li><img src="{{url}}assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                          <li><img src="{{url}}assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="bullet green"></div>
                      <div class="time">2:00pm</div>
                      <div class="desc">
                        <h3>Responded to need</h3>
                        <a href="javascript:void(0)">“In-Kind Opportunity”</a>
                      </div>
                    </li>
                    <li>
                      <div class="bullet orange"></div>
                      <div class="time">1:30pm</div>
                      <div class="desc">
                        <h3>Lunch Break</h3>
                      </div>
                    </li>
                    <li>
                      <div class="bullet green"></div>
                      <div class="time">2:38pm</div>
                      <div class="desc">
                        <h3>Finish</h3>
                        <h4>Go to Home</h4>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" [ngClass]="{'show active':navTab == 'Employee-Request' || !navTab}" id="Employee-Request" role="tabpanel">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-striped table-vcenter text-nowrap mb-0">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Employee ID</th>
                    <th>Leave Type</th>
                    <th>Date</th>
                    <th>Reason</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="width45">
                      <span class="avatar avatar-orange" data-toggle="tooltip" title="Avatar Name">DB</span>
                    </td>
                    <td>
                      <div class="font-15">Marshall Nichols</div>
                    </td>
                    <td><span>LA-8150</span></td>
                    <td><span>Casual Leave</span></td>
                    <td>24 July, 2019 to 26 July, 2019</td>
                    <td>Going to Family Function</td>
                    <td>
                      <button type="button" class="btn btn-icon btn-sm mr-1" title="Approved"><i class="fa fa-check text-success"></i></button>
                      <button type="button" class="btn btn-icon btn-sm js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o text-danger"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td class="width45">
                      <span class="avatar avatar-pink" data-toggle="tooltip" title="Avatar Name">GC</span>
                    </td>
                    <td>
                      <div class="font-15">Gary Camara</div>
                    </td>
                    <td><span>LA-8795</span></td>
                    <td><span>Medical Leave</span></td>
                    <td>20 July, 2019 to 26 July, 2019</td>
                    <td>Going to Development</td>
                    <td>
                      <button type="button" class="btn btn-icon btn-sm mr-1" title="Approved"><i class="fa fa-check text-success"></i></button>
                      <button type="button" class="btn btn-icon btn-sm js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o text-danger"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td class="width45">
                      <img class="avatar" src="{{url}}assets/images/xs/avatar1.jpg"  data-toggle="tooltip" title="Avatar Name"/>
                    </td>
                    <td>
                      <div class="font-15">Maryam Amiri</div>
                    </td>
                    <td><span>LA-0258</span></td>
                    <td><span>Casual Leave</span></td>
                    <td>21 July, 2019 to 26 July, 2019</td>
                    <td>Attend Birthday party</td>
                    <td>
                      <button type="button" class="btn btn-icon btn-sm mr-1" title="Approved"><i class="fa fa-check text-success"></i></button>
                      <button type="button" class="btn btn-icon btn-sm js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o text-danger"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td class="width45">
                      <img class="avatar" src="{{url}}assets/images/xs/avatar2.jpg"  data-toggle="tooltip" title="Avatar Name"/>
                    </td>
                    <td>
                      <div class="font-15">Frank Camly</div>
                    </td>
                    <td><span>LA-1515</span></td>
                    <td><span>Casual Leave</span></td>
                    <td>11 Aug, 2019 to 21 Aug, 2019</td>
                    <td>Going to Holiday</td>
                    <td>
                      <button type="button" class="btn btn-icon btn-sm mr-1" title="Approved"><i class="fa fa-check text-success"></i></button>
                      <button type="button" class="btn btn-icon btn-sm js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o text-danger"></i></button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Vehicle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form name="form" (ngSubmit)=" createVehicle(f)" #f="ngForm" novalidate>
        <div class="row clearfix">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Vehicle Number"  [(ngModel)]="form.vehicleNumber" #vehicleNumber="ngModel"
                     required name="vehicleNumber"/>
              <div *ngIf="(f.form.dirty || f.form.touched) && vehicleNumber.invalid">
                <div *ngIf="vehicleNumber.errors.required">Vehicle Number is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <select class="form-control show-tick"  [(ngModel)]="form.vehicleType" #vehicleType="ngModel" name="vehicleType"
                      required >
                <option value="MOTORCYCLE">MOTORCYCLE</option>

              </select>
              <div *ngIf="(f.form.dirty || f.form.touched) && vehicleType.invalid">
                <div *ngIf="vehicleType.errors.required">Vehicle Type is required</div>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary">Proceed <i class="fa fa-spinner fa-spin" *ngIf="registering"></i></button>
      </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #driverModal>
      <div class="modal-header">
        <h5 class="modal-title" >Add Driver to {{driverForm.vehicleNumber}}</h5>
        <button type="button" class="close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form name="form" (ngSubmit)=" createDriver(f)" #f="ngForm" novalidate>
        <div class="row clearfix">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder=""  [(ngModel)]="driverForm.vehicleNumber" #vehicleNumber="ngModel"
                     required name="vehicleNumber" readonly/>
              <div *ngIf="(f.form.dirty || f.form.touched) && vehicleNumber.invalid">
                <div *ngIf="vehicleNumber.errors.required">Vehicle Number is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name"  [(ngModel)]="driverForm.name" #name="ngModel"
                     required name="name"/>
              <div *ngIf="(f.form.dirty || f.form.touched) && name.invalid">
                <div *ngIf="name.errors.required">Name is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username"  [(ngModel)]="driverForm.username" #username="ngModel"
                     required name="username" minlength="6"/>
              <div *ngIf="(f.form.dirty || f.form.touched) && username.invalid">
                <div *ngIf="username.errors.required">Username is required</div>
                <div *ngIf="username.errors.minlength">Username must have more than 6 characters</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email Address"  [(ngModel)]="driverForm.email" #email="ngModel"
                      name="email"/>
              <div *ngIf="(f.form.dirty || f.form.touched) && email.invalid">
                <div *ngIf="email.errors.email">Enter a valid Email</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Phone Number"  [(ngModel)]="driverForm.phoneNumber" #phoneNumber="ngModel"
                     required name="phoneNumber"/>
              <div *ngIf="(f.form.dirty || f.form.touched) && phoneNumber.invalid">
                <div *ngIf="phoneNumber.errors.required">Phone Number is required</div>
              </div>
            </div>
          </div>

        </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
        <button class="btn btn-primary">Proceed <i class="fa fa-spinner fa-spin" *ngIf="registering"></i></button>
      </div>
        </form>
      </div>


</ng-template>

