<div class="card" *ngIf="delivery && ( delivery.status == 'DRIVER_ASSIGNED' || delivery.status == 'IN_TRANSIT' )">
  <div class="card-body">
    <button class="btn btn-info col-md-12" type="button" *ngIf="delivery.status == 'DRIVER_ASSIGNED'" (click)="updateStatus('IN_TRANSIT')">Mark As Picked Up</button>
    <button class="btn btn-success col-md-12" type="button" *ngIf="delivery.status == 'IN_TRANSIT'" (click)="updateStatus('DELIVERED')">Mark As Delivered</button>
  </div>
</div>
