 
<div id="page_top" class="section-body " *ngIf="isLoggedIn()">
  <div class="container-fluid">
    <div class="page-header">
      <div class="left">
        <ul class="nav nav-pills">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Language</a>
            <div class="dropdown-menu">
              <small class="text-yellow dropdown-item">Coming Soon!</small>
              <a class="dropdown-item" href="#"><img class="w20 mr-2" src="{{url}}assets/images/flags/us.svg">English</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><img class="w20 mr-2" src="{{url}}assets/images/flags/ke.svg">Swahili</a>
              <a class="dropdown-item" href="#"><img class="w20 mr-2" src="{{url}}assets/images/flags/bl.svg">French</a>
              <a class="dropdown-item" href="#"><img class="w20 mr-2" src="{{url}}assets/images/flags/es.svg">Spanish</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="right">
        <div class="notification d-flex">
          <div class="dropdown d-flex">
            <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-1" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge badge-yellow nav-unread"></span></a>
          </div>
          <div class="dropdown d-flex">
            <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-1" data-toggle="dropdown"><i class="fa fa-user"></i></a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" routerLink="#"><i class="dropdown-icon fe fe-user"></i> Profile</a>
              <a class="dropdown-item" (click)="logout()" ><i class="dropdown-icon fe fe-log-out"></i> Sign out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

