<app-header-top></app-header-top>
<app-left-sidebar></app-left-sidebar>
<div class="page">
  <app-page-topbar></app-page-topbar>
  <div class="section-body mt-3">
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12">
          <div class="mb-4">
            <h4>Welcome {{displayName||''}}!</h4>
          </div>
        </div>
      </div>
      <div class="row clearfix row-deck">
        <div class="col-lg-6 col-md-12">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Delivery Requests</h3>
              </div>
              <div class="card-body">
                <div class="row text-center">
                  <div class="col-lg-4 col-sm-12 border-right">
                    <label class="mb-0 font-10">Today</label>
                    <h4 class="font-20 font-weight-bold">{{ stats.countToday | number}}</h4>
                  </div>
                  <div class="col-lg-4 col-sm-12 border-right">
                    <label class="mb-0 font-10">This Month</label>
                    <h4 class="font-20 font-weight-bold">{{stats.countThisMonth | number}}</h4>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <label class="mb-0 font-10">This Year</label>
                    <h4 class="font-20 font-weight-bold">{{stats.countThisYear | number}}</h4>
                  </div>
                </div>
              </div>
              <div class="card-footer">
<span>Total Completed Deliveries: <b>{{stats.totalDeliveries | number}}</b></span>
              </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Payments</h3>

              </div>
              <div class="card-body">
                <div class="row text-center">
                  <div class="col-lg-4 col-sm-12 border-right">
                    <label class="mb-0 font-10">Today</label>
                    <h4 class="font-20 font-weight-bold">{{(stats.totalToday/100.00) | currency:'N'}}</h4>
                  </div>
                  <div class="col-lg-4 col-sm-12 border-right">
                    <label class="mb-0 font-10">This Month</label>
                    <h4 class="font-20 font-weight-bold">{{(stats.totalThisMonth/100.00) | currency:'N'}}</h4>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <label class="mb-0 font-10">This Year</label>
                    <h4 class="font-20 font-weight-bold">{{(stats.totalThisYear/100.00) | currency:'N'}}</h4>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <span>Total Outstandings:<b> {{(stats.totalOutstandings/100.00) | currency:'N'}}</b></span>
              </div>
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Recent Delivery Requests</h3>
              <div class="card-options">
                <a href="javascript:void(0)" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>

              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-striped table-vcenter mb-0">
                  <thead>
                  <tr>
                    <th>Recipient Name</th>
                    <th>Tracking ID</th>
                    <th>Date</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="working">
                    <td colspan="8" class="progressbar text-center" >
                      <p>
                        loading
                        <!--<ngb-progressbar value="500" [striped]="true" [animated]="true" type="success"></ngb-progressbar>-->
                      </p>
                    </td>
                  </tr>
                  <ng-container *ngIf="queryResult && queryResult.results.length > 0 && !working">
                    <tr *ngFor="let row of queryResult.results; let i = index" [routerLink]="['/delivery-requests', row.trackingId]">
                      <td>
                        <div class="font-15">{{row.recipientName}}</div>
                        <span class="text-muted">{{row.recipientPhoneNo}}</span>
                      </td>
                      <td><span>{{row.trackingId}}</span></td>
                      <td>{{row.dateCreated | date:'dd MMM, yyyy hh:mm a'}}</td>
                      <td>
                        <a [routerLink]="['/delivery-requests', row.trackingId]" class="btn btn-yellow btn-round">{{row.status.replace('_', ' ')}}</a>
                      </td>
                    </tr>
                  </ng-container>
                  <tr *ngIf="queryResult && queryResult.results.length < 1">
                    <td colspan="8" class="text-center">NO DATA</td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <app-footer></app-footer>
</div>
